<!DOCTYPE html>
<html>
<head>
    <title>Passwort vergessen - Wacker Gladbeck 1920 e.V.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="Wacker Gladbeck, Wacker Gladbeck 1920 e.V., Wacker, Gladbeck, 1920, Eingetragener Verein, e.V., Verein, Fußballgemeinschaft, Amateurverein, Amateurfußball, Ascheplatz, Fußballverein, Fußball, Fussball, Jugendabteilung, Jugend, Kinder, Sport, Damenfußball, Seniorenabteilung, Vereinsheim, Wittringen, Schloss Wittringen, Wasserschloss Wittringen, Stadion Gladbeck, Gladbecker Stadion, Turnier, Jugendfußball, Fußball spielen, Fußballmannschaft, Nordrhein-Westfalen, Sportverein, Gemeinschaft, Probetraining" />
    <meta name="page-topic" content="Sport, Fußball, Fussball, Gladbeck, Jugend, Sportanlage, Fitness, Gemeinschaft, Verein" />
    <meta name="page-type" content="Fuballverein, Homepage, Sport, Vereinseite" />
    <meta name="audience" content="Alle"><meta http-equiv="content-language" content="de">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Wacker Gladbeck 1920 e.V." />

    <link rel="shortcut icon" href="http://localhost:9376/assets/img/icons/favicon-16x16.png" type="image/png" />
    <link rel="icon" href="http://localhost:9376/assets/img/icons/favicon-16x16.png" type="image/png" />
    <link rel="alternate" hreflang="x-default" href="{#{{ app.request.uri }}#}" />
    <link rel="canonical" href="https://www.wacker-gladbeck.de" />
    <meta name="identifier-url" content="https://www.wacker-gladbeck.de" />

    <meta property="fb:app_id" content="479445678871045" />
    <meta property="og:title" content="Fußball bei Wacker Gladbeck 1920 e.V. - Fußball in Gladbeck" />
    <meta property="og:site_name" content="Wacker Gladbeck 1920 e.V." />
    <meta property="og:url" content="https://wacker-gladbeck.de" />
    <meta property="og:description" content="Herzlich Willkommen bei Wacker Gladbeck 1920 e.V. - Deinem Fußballverein im Süden von Gladbeck!" />
    <meta property="og:image" content="http://wacker-gladbeck.de/assets/img/logo/logo_platz_bg.png" />
    <meta property="og:image:secure_url" content="http://wacker-gladbeck.de/assets/img/logo/logo_platz_bg.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_DE" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/img/icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/icons/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- VENDOR FILES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- CUSTOM FILES -->
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <link href="{{ asset('assets/css/stylesheet.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/forget-password.css') }}" rel="stylesheet" />
</head>
<body>

<!-- Container -->
<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light nav-list">
        <div id="nav-logo-box" class="nav-logo-box-small">
            <a class="navbar-brand" href="" title="Wacker Gladbeck Startseite">
                <img src="{{ asset('assets/img/logo/logo_transparent.png') }}" id="logo" title="Wacker Gladbeck Logo" alt="Wacker Gladbeck Logo" />
            </a>
            <span>Wacker Gladbeck</span>
            <div class="clear"></div>
        </div>

        <button type="button" id="sidebar-btn">
            <i class="fas fa-bars"></i>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item first-nav-element">
                    <a class="nav-link" href="{{ path('news') }}">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Verein <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('aboutus') }}">Über uns</a>
                                    <a class="dropdown-item" href="">Vorstand</a>
                                    <a class="dropdown-item" href="">Trainer</a>
                                    <a class="dropdown-item" href="{{ path('geschichte') }}">Geschichte</a>
                                    <a class="dropdown-item" href="{{ path('portrait') }}">Portrait</a>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="">Vereinsheim</a>
                                    <a class="dropdown-item" href="">Sportplatz</a>
                                    <a class="dropdown-item" href="">Anfahrt</a>
                                    <a class="dropdown-item" href="">Termine</a>
                                    <a class="dropdown-item" href="">Mitgliedschaft</a>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mannschaften <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="">1. Mannschaft</a>
                                    <a class="dropdown-item" href="">2. Mannschaft</a>
                                    <a class="dropdown-item" href="">3. Mannschaft</a>
                                    <a class="dropdown-item" href="">4. Mannschaft</a>
                                    <a class="dropdown-item" href="">Altherren</a>
                                    <a class="dropdown-item" href="">Damen</a>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="">Jugendabteilung</a>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Trainingszeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Schiedsrichter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Sponsoren</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medien
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('bildergalerie') }}">Bildergalerie</a>
                        <a class="dropdown-item" href="{{ path('wackertv') }}">WackerTV</a>
                        <a class="dropdown-item" href="{{ path('downloads') }}">Downloads</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kontakt
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="">Kontaktdaten</a>
                        <a class="dropdown-item" href="{{ path('impressum') }}">Impressum</a>
                        <a class="dropdown-item" href="{{ path('links') }}">Links</a>
                        <a class="dropdown-item" href="">Gästebuch</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Content -->
    <div id="content">

        <!-- Section-One -->
        <section id="section-one" class="bg-dark-field">
            <div class="background-overlay-04"></div>
            <div class="row">
                <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 text-center">
                    <div id="login-logo-box">
                        <img src="{{ asset('assets/img/logo/logo_transparent.png') }}" />
                    </div>
                    <div id="forget-password-box">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-12">
                                <h1>E-Mail versendet</h1>
                                <p>
                                    Wir haben eine E-Mail mit einem Link zum Zurücksetzen des Passworts an die eingegebene E-Mailadresse versendet!<br />
                                    Bitte beachten Sie, dass dieser Link nur für 30 Minuten gültig ist!
                                </p>
                                <a href="{{ path('login') }}" id="login-btn">Zurück zum Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section-One -->

        <!-- Footer -->
        <footer>
            <div id="footer-top">
                <div class="row text-left">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <ul class="top-level-list">
                            <li><a href="" title="Aktuelles">News</a></li>
                            <li><a href="" title="Geschichte">Trainingszeiten</a></li>
                            <li><a href="" title="Geschichte">Schiedsrichter</a></li>
                            <li><a href="" title="Geschichte">Sponsoren</a></li>
                            <li><div class="sharethis-inline-share-buttons"></div></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Verein</span>
                        <ul>
                            <li><a href="" title="Aktuelles">Über uns</a></li>
                            <li><a href="" title="Geschichte">Vorstand</a></li>
                            <li><a href="" title="Geschichte">Trainer</a></li>
                            <li><a href="" title="Geschichte">Geschichte</a></li>
                            <li><a href="" title="Geschichte">Vereinsheim</a></li>
                            <li><a href="" title="Geschichte">Sportplatz</a></li>
                            <li><a href="" title="Geschichte">Anfahrt</a></li>
                            <li><a href="" title="Geschichte">Termine</a></li>
                            <li><a href="" title="Geschichte">Mitgliedschaft</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Mannschaften</span>
                        <ul>
                            <li><a href="" title="Über uns">1. Mannschaft</a></li>
                            <li><a href="" title="Mitgliedschaft">2. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">3. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">4. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">Altherren</a></li>
                            <li><a href="" title="Geschichte">Damen</a></li>
                            <li><a href="" title="Geschichte">Jugendabteilung</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Medien</span>
                        <ul id="medien-nav-list">
                            <li><a href="" title="Sponsor werden">Bildergalerie</a></li>
                            <li><a href="" title="Unsere Partner">WackerTV</a></li>
                        </ul>

                        <span>Kontakt</span>
                        <ul>
                            <li><a href="" title="Impressum">Kontaktdaten</a></li>
                            <li><a href="" title="Kontakt">Impressum</a></li>
                            <li><a href="" title="Geschichte">Links</a></li>
                            <li><a href="" title="Geschichte">Gästebuch</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><span>Copyright &copy; {{ "now"|date("Y") }} - Wacker Gladbeck 1920 e.V.</span></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span>Folge uns auf</span>
                        <a href="https://www.facebook.com/Wacker-Gladbeck-1920-eV-375779892586904/" title="Wacker Gladbeck auf Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" title="Wacker Gladbeck auf Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UC3vQzWZnETfMoj4uE5zFCzQ" title="Wacker Gladbeck auf YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- End Content -->

</div>
<!-- End Container -->

</body>
</html>