{% extends 'layout.html.twig' %}



{# Content #}
{% block main %}

    <!-- Section-One -->
    <section id="section-one">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section id="section-two">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>Entdecke das Wacker Gladbeck-Vereinslokal in 360°-Sicht</h3>
                {% if panorama == "off" %}
                    <img src="../assets/img/graphics/coming-soon-min.png" id="coming-soon-banner" alt="Wacker Gladbeck Vereinsheim anmieten" title="Coming Soon" />
                {% else %}
                    <p>Für die 360°-Sicht bewege dazu mit dem Mauszeiger gedrückt das Bild von links nach rechts bzw. von rechts nach links!</p>
                    <iframe width="600" height="400" allowfullscreen src="https://cdn.pannellum.org/2.3/pannellum.htm#panorama=https%3A//upload.wikimedia.org/wikipedia/commons/f/f7/Melbourne_Docklands_-_Yarras_Edge_-_marina_panorama.jpg&title=dfdfdf&autoLoad=true"></iframe>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <!-- Section-Three -->
    <section id="section-three" class="bg-yellow-field">
        <h3>Vereinsheim-Anmietung</h3>
        <p>
            Unser Vereinsheim kann zu verschiedenen Feiern und Festen wie u.a. Polterabend, Hochzeit, Jubiläum,<br />
            Weihnachtsfeiern & Geburtstag angemietet werden.<br />
            Bitte richten Sie Ihre Anfrage an unsere Vereinheim-Wirtin Elvira Jakubowski
        </p>
        <a href="{{ path('kontakt') }}" title="Vereinsheim-Anmietung"><button id="send-event-btn">Kontaktiere uns jetzt</button></a>
    </section>
    <!-- End Section-Three -->

{% endblock %}
{# End Content #}
