{% extends 'layout.html.twig' %}


{% block title %}Jugendabteilung - Nachwuchsarbeit bei Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Wacker Gladbeck Jugendabteilung | Unser Nachwuchs besteht aus Mannschaften von den Minis bis zu den A-Junioren | Kinder & Jugendliche sind herzlich Willkommen!{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/jugend.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Wacker Gladbeck Jugendabteilung</h1>
            <h2>Unser Nachwuchs. Unsere Zukunft.</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-Two -->
    <section class="bg-dark-field" id="section-two">
        <div id="background-overlay"></div>
        <div class="container">
            <h4>Wir sind Ascheplatzhelden</h4>
            <h3>Nachwuchsarbeit in der Jugendabteilung bei Wacker Gladbeck</h3>

            <img src="{{ asset('assets/img/banner/jugendabteilung-banner.jpg') }}" alt="Wacker Gladbeck Jugendabteilung - Unser Nachwuchs" title="Wacker Gladbeck Jugendabteilung - Unser Nachwuchs" />

            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="#section-one">
                        <i class="fas fa-receipt"></i><i class="fas fa-quote-right"></i> Vorwort
                    </a>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="#section-four">
                        <i class="fas fa-users"></i> Mannschaften
                    </a>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="#section-three">
                        <i class="fas fa-address-card"></i> Jugendvorstand
                    </a>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="#section-five">
                        <i class="fas fa-trophy"></i> Ostercup
                    </a>
                </div>
            </div>

        </div>
    </section>
    <!-- End Section-Two -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="container">
            <p>
                Liebe Kinder und Jugendliche, liebe Eltern.
            </p>
            <p>
                Eine <strong>gute Jugendarbeit</strong> ist Grundbaustein eines jeden Vereins. Wir wollen aber nicht nur Leistung fördern sondern auch eine Anlaufstelle
                für den <strong>Nachwuchs</strong>, Kinder und Jugendliche, in ihrer Freizeit sein.
            </p>
            <p>
                In der <strong>Jugendabteilung von Wacker Gladbeck</strong> soll allen interessierten Kindern und Jugendlichen, unabhängig von der Herkunft, eine <strong>Altersentsprechende
                    Fußballförderung</strong> angeboten werden.<br />Im Mittelpunkt in unserer Arbeit steht die altersgerechte Förderung unseres <strong>Nachwuchs</strong>, jedes Spielers, genauso
                wichtig wie die sportliche ist uns auch die "menschliche" Weiterentwicklung der Kinder und Jugendlichen. Besonders Wert wird auf dem sozialen Verhalten, guten Umgang
                miteinander, Teamgeist, Zusammenhalt, wie auch auf Disziplin, Verantwortung und Engagement gelegt. Jedes Kind, Jugendliche und Elternteil soll sich Hundert Prozent mit
                unserem Verein identifizieren können.<br />Bei den jüngeren Jahrgängen (Bambinis bis zu F-Jugend) soll der <strong>Spaß an Spiel und Bewegung</strong> im Vordergrund stehen, überzogenes
                Leistungsorientiertes denken lehnen wir ab.<br />Von der F-Jugend an werden die Trainingsinhalte fußballspezifischer und leistungsorientierter, dabei bleibt der Spaß an
                Bewegung ein wichtiger Bestandteil des Trainings.
            </p>
            <p>
                Unsere Trainer verpflichten sich in Sachen Pünktlichkeit, Zuverlässligkeit und Disziplin ein Vorbild für Kinder und Jugendliche zu sein. Ein fairer Umgang mit Spielern und
                Eltern der eigenen Mannschaft ist für sie selbstverständlich wie der faire Umgang mit Spielern der gegnerischen Mannschaft und Schiedsrichtern. Sie sind ein Bindeglied
                zwischen den Eltern und der Vereinsführung, sie tragen die Interessen des Vereins zu den Eltern und umgekehrt. Sie unterstützen den Verein aber auch besonders
                die <strong>Jugendabteilung</strong> bei Veranstaltungen.
            </p>
            <p>
                Von den Eltern der Spieler wird ein Respektvoller Umgang mit Trainer und Spieler der eigene wie auch der gegnerischen Mannschaft erwartet. Sie sprechen eventuell auftretende
                Probleme mit Trainer oder direkt mit Vereinsführung ab und unterstützen bestmöglich die <strong>Jugendabteilung</strong> bei der Durchführung von Turnieren und Veranstaltungen.
                <br />Ein besonderer Wert wird auf die Umsetzung der Vorgaben der Fair-Play-Liga gelegt.</p>
            <p>Der Jugendvorstand</p>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Four -->
    <section class="bg-yellow-field" id="section-four">
        <div class="container">
            <h3>Mannschaften</h3>
            <div class="row">
                {% for team in teams %}
                    <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <a href="" class="team-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <div class="team-box-content">
                                <h4>U{{ random(['4', '6', '8', '10']) }}</h4>
                                <h5>{{ team.team_name }}</h5>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Four -->

    <!-- Section-Three -->
    <section id="section-three">
        <div class="container">
            <h3>Jugendvorstand</h3>
            <div class="row">
                {% for member in jugendvorstand %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="news-box">
                            <a href="" title="" class="news-image-box">
                                <img src="{{ asset('assets/img/persons') }}/{{ member.picture|replace({'_klein': ''}) }}" />
                                <div class="news-box-overlay"></div>
                                <div class="news-content">
                                    <div class="news-category">
                                        <div class="news-category-left">{{ member.vorstand_name }}</div>
                                        <div class="news-category-right"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="news-category2">
                                        <div class="news-category-left2">{{ member.role|replace({'&auml;': "ä", "&uuml;" : "ü"}) }}</div>
                                        <div class="news-category-right2"></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="news-content-box">
                                <p><i class="far fa-envelope"></i> info@wacker-gladbeck.de</p>
                                <hr />
                                <p>Tel.: 02043 / 288050</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Three -->

    <!-- Section-Five -->
    <section id="section-five">
        <div class="iinner">
            <div id="a">
                <div id="b"></div>
                <div id="c">
                    <h3>Wacker Gladbeck Ostercup</h3>
                    <p>
                        Unser jährlicher Ostercup findet traditionell am Ostersamstag im benachbarten Gladbecker Stadion auf Naturrasen statt.
                        Je nach Verfügbarkeit werden ein oder zwei Turniere verschiedener Jahrgänge durchgeführt mit regionalen sowie überregionalen Mannschaften.
                    </p>
                    <p>Bildergalerien der jeweiligen Ostercups finden Sie in unserer Bildergalerie-Übersicht.</p>
                    <a href="{{ path('ostercup') }}" class="btn btn-dark">
                        <i class="fas fa-link"></i> Zur Ostercup-Sonderseite
                    </a>
                </div>
                <div id="d"></div>
            </div>
            <img src="{{ asset('assets/img/logo/ostercup_2018_logo_trans.png') }}" />
        </div>
    </section>
    <!-- End Section-Five -->

    <div class="shadow-line"></div>

{% endblock %}