{% extends 'layout.html.twig' %}


{% block title %}{{ teamPage.team_name }} - Mannschaftsseite - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Für eine Mitgliedschaft bei Wacker Gladbeck fülle einfach den Aufnahmeantrag aus und schicke diesen an uns. Schon gehörst Du als Mitglied zu Wacker Gladbeck dazu!{% endblock %}


{% block files %}
    <!--<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/xy.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/black.js"></script>
    <script src="{#{{ asset('assets/js/teampage.js') }}#}"></script>-->
    <link rel="stylesheet" href="{{ asset('assets/css/teampage.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>{{ teamPage.team_name }}</h1>
            <h2>Mannschaftsart {{ section|capitalize }}</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-Two -->
    <section id="section-two">

        <!-- Tabs-Container -->
        <div id="tabs-containertr">

            <ul class="nav nav-tabs top-nav" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="team_info-tab" data-toggle="tab" href="#team_info" role="tab" aria-controls="homwe" aria-selected="true">
                        <i class="fas fa-info-circle"></i> Mannschaftsinfo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="trainer_player-tab" data-toggle="tab" href="#trainer_player" role="tab" aria-controls="home" aria-selected="true">
                        <i class="fas fa-users"></i> Trainer & Spieler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="table-tab" data-toggle="tab" href="#table" role="tab" aria-controls="profile" aria-selected="false">
                        <i class="fas fa-table"></i> Tabelle
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="game_play-tab" data-toggle="tab" href="#game_plan" role="tab" aria-controls="contact" aria-selected="false">
                        <i class="far fa-calendar-alt"></i> Spielplan
                    </a>
                </li>
            </ul>
            <div class="tab-content top-tab-content" id="myTabContent">
                <div class="tab-pane show active" id="team_info" role="tabpanel" aria-labelledby="team_info-tab">
                    <div class="tab-content-box">
                        <div class="row">
                            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12 col-xs-12">
                                <div id="training-times-box">
                                    <div class="section-area-headline">
                                        <h3><i class="fas fa-bars"></i> Trainingszeiten</h3>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                {% for row in trainingTimes %}
                                                    <tr>
                                                        <td>{{ row.day }}</td>
                                                        <td>{{ row.time }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div id="contact-box">
                                    <div class="section-area-headline">
                                        <h3><i class="fas fa-bars"></i> Kontakt</h3>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            {% for trainer in trainers %}
                                                <tr>
                                                    <td>{{ trainer.trainer_name }}</td>
                                                    <td>{{ trainer.trainer_email }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                <div id="statistics-box">
                                    <div class="section-area-headline">
                                        <h3><i class="fas fa-bars"></i> Liga-Statistik</h3>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.gamesCount }}</span>
                                                <span class="statistic-name">Spiele</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.points }}</span>
                                                <span class="statistic-name">Punkte</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.goalsOwn }}:{{ teamLeagueStatistics.goalsRival }}</span>
                                                <span class="statistic-name">Tore</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.winsCount }}</span>
                                                <span class="statistic-name">Siege</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.drawCount }}</span>
                                                <span class="statistic-name">Unentschieden</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.defeatCount }}</span>
                                                <span class="statistic-name">Niederlagen</span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.yellowCardsCount }}</span>
                                                <span class="statistic-name"><img src="{{ asset('assets/img/icons/yellow-card.svg') }}" /></span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.yellowRedCardsCount }}</span>
                                                <span class="statistic-name"><img src="{{ asset('assets/img/icons/yellow-red-card.svg') }}" /></span>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                            <div class="statistic-value-box">
                                                <span class="statistic-value">{{ teamLeagueStatistics.redCardsCount }}</span>
                                                <span class="statistic-name"><img src="{{ asset('assets/img/icons/red-card.svg') }}" /></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="trainer_player" role="tabpanel" aria-labelledby="trainer_player-tab">
                    <div class="tab-content-box">

                        <div class="section-area-headline">
                            <h3><i class="fas fa-bars"></i> Trainer</h3>
                        </div>
                        <div class="row">
                            {% for trainer in trainers %}
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="news-box">
                                        <a href="" title="" class="news-image-box">
                                            {% if trainer.picture is empty %}
                                                <img src="http://www.wacker-gladbeck.de/assets/img/personen/Placeholder_no_text.svg.png" />
                                            {% else %}
                                                <img src="{{ asset('assets/img/persons') }}/{{ trainer.picture|replace({'_klein': ''}) }}" />
                                            {% endif %}
                                            <div class="news-box-overlay"></div>
                                            <div class="news-content">
                                                <div class="news-category">
                                                    <div class="news-category-left">{{ trainer.trainer_name }}</div>
                                                    <div class="news-category-right"></div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="news-category2">
                                                    <div class="news-category-left2">{{ trainer.position }}</div>
                                                    <div class="news-category-right2"></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="news-content-box">
                                            <p>
                                                {% if trainer.trainer_email is empty %}
                                                    <i class="fas fa-envelope"></i> info@wacker-gladbeck.de
                                                {% else %}
                                                    <i class="fas fa-envelope"></i> {{ trainer.trainer_email }}
                                                {% endif %}
                                            </p>
                                            <hr />
                                            <p>
                                                {% if trainer.trainer_mobil is empty %}
                                                    <i class="fas fa-phone"></i> -
                                                {% else %}
                                                    <i class="fas fa-phone"></i> {{ trainer.trainer_mobil }}
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="section-area-headline-margin">
                            <h3><i class="fas fa-bars"></i> Spieler</h3>
                        </div>
                        <div class="row">
                            {% for player in teamPlayer %}
                                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                    <div class="news-box">
                                        <a href="" title="" class="news-image-box">
                                            <!--<img src="{#{{ asset('assets/img/persons') }}/{{ player.player_picture|replace({'_klein': ''}) }}#}" />-->
                                            {% if player.player_picture is empty %}
                                                <img src="http://www.wacker-gladbeck.de/assets/img/personen/Placeholder_no_text.svg.png" />
                                            {% else %}
                                                <img src="{{ asset('assets/img/persons/justin-ruwe.jpg') }}">
                                            {% endif %}
                                            <div class="news-box-overlay"></div>
                                            <div class="news-content">
                                                <div class="news-category">
                                                    <div class="news-category-left">{{ player.player_name }}</div>
                                                    <div class="news-category-right"></div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="news-category2">
                                                    <div class="news-category-left2">
                                                        {% if player.position is empty %}
                                                            -
                                                        {% else %}
                                                            {{ player.position }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="news-category-right2"></div>
                                                    <div class="clear"></div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="table" role="tabpanel" aria-labelledby="table-tab">
                    <div class="tab-content-box">
                        <div id="table-box">
                            <div class="white-background-box">
                                {% if (teamPage.team_id < 7) or (teamPage.team_id == 12) %}
                                    <script type="text/javascript" src="https://www.fupa.net/fupa/widget.min.js"></script>
                                    <div id="widget_5b6f4d1ce89ac" >... lade FuPa Widget ...
                                        <script type="text/javascript">
                                            !function(i){window.setTimeout(function(){"undefined"===typeof fupa_widget_domain?--i.t>0&&window.setTimeout(arguments.callee,i.i):i.f()},i.i)}({i:20,t:100,f:function(){team_widget(580348,{act:"tabelle",hea:1,nav:0,div:"widget_5b6f4d1ce89ac",mod:"0"})}});</script>
                                    </div><a href="https://www.fupa.net/club/wacker-gladbeck" target="_blank" class="fupa_link">Wacker Gladbeck auf FuPa</a>
                                {% else %}
                                    <p>Bald verfügbar!</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="game_plan" role="tabpanel" aria-labelledby="game_plan-tab">
                    <div class="tab-content-box">
                        <div id="game-plan-box">
                            <div class="white-background-box">
                                {% if (teamPage.team_id < 7) or (teamPage.team_id == 12) %}
                                    <script type="text/javascript" src="https://www.fupa.net/fupa/widget.min.js"></script>
                                    <div id="widget_5b6f4d780a7c3" >... lade FuPa Widget ...
                                        <script type="text/javascript">
                                            !function(i){window.setTimeout(function(){"undefined"===typeof fupa_widget_domain?--i.t>0&&window.setTimeout(arguments.callee,i.i):i.f()},i.i)}({i:20,t:100,f:function(){team_widget(580348,{act:"spielplan",hea:1,nav:0,div:"widget_5b6f4d780a7c3",mod:"0"})}});</script>
                                    </div><a href="https://www.fupa.net/club/wacker-gladbeck" target="_blank" class="fupa_link">Wacker Gladbeck auf FuPa</a>
                                {% else %}
                                    <p>Bald verfügbar!</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Tabs-Container -->

    </section>
    <!-- End Section-Two -->

    <div class="shadow-line"></div>

{% endblock %}