<!DOCTYPE html>
<html>
<head>
    <title>Fußball in Gladbeck - Fußballverein Wacker Gladbeck 1920 e.V.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Herzlich Willkommen bei Wacker Gladbeck 1920 e.V. - Deinem Fußballverein im Süden von Gladbeck für Jugend-, Damen- & Seniorenfußball!">
    <meta name="keywords" content="Wacker Gladbeck, Wacker Gladbeck 1920 e.V., Wacker, Gladbeck, 1920, Eingetragener Verein, e.V., Verein, Fußballgemeinschaft, Amateurverein, Amateurfußball, Ascheplatz, Fußballverein, Fußball, Fussball, Jugendabteilung, Jugend, Kinder, Sport, Damenfußball, Seniorenabteilung, Vereinsheim, Wittringen, Schloss Wittringen, Wasserschloss Wittringen, Stadion Gladbeck, Gladbecker Stadion, Turnier, Jugendfußball, Fußball spielen, Fußballmannschaft, Nordrhein-Westfalen, Sportverein, Gemeinschaft, Probetraining" />
    <meta name="page-topic" content="Sport, Fußball, Fussball, Gladbeck, Jugend, Sportanlage, Fitness, Gemeinschaft, Verein" />
    <meta name="page-type" content="Fuballverein, Homepage, Sport, Vereinseite" />
    <meta name="audience" content="Alle"><meta http-equiv="content-language" content="de">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Wacker Gladbeck 1920 e.V." />

    <link rel="shortcut icon" href="http://localhost:9376/assets/img/icons/favicon-16x16.png" type="image/png" />
    <link rel="icon" href="http://localhost:9376/assets/img/icons/favicon-16x16.png" type="image/png" />
    <link rel="alternate" hreflang="x-default" href="{#{{ app.request.uri }}#}" />
    <link rel="canonical" href="https://www.wacker-gladbeck.de" />
    <meta name="identifier-url" content="https://www.wacker-gladbeck.de" />

    <meta property="fb:app_id" content="479445678871045" />
    <meta property="og:title" content="Fußball bei Wacker Gladbeck 1920 e.V. - Fußball in Gladbeck" />
    <meta property="og:site_name" content="Wacker Gladbeck 1920 e.V." />
    <meta property="og:url" content="https://wacker-gladbeck.de" />
    <meta property="og:description" content="Herzlich Willkommen bei Wacker Gladbeck 1920 e.V. - Deinem Fußballverein im Süden von Gladbeck!" />
    <meta property="og:image" content="http://wacker-gladbeck.de/assets/img/logo/logo_platz_bg.png" />
    <meta property="og:image:secure_url" content="http://wacker-gladbeck.de/assets/img/logo/logo_platz_bg.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_DE" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/img/icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/icons/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- VENDOR FILES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!--<script src="../assets/vendor/js/sharethis.js#property=58ea111993e82d00122e1550&product=inline-share-buttons" async type="text/javascript" ></script>
    <script src="../assets/tools/jssocials/jssocials.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/tools/jssocials/jssocials.css" />
    <link rel="stylesheet" type="text/css" href="../assets/tools/jssocials/jssocials-theme-flat.css" />-->

    <script src="//cdn.jsdelivr.net/jquery.marquee/1.3.1/jquery.marquee.min.js"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <!-- CUSTOM FILES -->
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="{{ asset('assets/js/index.js') }}"></script>
    <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet" />

    <script>
        jQuery(document).ready(function($) {
            $('.marquee').marquee({
                //speed in milliseconds of the marquee
                duration: 13000,
                //gap in pixels between the tickers
                gap: 200,
                //time in milliseconds before the marquee will start animating
                delayBeforeStart: 0,
                //'left' or 'right'
                direction: 'left',
                //true or false - should the marquee be duplicated to show an effect of continues flow
                duplicated: true,
                pauseOnHover: true
            });

            if ($('.social-feed-text').text().length > 50) {
                $('.social-feed-text').text( $('.social-feed-text').text().substring(0,50)+"..." );
            }

            $('.carousel').carousel({
                interval : 8000,
                pause: false
            });
        })
    </script>
</head>
<body>

<!-- Container -->
<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light nav-list">
        <div id="nav-logo-box" class="nav-logo-box-small">
            <a class="navbar-brand" href="{{ path('index') }}" title="Wacker Gladbeck Startseite">
                <img src="{{ asset('assets/img/logo/logo_transparent.png') }}" id="logo" title="Wacker Gladbeck Logo" alt="Wacker Gladbeck Logo" />
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item first-nav-element">
                    <a class="nav-link" href="{{ path('news') }}">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('verein') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Verein <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('aboutus') }}">Über uns</a>
                                    <a class="dropdown-item" href="{{ path('vorstand') }}">Vorstand</a>
                                    <a class="dropdown-item" href="{{ path('trainer') }}">Trainer</a>
                                    <a class="dropdown-item" href="{{ path('geschichte') }}">Geschichte</a>
                                    <a class="dropdown-item" href="{{ path('portrait') }}">Portrait</a>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('vereinsheim') }}">Vereinsheim</a>
                                    <a class="dropdown-item" href="{{ path('sportplatz') }}">Sportplatz</a>
                                    <a class="dropdown-item" href="{{ path('anfahrt') }}">Anfahrt</a>
                                    <a class="dropdown-item" href="{{ path('termine') }}">Termine</a>
                                    <a class="dropdown-item" href="{{ path('mitgliedschaft') }}">Mitgliedschaft</a>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('teams') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mannschaften <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 1}) }}">1. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 2}) }}">2. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 3}) }}">3. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 4}) }}">4. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 5}) }}">Altherren</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 6}) }}">Damen</a>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('jugend') }}">Jugendabteilung</a>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('trainingszeiten') }}">Trainingszeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('schiedsrichter') }}">Schiedsrichter</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('business') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Business
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('sponsoring') }}">Sponsoring</a>
                        <a class="dropdown-item" href="{{ path('sponsor_werden') }}">Sponsor werden</a>
                        <a class="dropdown-item" href="{{ path('sponsoren') }}">Unsere Sponsoren</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('medien') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medien
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('bildergalerie') }}">Bildergalerie</a>
                        <a class="dropdown-item" href="{{ path('wackertv') }}">WackerTV</a>
                        <a class="dropdown-item" href="{{ path('downloads') }}">Downloads</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('kontakt') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kontakt
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('kontakt') }}">Kontaktdaten</a>
                        <a class="dropdown-item" href="{{ path('impressum') }}">Impressum</a>
                        <a class="dropdown-item" href="{{ path('links') }}">Links</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navigation -->

    <div id="page-header2">
            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for key, lastNew in lastNews %}
                        {% if key == 0 %}
                            <li data-target="#carouselExampleSlidesOnly" data-slide-to="{{ key }}" class="active"></li>
                        {% else %}
                            <li data-target="#carouselExampleSlidesOnly" data-slide-to="{{ key }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div id="headlines-section">
                        <h1>Fußballverein Wacker Gladbeck 1920 e.V.</h1>
                        <h2>Fußball in Gladbeck. Fußball bei Ascheplatzhelden</h2>
                        <h2>Dein Fußballverein im Süden von Gladbeck</h2>
                    </div>
                    <div id="carousel-elements-box">
                        {% for key, lastNew in lastNews %}
                            <div class="carousel-item {{ key == 0 ? 'active' : '' }}" id="carousel-{{ key }}">
                                <div class="carousel-caption d-none d-md-block">
                                    <div class="carousel-item-box col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 col-xs-12">
                                        <span>Fußball</span>
                                        <h1>{{ lastNew.news_title }}</h1>
                                        <p class="aaa">{{ lastNew.news_content|escape|nl2br }}</p>
                                        <a href="{{ path('newsarticle', {'article': lastNew.url_path}) }}" class="btn btn-dark">
                                            <i class="fas fa-eye"></i> Mehr lesen
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </div>

    <!-- Content -->
    <div id="content">

        <!-- Section-One -->
        <section id="section-one" class="bg-yellow-field">
            <div class="inner">
                <div style="width: 300px; position: relative; margin: 0;">
                    <div style="position: absolute; right: 100%; top:0; width: 0px; height: 0px; border-top: 0px solid transparent; border-right: 20px solid #000; border-bottom: 0px solid #000; border-left: 20px solid transparent;"></div>
                    <div style="display: block; padding: 0; line-height: 60px; letter-spacing: 0.02em; text-align: center; color:#FFF;background:#000; height: 60px;">BREAKING <b>NEWS</b></div>
                    <div style="position: absolute; left: 100%; top:0; width: 0px; height: 0px; border-top: 0 solid #000; border-right: 12px solid transparent; border-bottom: 60px solid transparent; border-left: 69px solid #000;"></div>
                </div>
            </div>
            <div class="marquee">
                {% for key, lastNew in lastNews %}
                    {% if key == 5 %}
                        +++ <a href="{{ path('newsarticle', {'article': lastNew.url_path}) }}" title="{{ lastNew.news_title }}">{{ lastNew.news_title }}</a> +++
                    {% else %}
                        +++ <a href="{{ path('newsarticle', {'article': lastNew.url_path}) }}" title="{{ lastNew.news_title }}">{{ lastNew.news_title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="clear"></div>
        </section>
        <!-- End Section-One -->

        <!-- Section-Five -->
        <section id="section-five">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <i class="fas fa-rocket"></i>
                        <h3>Unsere Mission</h3>
                        <p>Spaß am Sport für alle.  Grundlage ist ein professioneller Zugang zum Breitensport.</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <i class="fas fa-bell"></i>
                        <h3>Ein Verein</h3>
                        <p>Gemeinschaft, Freundschaft, Leidenschaft. Kommen Sie ins Team.</p>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <i class="fas fa-users"></i>
                        <h3>Jugendarbeit</h3>
                        <p>Der Spaß steht bei uns an erster Stelle, bei uns werden alle Spieler eingesetzt!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section-Five -->

        <!-- Section-Four -->
        <section id="section-four" class="bg-yellow-field">
            <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                <div class="carousel-inner w-100" role="listbox">
                    {% for key, value in lastGameResults %}
                        {% if key == 0 %}
                            <div class="carousel-item row no-gutters active">
                                <div class="next-game-content">
                                    <div class="next-game-title">
                                        {% if value.status == "finished" %}
                                            Spielergebnis
                                        {% else %}
                                            Nächstes Spiel
                                        {% endif %}
                                    </div>
                                    <div class="next-game-content-team1">
                                        {% if value.ground == "home" %}
                                            Wacker Gladbeck {{ value.team_label_name }}
                                        {% else %}
                                            {{ value.rival_team }}
                                        {% endif %}
                                    </div>
                                    <div class="next-game-content-versus">
                                        {% if value.status == "finished" %}
                                            {{ value.goals_home }} : {{ value.goals_away }}
                                        {% else %}
                                            vs.
                                        {% endif %}
                                    </div>
                                    <div class="next-game-content-team2">
                                        {% if value.ground == "home" %}
                                            {{ value.rival_team }}
                                        {% else %}
                                            Wacker Gladbeck {{ value.team_label_name }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="next-game-footer">
                                    <div class="next-game-footer-date">
                                        <i class="far fa-calendar-alt"></i> {{ value.format_game_date }} Uhr
                                    </div>
                                    <div class="next-game-footer-place">
                                        <i class="fas fa-location-arrow"></i> {{ value.street }} {{ value.street_number }}, {{ value.postcode }} {{ value.city }}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="carousel-item no-gutters">
                                <div class="next-game-content">
                                    <div class="next-game-title">
                                        {% if value.status == "finished" %}
                                            Spielergebnis
                                        {% else %}
                                            Nächstes Spiel
                                        {% endif %}
                                    </div>
                                    <div class="next-game-content-team1">
                                        {% if value.ground == "home" %}
                                            Wacker Gladbeck {{ value.team_label_name }}
                                        {% else %}
                                            {{ value.rival_team }}
                                        {% endif %}
                                    </div>
                                    <div class="next-game-content-versus">
                                        {% if value.status == "finished" %}
                                            {{ value.goals_home }} : {{ value.goals_away }}
                                        {% else %}
                                            vs.
                                        {% endif %}
                                    </div>
                                    <div class="next-game-content-team2">
                                        {% if value.ground == "home" %}
                                            {{ value.rival_team }}
                                        {% else %}
                                            Wacker Gladbeck {{ value.team_label_name }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="next-game-footer">
                                    <div class="next-game-footer-date">
                                        <i class="far fa-calendar-alt"></i> {{ value.format_game_date }} Uhr
                                    </div>
                                    <div class="next-game-footer-place">
                                        <i class="fas fa-location-arrow"></i> {{ value.street }} {{ value.street_number }}, {{ value.postcode }} {{ value.city }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% if lastGameResults|length > 1 %}
                    <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}
            </div>
        </section>
        <!-- End Section-Four -->

        <!-- Section-Three -->
        <section id="section-three">
            <div class="container">
                <div class="row">
                    {% for news in newsData %}
                        <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="news-box">
                                <a href="{{ path('newsarticle', {'article': news.url_path}) }}" title="{{ news.news_title }}" class="news-image-box">
                                    <img src="{{ news.image }}" />
                                    <div class="news-box-overlay"></div>
                                    <div class="news-content">
                                        <div class="news-category">
                                            <div class="news-category-left">sdsdsd</div>
                                            <div class="news-category-right"></div>
                                            <div class="clear"></div>
                                        </div>
                                        <h3 class="news-title">{{ news.news_title }}</h3>
                                    </div>
                                </a>
                                <div class="news-content-box">
                                    <p>{{ news.news_content|striptags }}</p>
                                    <hr />
                                    <span>{{ news.news_date|date("d.m.Y") }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <a href="{{ path('news') }}" id="all-news-link"><i class="fas fa-eye"></i> Alle News</a>
                </div>
            </div>
        </section>
        <!-- End Section-Three -->

        <!-- Section-Two -->
        <section id="section-two" class="bg-dark-field">
            <div class="background-overlay"></div>
            <div id="section-content">
                <div class="triangle-down"></div>

                <h3>Werde Mitglied bei Wacker Gladbeck</h3>
                <p>Wenn Du Spaß und Freude am Fußball hast komm zu uns!</p>
                <a href="{{ path('mitgliedschaft') }}" class="btn btn-dark">
                    <i class="fas fa-thumbs-up"></i> Werde Mitglied
                </a>

                <img src="{{ asset('assets/img/fans.png') }}" id="erst" />
                <img src="{{ asset('assets/img/fans.png') }}" id="zweit" />
            </div>
        </section>
        <!-- End Section-Two -->

        <div class="shadow-line"></div>

        <!-- Section-Seven -->
        <section id="section-seven">
            <div class="iinner">
                <div id="a">
                    <div id="b"></div>
                    <div id="c">
                        <h3>Vereinsheim-Mietung</h3>
                        <p>Unser Vereinsheim steht Ihnen mit allen seinen Vorteilen zur Verfügung!</p>
                        <p>
                            <strong>Buchbar auch für Nicht-Mitglieder!</strong><br />
                            Sie müssen nicht Mitglied der Sportvereins sein um das Lokal zu buchen.
                        </p>
                        <p>In wunderschöner Lage am Wittringer Wald haben Sie die Möglichkeit, für Ihr persönliches „Event“ unser Vereinsheim zu nutzen.</p>
                        <p>Egal ob Geburtstag, Betriebsfest oder Familienfeier, das Vereinsheim bietet Ihnen Platz für bis zu 80 Gästen.</p>
                        <a href="{{ path('vereinsheim') }}" class="btn btn-dark">
                            <i class="fas fa-info-circle"></i> Mehr Informationen
                        </a>
                    </div>
                    <div id="d"></div>
                </div>
            </div>
        </section>
        <!-- End Section-Seven -->

        <!-- Section-Six -->
        <section id="section-six">
            <div class="container">
                <div class="section-area-headline">
                    <h3><i class="fas fa-bars"></i> Social Hub</h3>
                </div>

                <div class="card-columns" id="insta-box-feed">
                    {% for media in feed %}
                        <div class="card">
                            <div class="social-feed-element">
                                <a href="{{ media.link }}" title="{{ media.caption }}" target="_blank"><img src="{{ media.displaySrc }}" class="attachment" /></a>
                                <div class="social-feed-content">
                                    <a class="float-left" href="https://www.instagram.com/wackergladbeck/">
                                        <img src="https://scontent-ams3-1.cdninstagram.com/vp/cc0ea843e0554dd2388e6309eb00cc76/5C282CE1/t51.2885-19/s150x150/19984232_1601722686539158_3524901323642241024_a.jpg" class="media-object">
                                    </a>
                                    <div class="media-body float-right">
                                        <div class="sdsd">
                                            <i class="fab fa-instagram float-left"></i>
                                            <span class="author-title float-left">wackergladbeck</span>
                                            <span class="muted float-right">{{ media.date|date('d.m.Y') }}</span>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="text-wrapper">
                                            <p class="social-feed-text">{{ media.caption }}</p>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- End Section-Six -->

        <!-- Footer -->
        <footer>
            <div id="footer-top">
                <div class="row text-left">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <ul class="top-level-list">
                            <li><a href="" title="Aktuelles">News</a></li>
                            <li><a href="" title="Geschichte">Trainingszeiten</a></li>
                            <li><a href="" title="Geschichte">Schiedsrichter</a></li>
                            <li><a href="" title="Geschichte">Sponsoren</a></li>
                            <li><div class="sharethis-inline-share-buttons"></div></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Verein</span>
                        <ul>
                            <li><a href="" title="Aktuelles">Über uns</a></li>
                            <li><a href="" title="Geschichte">Vorstand</a></li>
                            <li><a href="" title="Geschichte">Trainer</a></li>
                            <li><a href="" title="Geschichte">Geschichte</a></li>
                            <li><a href="" title="Geschichte">Vereinsheim</a></li>
                            <li><a href="" title="Geschichte">Sportplatz</a></li>
                            <li><a href="" title="Geschichte">Anfahrt</a></li>
                            <li><a href="" title="Geschichte">Termine</a></li>
                            <li><a href="" title="Geschichte">Mitgliedschaft</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Mannschaften</span>
                        <ul>
                            <li><a href="" title="Über uns">1. Mannschaft</a></li>
                            <li><a href="" title="Mitgliedschaft">2. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">3. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">4. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">Altherren</a></li>
                            <li><a href="" title="Geschichte">Damen</a></li>
                            <li><a href="" title="Geschichte">Jugendabteilung</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Medien</span>
                        <ul id="medien-nav-list">
                            <li><a href="" title="Sponsor werden">Bildergalerie</a></li>
                            <li><a href="" title="Unsere Partner">WackerTV</a></li>
                        </ul>

                        <span>Kontakt</span>
                        <ul>
                            <li><a href="" title="Impressum">Kontaktdaten</a></li>
                            <li><a href="" title="Kontakt">Impressum</a></li>
                            <li><a href="" title="Geschichte">Links</a></li>
                            <li><a href="" title="Geschichte">Gästebuch</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><span>Copyright &copy; {{ "now"|date("Y") }} - Wacker Gladbeck 1920 e.V.</span></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span>Folge uns auf</span>
                        <a href="https://www.facebook.com/Wacker-Gladbeck-1920-eV-375779892586904/" title="Wacker Gladbeck auf Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" title="Wacker Gladbeck auf Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UC3vQzWZnETfMoj4uE5zFCzQ" title="Wacker Gladbeck auf YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- End Content -->

</div>
<!-- End Container -->

</body>
</html>