<!DOCTYPE html>
<html>
<head>
    <title>Wacker Gladbeck Ostercup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Unser jährlicher Ostercup findet traditionell am Ostersamstag im benachbarten Gladbecker Stadion auf Naturrasen statt. Je nach Verfügbarkeit werden ein oder zwei Turniere verschiedener Jahrgänge durchgeführt mit regionalen sowie überregionalen Mannschaften. " />
    <meta name="keywords" content="Wacker Gladbeck, Wacker Gladbeck 1920 e.V., Wacker, Gladbeck, 1920, Eingetragener Verein, e.V., Verein, Fußballgemeinschaft, Amateurverein, Amateurfußball, Ascheplatz, Fußballverein, Fußball, Fussball, Jugendabteilung, Jugend, Kinder, Sport, Damenfußball, Seniorenabteilung, Vereinsheim, Wittringen, Schloss Wittringen, Wasserschloss Wittringen, Stadion Gladbeck, Gladbecker Stadion, Turnier, Jugendfußball, Fußball spielen, Fußballmannschaft, Nordrhein-Westfalen, Sportverein, Gemeinschaft, Probetraining" />
    <meta name="page-topic" content="Sport, Fußball, Fussball, Gladbeck, Jugend, Sportanlage, Fitness, Gemeinschaft, Verein" />
    <meta name="page-type" content="Fuballverein, Homepage, Sport, Vereinseite" />
    <meta name="audience" content="Alle"><meta http-equiv="content-language" content="de">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Wacker Gladbeck 1920 e.V." />

    <link rel="shortcut icon" href="http://localhost:9376/assets/img/icons/favicon-16x16.png" type="image/png" />
    <link rel="icon" href="http://localhost:9376/assets/img/icons/favicon-16x16.png" type="image/png" />
    <link rel="alternate" hreflang="x-default" href="{#{{ app.request.uri }}#}" />
    <link rel="canonical" href="https://www.wacker-gladbeck.de" />
    <meta name="identifier-url" content="https://www.wacker-gladbeck.de" />

    <meta property="fb:app_id" content="479445678871045" />
    <meta property="og:title" content="Fußball bei Wacker Gladbeck 1920 e.V. - Fußball in Gladbeck" />
    <meta property="og:site_name" content="Wacker Gladbeck 1920 e.V." />
    <meta property="og:url" content="https://wacker-gladbeck.de" />
    <meta property="og:description" content="Herzlich Willkommen bei Wacker Gladbeck 1920 e.V. - Deinem Fußballverein im Süden von Gladbeck!" />
    <meta property="og:image" content="http://wacker-gladbeck.de/assets/img/logo/logo_platz_bg.png" />
    <meta property="og:image:secure_url" content="http://wacker-gladbeck.de/assets/img/logo/logo_platz_bg.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_DE" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/icons/favicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/icons/favicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/icons/favicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/icons/favicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/icons/favicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/icons/favicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/icons/favicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/icons/favicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/icons/favicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('assets/img/icons/favicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/icons/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/icons/favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/icons/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/img/icons/favicons/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('assets/img/icons/favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <!-- VENDOR FILES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="{{ asset('assets/js/vendor/jquery.form.min.js') }}"></script>
    <script src="{{ asset('assets/tools/sweetalert/sweetalert2.all.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/picturefill.min.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lightgallery.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-fullscreen.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-thumbnail.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-video.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-autoplay.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-zoom.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-hash.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-pager.js') }}"></script>
    <script async src="{{ asset('assets/js/vendor/jquery.mousewheel.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/tools/lightgallery/css/lightgallery.css') }}" />

    <!-- CUSTOM FILES -->
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <script src="{{ asset('assets/js/ostercup.js') }}"></script>
    <link href="{{ asset('assets/css/stylesheet.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/ostercup.css') }}" rel="stylesheet" />
</head>
<body>

<!-- Container -->
<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light nav-list">
        <div id="nav-logo-box" class="nav-logo-box-small">
            <a class="navbar-brand" href="{{ path('index') }}" title="Wacker Gladbeck Startseite">
                <img src="{{ asset('assets/img/logo/logo_transparent.png') }}" id="logo" title="Wacker Gladbeck Logo" alt="Wacker Gladbeck Logo" />
            </a>
            <span>Wacker Gladbeck</span>
            <div class="clear"></div>
        </div>

        <button type="button" id="sidebar-btn">
            <i class="fas fa-bars"></i>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item first-nav-element">
                    <a class="nav-link" href="{{ path('news') }}">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('verein') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Verein <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('aboutus') }}">Über uns</a>
                                    <a class="dropdown-item" href="{{ path('vorstand') }}">Vorstand</a>
                                    <a class="dropdown-item" href="{{ path('trainer') }}">Trainer</a>
                                    <a class="dropdown-item" href="{{ path('geschichte') }}">Geschichte</a>
                                    <a class="dropdown-item" href="{{ path('portrait') }}">Portrait</a>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('vereinsheim') }}">Vereinsheim</a>
                                    <a class="dropdown-item" href="{{ path('sportplatz') }}">Sportplatz</a>
                                    <a class="dropdown-item" href="{{ path('anfahrt') }}">Anfahrt</a>
                                    <a class="dropdown-item" href="{{ path('termine') }}">Termine</a>
                                    <a class="dropdown-item" href="{{ path('mitgliedschaft') }}">Mitgliedschaft</a>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('teams') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mannschaften <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 1}) }}">1. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 2}) }}">2. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 3}) }}">3. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 4}) }}">4. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 5}) }}">Altherren</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 6}) }}">Damen</a>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('jugend') }}">Jugendabteilung</a>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('trainingszeiten') }}">Trainingszeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('schiedsrichter') }}">Schiedsrichter</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('business') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Business
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('sponsoring') }}">Sponsoring</a>
                        <a class="dropdown-item" href="{{ path('sponsor_werden') }}">Sponsor werden</a>
                        <a class="dropdown-item" href="{{ path('sponsoren') }}">Unsere Sponsoren</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('medien') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medien
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('bildergalerie') }}">Bildergalerie</a>
                        <a class="dropdown-item" href="{{ path('wackertv') }}">WackerTV</a>
                        <a class="dropdown-item" href="{{ path('downloads') }}">Downloads</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('kontakt') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kontakt
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('kontakt') }}">Kontaktdaten</a>
                        <a class="dropdown-item" href="{{ path('impressum') }}">Impressum</a>
                        <a class="dropdown-item" href="{{ path('links') }}">Links</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar-small">
        <ul class="nav flex-column" id="sidebar-nav">
            <li class="nav-item" id="nav-item-profile">
                <a href="#menu1" class="collapsed nav-link nav-link-top nav-link-profile" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                    <div id="user-profile-picture-box">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}<img src="{{ asset('assets/img/user.jpg') }}{#{{ user.picture }}#}">{% endif %}
                        <span>{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ user.name }}{% endif %}</span>
                        <div class="clear"></div>
                    </div>
                </a>
                <div class="collapse" id="menu1">
                    <a href="#" class="dropdown-item" data-parent="#menu1">Subitem 2</a>
                    <a href="#" class="dropdown-item" data-parent="#menu1">Subitem 3</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- End Sidebar -->

    <!-- Content -->
    <div id="content" class="content-big">

        <div id="page-header">
            <div id="page-header-overlay">
                <h1>Wacker Gladbeck Ostercup</h1>
                <h2>Traditionelles Osterturnier unserer Junioren</h2>
                <img src="{{ asset('assets/img/logo/ostercup_2018_logo_trans.png') }}" id="ostercup-logo" />
            </div>
        </div>

        <!-- Page-Sub-Menu -->
        <nav class="navbar navbar-expand-md navbar-light page-sub-menu">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarsExampleDefault">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="#ueber-den-ostercup">Über den Ostercup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#wissenswerte-zahlen">Wissenswerte Zahlen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#anmeldung">Anmeldung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#rueckblick">Rückblick</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#bildergalerien">Bildergalerien</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#presseberichte">Presseberichte</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Page-Sub-Menu -->

        <!-- Section-One -->
        <section id="ueber-den-ostercup">
            <div class="container">
                <h3>Über den Ostercup</h3>
                <p id="first-paragraph">
                    Seit einigen Jahren veranstalten traditionell am Ostersamstag eines Jahres unser Jugendturnier, den Ostercup. Der Wacker Gladbeck Ostercup
                    wird im benachbarten Gladbecker Stadion ausgerichtet, welches mit einem großen Naturrasen sowie einer überdachten Tribüne ausgestattet ist.
                    Je nach Verfügbarkeit werden ein oder zwei Turniere verschiedener Jahrgänge durchgeführt mit regionalen sowie
                    überregionalen Mannschaften.
                </p>
                <p>
                    Damit die Spiele fair verlaufen, setzen wir vom Fußballkreis Gelsenkirchen lizensierte Schiedsrichter/-innen für jedes einzelne Spiel ein.
                    Zudem muss jede Mannschaft vor Turnierbeginn einen Spielerbogen mit allen teilnehmenden Spielern ausfüllen sowie die jeweiligen Spielerpässe vorlegen,
                    damit unsere Turnierleitung überprüfen kann, ob jeder Spieler das richtige Alter und eine gültige Spielerlaubnis besitzt.
                </p>
                <p id="last-paragraph">
                    Für das leibliche Wohl wird jedesmal während des gesamten Ostercups von unseren fleißigen, ehrenemtlichen Helfern gesorgt. Kühle Erfrischungen
                    und auch wärmere Getränke, aber auch leckere Spezialitäten vom Grill sowie selbstgebackene Kuchen werden angeboten.
                </p>

                <div class="row">
                    <div id="gallery-stadion">
                        {% for i in 5..8 %}
                            <a href="../assets/img/stadion/{{ i }}.jpg" title="Stadion Gladbeck" class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <img src="../assets/img/stadion/{{ i }}.jpg" alt="Stadion Gladbeck" title="Stadion Gladbeck" />
                            </a>
                        {% endfor %}
                    </div>
                </div>

                <!--<div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <img src="http://localhost:9913/assets/img/stadion/5.jpg" />
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <img src="http://localhost:9913/assets/img/stadion/6.jpg" />
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <img src="http://localhost:9913/assets/img/stadion/7.jpg" />
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <img src="http://localhost:9913/assets/img/stadion/8.jpg" />
                    </div>
                </div>-->
            </div>
        </section>
        <!-- End Section-One -->

        <!-- Section-Six -->
        <section class="bg-dark-field" id="wissenswerte-zahlen">
            <div class="background-overlay"></div>
            <div class="container">
                <h3>Wissenswerte Zahlen</h3>
                <h4>Wir sind stolz auf diese Ergebnisse</h4>
                <div class="row">
                    <div class="col-xl-3 col-lg-3">
                        <div class="fact-box">
                            <div class="fact-icon">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="fact-value">2</div>
                            <div class="fact-name">Jahre</div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="fact-box">
                            <div class="fact-icon">
                                <i class="far fa-user"></i>
                            </div>
                            <div class="fact-value">36</div>
                            <div class="fact-name">Teams</div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="fact-box">
                            <div class="fact-icon">
                                <i class="fas fa-futbol"></i>
                            </div>
                            <div class="fact-value">110</div>
                            <div class="fact-name">Spiele</div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3">
                        <div class="fact-box">
                            <div class="fact-icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="fact-value">&sim; 30</div>
                            <div class="fact-name">Helfer</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section-Six -->

        <!-- Section-Two -->
        <section id="anmeldung">
            <div class="container">
                <h3>Anmeldung</h3>
                {% if registrationStatus == "on" %}
                    <p>
                        Bitte trage deine Details unten ein. Wir werden mit den entsprechenden Informationen so schnell wie möglich auf dich zurückkommen.
                        Gerne stehen wir auch per E-Mail an <a href="mailto:turnier@wacker-gladbeck.de">turnier@wacker-gladbeck.de</a> für weitere Fragen
                        zur Verfügung.
                    </p>

                    <form action="{{ path('ostercup_registration') }}" method="post" id="ostercup-registration">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">1. Dein Team</h4>
                                    <div class="container">
                                        <div class="card-content-box">
                                            <div class="form-group">
                                                <label for="club-name">Vereinsname:</label>
                                                <input class="form-control" type="text" name="club_name" id="club-name" />
                                            </div>
                                            <div class="form-group">
                                                <label for="team">Team:
                                                </label>
                                                <input class="form-control" type="text" name="team" id="team" />
                                            </div>
                                            <div class="form-group">
                                                <label for="player-count">Anzahl Spieler:</label>
                                                <input class="form-control" type="number" value="0" min="0" max="15" name="player_count" id="player-count" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">2. Kontaktdaten</h4>
                                    <div class="container">
                                        <div class="card-content-box">
                                            <div class="form-group">
                                                <label for="contact-person-name">Name Kontaktperson:</label>
                                                <input class="form-control" type="text" name="contact_person_name" id="contact-person-name" />
                                            </div>
                                            <div class="form-group">
                                                <label for="contact-person-email">E-Mailadresse</label>
                                                <input class="form-control" type="email" name="contact_person_email" id="contact-person-email" />
                                            </div>
                                            <div class="form-group">
                                                <label for="city">Stadt:</label>
                                                <input class="form-control" type="text" name="city" id="city" />
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" name="accept_data_protection_regulations" id="accept-data-protection-regulations" />
                                                <span>
                                                Ich bin damit einverstanden, dass die erhobenen Daten entsprechend der <a href="{{ path('datenschutz') }}">Datenschutzbestimmungen</a> ausschließlich zum Zweck der
                                                Zusendung der gewünschten Informationen und Kommunikation (Post, E-Mail, Telefon) verwendet und gespeichert werden.
                                                Diese Einwilligung kann jederzeit widerrufen werden.
                                            </span>
                                            </div>

                                            <button type="submit" class="btn btn-primary" id="login-submit-btn">Senden</button>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <p class="text-center">Derzeit ist keine Anmeldung möglich.</p>
                {% endif %}
            </div>
        </section>
        <!-- End Section-Two -->

        <!-- Section-Three -->
        <section class="bg-dark-field" id="rueckblick">
            <h3>Rückblick</h3>
            <img src="{{ asset('assets/img/graphics/coming-soon.png') }}" />
        </section>
        <!-- End Section-Three -->

        <!-- Section-Four -->
        <section id="bildergalerien">
            <div class="container">
                <h3 id="page-headline">Bildergalerien</h3>
                <div class="row" id="galleries-container">
                    <div class="col-lg-3 col-ms-3 col-sm-6 col-xs-12 boxx" data-date="2018-03-31">
                        <a href="/medien/bildergalerie/2018/zweiter-ostercup-2018">
                            <div class="card-box gallery-box">
                                <div class="gallery-box-content">
                                    <img src="../gallery/2018/zweiter-ostercup-2018/IMG_5055.jpg" alt="2. Wacker Gladbeck Ostercup 2018" title="2. Wacker Gladbeck Ostercup 2018">
                                    <div class="gallery-box-headline">
                                        <h3>2. Wacker Gladbeck Ostercup 2018</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-ms-3 col-sm-6 col-xs-12 boxx" data-date="2017-08-02">
                        <a href="/medien/bildergalerie/2017/erster-f-jugend-ostercup">
                            <div class="card-box gallery-box">
                                <div class="gallery-box-content">
                                    <img src="../gallery/2017/erster-f-jugend-ostercup/IMG_3906.jpg" alt="Erster F-Jugend-Ostercup" title="Erster F-Jugend-Ostercup">
                                    <div class="gallery-box-headline">
                                        <h3>Erster F-Jugend-Ostercup</h3>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section-Four -->

        <div class="shadow-line"></div>

        <!-- Section-Five -->
        <section id="presseberichte">
            <div class="container">
                <h3>Presseberichte</h3>

                <a href="https://www.waz.de/sport/lokalsport/gladbeck/wacker-gladbeck-laedt-f-und-g-junioreteams-zum-2-ostercup-id213867151.html">
                    <blockquote class="quote-card">
                        <p>
                            Wacker Gladbeck lädt F- und G-Junioreteams zum 2. Ostercup
                        </p>

                        <cite>
                            WAZ Gladbeck
                        </cite>
                    </blockquote>
                </a>
                <a href="https://www.wr.de/sport/lokalsport/gladbeck/wacker-laedt-zum-zweiten-ostercup-id213874913.html">
                    <blockquote class="quote-card">
                        <p>
                            Wacker lädt zum zweiten Ostercup
                        </p>

                        <cite>
                            Westfälische Rundschau
                        </cite>
                    </blockquote>
                </a>
            </div>
        </section>
        <!-- End Section-Five -->

        <!-- Footer -->
        <footer>
            <div id="footer-top">
                <div class="row text-left">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <ul class="top-level-list">
                            <li><a href="" title="Aktuelles">News</a></li>
                            <li><a href="" title="Geschichte">Trainingszeiten</a></li>
                            <li><a href="" title="Geschichte">Schiedsrichter</a></li>
                            <li><a href="" title="Geschichte">Sponsoren</a></li>
                            <li><div class="sharethis-inline-share-buttons"></div></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Verein</span>
                        <ul>
                            <li><a href="" title="Aktuelles">Über uns</a></li>
                            <li><a href="" title="Geschichte">Vorstand</a></li>
                            <li><a href="" title="Geschichte">Trainer</a></li>
                            <li><a href="" title="Geschichte">Geschichte</a></li>
                            <li><a href="" title="Geschichte">Vereinsheim</a></li>
                            <li><a href="" title="Geschichte">Sportplatz</a></li>
                            <li><a href="" title="Geschichte">Anfahrt</a></li>
                            <li><a href="" title="Geschichte">Termine</a></li>
                            <li><a href="" title="Geschichte">Mitgliedschaft</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Mannschaften</span>
                        <ul>
                            <li><a href="" title="Über uns">1. Mannschaft</a></li>
                            <li><a href="" title="Mitgliedschaft">2. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">3. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">4. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">Altherren</a></li>
                            <li><a href="" title="Geschichte">Damen</a></li>
                            <li><a href="" title="Geschichte">Jugendabteilung</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Medien</span>
                        <ul id="medien-nav-list">
                            <li><a href="" title="Sponsor werden">Bildergalerie</a></li>
                            <li><a href="" title="Unsere Partner">WackerTV</a></li>
                        </ul>

                        <span>Kontakt</span>
                        <ul>
                            <li><a href="" title="Impressum">Kontaktdaten</a></li>
                            <li><a href="" title="Kontakt">Impressum</a></li>
                            <li><a href="" title="Geschichte">Links</a></li>
                            <li><a href="" title="Geschichte">Gästebuch</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><span>Copyright &copy; {{ "now"|date("Y") }} - Wacker Gladbeck 1920 e.V.</span></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span>Folge uns auf</span>
                        <a href="https://www.facebook.com/Wacker-Gladbeck-1920-eV-375779892586904/" title="Wacker Gladbeck auf Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" title="Wacker Gladbeck auf Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UC3vQzWZnETfMoj4uE5zFCzQ" title="Wacker Gladbeck auf YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- End Content -->

</div>
<!-- End Container -->

</body>
</html>