{% extends 'layout.html.twig' %}


{% block title %}Schiedsrichter - Unsere Unparteiischen von Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Unsere Unparteiischen - mit Pfeife, Karte und Fingerspitzengefühl. Die Schiedsrichter von Wacker Gladbeck. Ohne Schiedsrichter - Kein Fußball.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/schiedsrichter.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Schiedsrichter</h1>
            <h2>Ohne Schiedsrichter - Kein Fußball</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one" class="bg-dark-field">
        <div id="background-overlay"></div>

        <div class="container">
            <h3 class="page-headline">Unsere Unparteiischen</h3>
            <h4 class="page-subheadline">MIT PFEIFE, KARTE UND FINGERSPITZENGEFÜHL. DIE SCHIEDSRICHTER VON WACKER GLADBECK.</h4>

            <div class="row">
                <div class="col-xl-4 offset-xl-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
                    <div class="news-box">
                        <a href="" title="" class="news-image-box">
                            <img src="{{ asset('assets/img/persons/schiedsrichter-kathrin-heimann_klein2.jpg') }}" alt="Schiedsrichterin & Unparteiische Kathrin Heimann" title="Schiedsrichterin und Unparteiische Kathrin Heimann" />
                            <div class="news-box-overlay"></div>
                            <div class="news-content">
                                <div class="news-category">
                                    <div class="news-category-left">Kathrin Heimann</div>
                                    <div class="news-category-right"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="news-category2">
                                    <div class="news-category-left2">DFB-Schiedsrichterin</div>
                                    <div class="news-category-right2"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                        <div class="news-content-box">
                            <img src="{{ asset('assets/img/dfb-logo-transparent.png') }}" id="dfb-logo" alt="DFB-Logo" title="DFB-Logo" />
                            <h5>Frauen-Bundesliga & -DFB-Pokal</h5>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section id="section-two">
        <div class="container">
            <h3>Unsere weiteren Referees</h3>
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="referee-box">
                        <a href="" title="" class="referee-image-box">
                            <img src="{{ asset('assets/img/persons/default.gif') }}" alt="Schiedsrichter Monir Nasiri" title="Schiedsrichter Monir Nasiri" />
                            <div class="referee-box-overlay"></div>
                            <div class="referee-content">
                                <div class="referee-category">
                                    <div class="referee-category-left">Monir Nasiri</div>
                                    <div class="referee-category-right"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="referee-category2">
                                    <div class="referee-category-left2">Schiedsrichter</div>
                                    <div class="referee-category-right2"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                        <div class="referee-content-box">
                            <h5>-</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="referee-box">
                        <a href="" title="" class="referee-image-box">
                            <img src="{{ asset('assets/img/persons/default.gif') }}" alt="Schiedsrichter René Sega" title="Schiedsrichter René Sega" />
                            <div class="referee-box-overlay"></div>
                            <div class="referee-content">
                                <div class="referee-category">
                                    <div class="referee-category-left">René Sega</div>
                                    <div class="referee-category-right"></div>
                                    <div class="clear"></div>
                                </div>
                                <div class="referee-category2">
                                    <div class="referee-category-left2">Schiedsrichter</div>
                                    <div class="referee-category-right2"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </a>
                        <div class="referee-content-box">
                            <h5>-</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <!-- Section-Three -->
    <section id="section-three">
        <p>
            <strong>Elfmeter</strong>, <strong>Abseits</strong>, <strong>Platzverweis</strong>: Wenn es auf dem Rasen zur Sache geht, wenn die Emotionen brodeln, bewahren unsere
            <strong>Unparteiischen</strong> kühlen Kopf. <strong>Schiedsrichter</strong> sind echte Multitalente mit einem vielfältigen Aufgabenspektrum. Sie
            übernehmen ein hohes Maß an Verantwortung auf und neben dem Platz. Ihre wichtigste Aufgabe ist es natürlich, auf
            die <strong>Einhaltung der Spielregeln</strong> zu achten. Aber Schiedsrichter müssen nicht nur regelfest sein, sie müssen sich auch
            durchsetzen können und das richtige Maß finden zwischen <strong>Strenge und Fingerspitzengefühl</strong>.
        </p>
    </section>
    <!-- End Section-Three -->

    <div class="shadow-line"></div>

    <!-- Section-Four -->
    <section id="section-four">
        <div class="row">
            <div class="col-xl-7 col-lg-8 col-md-7 col-sm-12 col-xs-12 content-left">
                <p>
                    Partnerschaft und Fairness im Umgang mit den Schiedsrichtern erwartet Wacker Gladbeck von seinen Mitgliedern und G&auml;sten,
                    da sie wichtiger Bestandteil eines Fu&szlig;ballspiels sind.
                </p>
                <p>
                    Ohne die Unparteiischen, die mit &Uuml;bersicht und Ruhe das Spiel leiten, gibt es keinen Fu&szlig;ball.
                    Darum sind wir auf der Suche nach neuen Schiedsrichtern, die das Hobby Fu&szlig;ball aus einer anderen Perspektive erleben m&ouml;chten.
                </p>
                <h2>Schiedsrichter/-in gesucht</h2>
                <p>
                    Hallo M&auml;dchen, Frauen, Jungs und Männer,<br>
                    ihr seid fu&szlig;ballbegeistert und sucht eine neue Herausforderung?<br><br>
                    Wacker Gladbeck 1920 e.V. sucht dringend Schiedsrichter im Nachwuchs- sowie im Seniorenbereich.<br>
                    Wenn Ihr also nicht nur neben dem Platz ein gutes Auge f&uuml;r den Fu&szlig;ball habt, dann meldet euch bei uns.<br><br>
                    Die Anforderungen, die dieser Job an Dich stellt sind:
                <ul>
                    <li>Ihr seid oder werdet Mitglied im Verein</li>
                    <li>Ihr seid mindestens 15 Jahre alt</li>
                    <li>Einsatzbereitschaft f&uuml;r die regelm&auml;&szlig;ige Spielleitung</li>
                    <li>Teilnahme an Weiterbildungsveranstaltungen</li>
                </ul>
                </p>
                <p>Als Schiedsrichter/-in in unserem Verein wird dich DFB-Schiedsrichterin Kathrin Heimann gerne weiter beraten und auch für Fragen bereitstehen.</p>
            </div>
            <div class="col-xl-4 col-lg-3 offset-lg-1 col-md-4 offset-md-1 col-sm-8 offset-sm-2 col-xs-12 content-right">
                <div class="bg-dark-field" id="schiedsrichter-box">
                    <p>
                        Wacker Gladbeck 1920 e.V.<br>
                        Burgstra&szlig;e 2<br>
                        45964 Gladbeck<br><br>
                        Tel.: 02043 - 28 69 8<br>
                        Fax: 02043 - 28 69 8<br>
                        <a href="mailto:info@wacker-gladbeck.de" title="E-Mail an info@wacker-gladbeck.de">info@wacker-gladbeck.de</a><br>
                        <a href="https://www.wacker-gladbeck.de" title="www.wacker-gladbeck.de">www.wacker-gladbeck.de</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Four -->

    <!-- Section-Five -->
    <section id="section-five" class="bg-yellow-field">
        <p>
            Du hast Interesse Schiedsrichter/in und ein Teil des Wacker-Schiedsrichterteams um<br />
            Frauen-Bundesliga-Schiedsrichterin Kathrin Heimann zu werden?<br />Dann melde Dich bei uns!
        </p>
        <a href="{{ path('kontakt') }}"><i class="fas fa-comments"></i> Kontakt</a>
    </section>
    <!-- End Section-Five -->

{% endblock %}