{% extends 'layout.html.twig' %}


{% block title %}Trainingszeiten - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Training schadet nicht und genau deshalb trainieren unsere Mannschaften zu den hier angezeigten Trainingszeiten auf unserer Sportanlage - Burgstraße 2, 45964 Gladbeck.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/trainingszeiten.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Trainingszeiten</h1>
            <h2>Senioren, Damen und Jugend</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="container">
            <h3>Infos & Probetraining</h3>
            <p>
                Nachfolgend sind die <strong>Trainingszeiten</strong> sowie <strong>Trainer & Kontaktmöglichkeiten</strong> aller unserer Mannschaften aufgelistet.<br />
                Bei Unwetter & anderen Terminen kann es zu kurzfristigen Trainingsausfällen kommen!
            </p>
            <p>
                Du möchtest gerne zu einem <strong>Probetraining</strong> einer unserer Mannschaften kommen?<br />
                Dann melde dich bitte vorher bei dem jeweiligen Trainer!<br />
                Falls du aktuell bei einem anderen <strong>Fußballverein</strong> angemeldet bist, benötigest du eine schriftliche Erlaubnis deines aktuellen Vereins,<br />
                welche du zum Probetraining mitnehmen musst!
            </p>
        </div>
    </section>
    <!-- End Section-One -->

    <!--Section-Two -->
    <section class="bg-dark-field" id="section-two">
        <div class="background-overlay-03"></div>
        <div class="container">
            <h3>Senioren & Damen</h3>
            <div class="row">
                {% for teamTraining in trainingSeniorenDamen %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="training-box">
                            <div class="training-image-box">
                                <img src="{{ asset('assets/img/background/abc.png') }}">
                                <span>{{ teamTraining.team_name }}</span>
                            </div>
                            <div class="training-footer-box">
                                {{ teamTraining.training_data|raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <div class="shadow-line"></div>

    <!--Section-Three -->
    <section class="bg-dark-field" id="section-three">
        <div class="background-overlay-03"></div>
        <div class="container">
            <h3>Jugend</h3>
            <div class="row">
                {% for teamTraining in trainingJugend %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="training-box">
                            <div class="training-image-box">
                                <img src="{{ asset('assets/img/background/abc.png') }}">
                                <span>{{ teamTraining.team_name }}</span>
                            </div>
                            <div class="training-footer-box">
                                {{ teamTraining.training_data|raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Three -->

    <!-- Section-Four -->
    <section id="section-four">
        <div class="container">
            <p>
                Eine Übersicht aller unserer Trainer und deren Mannschaftzugehörigkeit sowie Kontaktmöglichkeiten findest du auf unserer Trainer-Übersichtsseite!<br />
                Gerne kannst du uns auch bei jeglichen Fragen direkt kontaktieren.
            </p>
            <a href="{{ path('trainer') }}"><i class="fas fa-link"></i> Unsere Trainer</a>
            <a href="{{ path('kontakt') }}"><i class="fas fa-comments"></i> Kontakt</a>
        </div>
    </section>
    <!-- End Section-Four -->

{% endblock %}