{% extends 'layout.html.twig' %}


{% block title %}Sponsoren - Sponsoring bei Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Sponsoren sind für Vereine und natürlich auch für Wacker Gladbeck sehr wichtig. Wir bieten Ihnen zahlreiche Sponsoring-Möglichkeiten in einem familienfreundlichen Umfeld.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/sponsoren.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Sponsoren von Wacker Gladbeck</h1>
            <h2>Unterstützer des Vereins</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-Two -->
    <section id="section-two">
        <p>
            Sie möchten ebenfalls uns als Verein unterstützen und Sponsor von Wacker Gladbeck werden?<br />
            Dann melden Sie sich gerne bei uns!
        </p>
        <a href="{{ path('sponsor_werden') }}">
            <i class="fas fa-link"></i> Sponsor werden
        </a>
    </section>
    <!-- End Section-Two -->

    <!-- Section-One -->
    <section class="bg-dark-field" id="section-one">
        <div class="container">
            <h3>Sponsoren & Unterstützer von Wacker Gladbeck</h3>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="https://reintges.de/de/gladbeck.htm" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/autohaus_wagner-min.jpg') }}" alt="Autohaus Wagner - Sponsor von Wacker Gladbeck" title="Autohaus Wagner - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="https://stauder.de/" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/stauder-min.png') }}" alt="Stauder - Sponsor von Wacker Gladbeck" title="Stauder - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="https://www.fabian-lichte.de" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/lichte-min.jpg') }}" alt="Lichte Brandschutz - Sponsor von Wacker Gladbeck" title="Lichte Brandschutz - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="http://www.etl.de/" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/etl-min.jpg') }}" alt="ETL - Sponsor von Wacker Gladbeck" title="ETL - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="http://www.viking-reifen.de/autoreifen" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/viking-min.png') }}" alt="Viking - Sponsor von Wacker Gladbeck" title="Viking - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="https://www.cewe-fotobuch.de/" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/cewe-min.png ') }}" alt="Cewe Fotobuch - Sponsor von Wacker Gladbeck" title="Cewe Fotobuch - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <div class="shadow-line"></div>

{% endblock %}