{% extends 'layout.html.twig' %}


{% block title %}Sponsoren - Sponsoring bei Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Sponsoren sind für Vereine und natürlich auch für Wacker Gladbeck sehr wichtig. Wir bieten Ihnen zahlreiche Sponsoring-Möglichkeiten in einem familienfreundlichen Umfeld.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/sponsoring.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Sponsoring bei Wacker Gladbeck</h1>
            <h2>Werbemöglichkeiten von & für unseren Verein</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img src="{{ asset('assets/img/sponsoring-min.png') }}" alt="Wacker Gladbeck Sponsoring" id="sponsoring-banner" title="Wacker Gladbeck Sponsoring">
            </div>
            <div class="col-xl-10 col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <p>
                    <strong>Sponsoren</strong> sind f&uuml;r Vereine und nat&uuml;rlich auch f&uuml;r <strong>Wacker Gladbeck</strong> sehr wichtig!<br />
                    Ihre Unterst&uuml;tzung erm&ouml;glicht Wacker Gladbeck die <strong>Umsetzung von Zielen</strong> und die <strong>F&ouml;rderung des Fussballs in der Region</strong>.
                </p>
                <p>
                    Wacker Gladbeck 1920 e.V. bietet Ihnen <strong>zahlreiche Sponsoring-M&ouml;glichkeiten</strong> in einem familienfreundlichen &amp; sportlichen Umfeld.<br />
                    Positionieren Sie Ihre lokale oder &uuml;berregionale Marke oder Unternehmung pr&auml;sent im Vereinsumfeld.
                </p>
                <p>Wer <strong>sportliche Ziele</strong> erreichen m&ouml;chte, braucht <strong>starke Partner</strong>. Wir von Wacker Gladbeck sind ein <strong>traditioneller Fußballverein</strong> aus dem <strong>Gladbecker Süden</strong>,
                    der sich in den n&auml;chsten Jahren im sportlichen und auch im werbetechnischen Bereich vergr&ouml;&szlig;ern m&ouml;chte.
                </p>
            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section class="bg-dark-field" id="section-two">
        <div class="background-overlay-03"></div>
        <div class="container">
            <h3>Sponsoring bei Wacker Gladbeck</h3>
            <p>Werde Partner von Wacker Gladbeck und wähle eines der drei folgenden Sponsoring-Pakete, welche je nach Leistung gestaffelt sind!</p>
        </div>
    </section>
    <!-- End Section-Two -->

    <div class="shadow-line"></div>

    <!-- Section-Three -->
    <section class="bg-dark-field" id="section-three">
        <div id="boxen">
            <div id="box1">
                <div id="box1-header">Silber</div>
                <div id="box1-body">
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Internet-Banner auf der Wacker Gladbeck-Homepage</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Nennung auf unseren sozialen Kanälen</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Logo auf Sponsorentafel</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Plakatbanner am Sportgelände</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="box1-footer"></div>
            </div>
            <div id="box2">
                <div id="box2-header">Gold</div>
                <div id="box2-body">
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Internet-Banner auf der Wacker Gladbeck-Homepage</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Nennung auf unseren sozialen Kanälen</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Logo auf Sponsorentafel</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Plakatbanner am Sportgelände</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Trikotwerbung</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="box2-footer"></div>
            </div>
            <div id="box3">
                <div id="box3-header">Bronze</div>
                <div id="box1-body">
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Internet-Banner auf der Wacker Gladbeck-Homepage</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Nennung auf unseren sozialen Kanälen</div>
                        <div class="clear"></div>
                    </div>
                    <div class="body-element">
                        <i class="far fa-star"></i>
                        <div class="box-list-element">Logo auf Sponsorentafel</div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div id="box3-footer"></div>
            </div>
        </div>
    </section>
    <!-- End Section-Three -->

    <!-- Section-Four -->
    <section id="section-four">
        <div id="further-sponsoring-options">
            <h3>Weitere Sponsoring-Möglichkeiten & -Leistungen</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> finanzielle Hilfe gegen Spendenbescheid</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Sachspenden im sportlichen Bereich (Bälle, Trikots, Trainingsmaterial, usw.)</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Sachspenden im Veranstaltungsbereich</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Bandenwerbung nach Ihren Vorstellungen</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Plakatwerbung bei den Spielen</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Anzeigen in diversen Publikationen</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Werbung auf der Sportkleidung</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Bannerwerbung auf unserer Homepage, Facebook</div>
            </div>
        </div>

        <div id="our-offer">
            <h3>Was wir Ihnen bieten</h3>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Steigerung des Bekanntheitsgrades Ihres Unternehmens</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Imageverbesserung durch die Förderung von Kindern und Jugendlichen</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Konkrete Zielgruppen werden angesprochen</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Höhere Identifikation als bei "klassischer" Werbung</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><i class="far fa-star"></i> Erhöhte Medienpräsenz</div>
            </div>
        </div>

        <a href="{{ path('sponsor_werden') }}">
            <i class="fas fa-link"></i> Sponsor werden
        </a>
    </section>
    <!-- End Section-Four -->

{% endblock %}