{% extends 'layout.html.twig' %}


{% block title %}Sponsoren - Sponsoring bei Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Sponsoren sind für Vereine und natürlich auch für Wacker Gladbeck sehr wichtig. Wir bieten Ihnen zahlreiche Sponsoring-Möglichkeiten in einem familienfreundlichen Umfeld.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/sponsor-werden.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Sponsoren von Wacker Gladbeck</h1>
            <h2>Unterstützer des Vereins</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <p>
                    Sollten Sie Interesse haben Wacker Gladbeck 1920 e.V. zu unterstützen, dann stehen wir Ihnen jederzeit für ein Gespräch
                    zur Verfügung.
                </p>
                <p>Ihr Ansprechpartner für den Bereich Sponsoring ist unser Geschäftsführer:</p>
                <p>
                    <strong>Andreas Hedwig</strong><br />
                    Mobil: xxxxxxxx<br />
                    E-Mail: a.hedwig@wacker-gladbeck.de
                </p>
                <a href="{{ path('sponsor_werden') }}">
                    <i class="fas fa-link"></i> Sponsoring bei Wacker Gladbeck
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <div id="ansprechpartner-box">
                    <div class="section-area-headline">
                        <h3><i class="fas fa-bars"></i> Kontakt</h3>
                    </div>
                    <p>
                        Wacker Gladbeck 1920 e.V.<br />
                        Burgstraße 2<br />
                        45964 Gladbeck<br />
                        Tel.: 02043 / 123456<br />
                        E-Mail: marketing@wacker-gladbeck.de
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section class="bg-dark-field" id="section-two">
        <div class="container">
            <h3>Sponsoren & Unterstützer von Wacker Gladbeck</h3>

            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="https://reintges.de/de/gladbeck.htm" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/autohaus_wagner-min.jpg') }}" alt="Autohaus Wagner - Sponsor von Wacker Gladbeck" title="Autohaus Wagner - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="https://stauder.de/" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/stauder-min.png') }}" alt="Stauder - Sponsor von Wacker Gladbeck" title="Stauder - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="https://www.fabian-lichte.de" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/lichte-min.jpg') }}" alt="Lichte Brandschutz - Sponsor von Wacker Gladbeck" title="Lichte Brandschutz - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="http://www.etl.de/" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/etl-min.jpg') }}" alt="ETL - Sponsor von Wacker Gladbeck" title="ETL - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="http://www.viking-reifen.de/autoreifen" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/viking-min.png') }}" alt="Viking - Sponsor von Wacker Gladbeck" title="Viking - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="https://www.cewe-fotobuch.de/" target="_blank" class="sponsoren-box">
                        <img src="{{ asset('assets/img/sponsoren/cewe-min.png ') }}" alt="Cewe Fotobuch - Sponsor von Wacker Gladbeck" title="Cewe Fotobuch - Sponsor von Wacker Gladbeck" class="sponsor-bg-img" />
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <div class="shadow-line"></div>

{% endblock %}