{% extends 'layout.html.twig' %}


{% block title %}Kontakt - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Du hast Fragen zu Wacker Gladbeck, unseren Mannschaften oder zum Vereinsheim? Oder hast du Fragen zu Deiner Mitgliedschaft? Dann schreib uns einfach!{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/kontakt.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Kontakt</h1>
            <h2>Kontakt zu Wacker Gladbeck</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <h3>Wir freuen uns auf Ihren Besuch</h3>
        <p>
            Kommen Sie zu den Heimspielen unserer <strong>Fußballmannschaften</strong> oder besuchen Sie unser <strong>Vereinsheim</strong> auf der <strong>Wacker Gladbeck-Sportanlage</strong>
            (Öffnungszeiten: Montag und Donnerstag, jeweils 18 bis 20 Uhr). Nutzen Sie auch das Kontaktformular unten auf unserer Seite.
            Außerdem sind wir per E-Mail und Telefon für Sie erreichbar.
        </p>
        <p>
            Für eine genaue Beschreibung zur <strong>Anfahrt zu unserer Sportanlage</strong> mit dem Auto oder Bus schaue dir unsere <a href="{{ path('anfahrt') }}">Anfahrtsseite</a> an.
            Dort erklären wir dir, wie du mit dem Auto oder auch mit dem Bus am besten zu uns kommst!
        </p>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section id="section-two">
        <div class="row">
            <div class="col-xl-2 image-line">
                <img src="{{ asset('assets/img/logo/logo_platz_bg.png') }}" alt="Wacker Gladbeck Logo" title="Wacker Gladbeck Logo">
            </div>
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <i class="fas fa-briefcase"></i> Wacker Gladbeck 1920 e.V.
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <i class="fas fa-map-marker-alt"></i> Burgstraße 2 | 45964 Gladbeck
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <i class="fas fa-phone"></i> 02043 / 123456
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <i class="far fa-envelope"></i> info@wacker-gladbeck.de
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <i class="fas fa-globe"></i> www.wacker-gladbeck.de
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <i class="fab fa-facebook-f"></i> facebook.com/WackerGladbeck
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <!-- Section-Three -->
    <section id="section-three">
        <div class="row section-three-content">
            <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-10 offset-xs-1">
                <div id="map-address">
                    <img src="{{ asset('assets/img/icons/map-marker.png') }}" alt="Wacker Gladbeck Adresse">
                    <h4>Burgstra&szlig;e 2, 45964 Gladbeck</h4>
                </div>
            </div>
            <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
                <div id="contact-box">
                    <h3>Kontaktiere uns</h3>
                    <p>
                        Gerne können Sie uns jederzeit per E-Mail kontaktieren. Innerhalb von 48 Stunden werden wir Ihre E-Mail beantworten.<br />
                    </p>
                    <p>
                        <strong>Vereinsheim-, Spiel-, Turnier- und sonstige Anfragen</strong>:<br />
                        Kontaktieren Sie uns hierbei bitte per E-Mail an <a href="mailto:info@wacker-gladbeck.de">info@wacker-gladbeck.de</a>.
                    </p>
                    <p>
                        <strong>Mitgliedschafts-Kündigungen</strong>:<br />
                        Kündigungen schicken Sie bitte per Einschreiben an das Postfach 211.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Three -->

    <!-- Section-Four -->
    <section id="section-four">
        <div class="row equal">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                <div class="bg-yellow-field" id="section-contact-options">
                    <h3>Weitere Kontaktmöglichkeiten</h3>
                    <p>Über die nachfolgenden Links gelangst du zur Kontaktübersicht der einzelnen Bereiche/Personen</p>

                    <a href="{{ path('vorstand') }}" title="Zu unserem Gesamt- sowie Jugendvorstand"><i class="fas fa-link"></i> Vorstand</a>
                    <a href="mailto:vereinsheim@wacker-gladbeck.de" title="E-Mail an unser Vereinsheim"><i class="fas fa-at"></i> Vereinsheim</a>
                    <a href="mailto:webmaster@wacker-gladbeck.de" title="E-Mail an den Webmaster"><i class="fas fa-at"></i> Webmaster</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div id="section-social-media">
                    <h3>Entdecke uns in den sozialen Medien</h3>

                    <a href="https://www.facebook.com/Wacker-Gladbeck-1920-eV-375779892586904/" target="_blank"><img src="{{ asset('assets/img/icons/social-media/facebook.png') }}" /></a>
                    <a href="https://www.instagram.com/wackergladbeck/" target="_blank"><img src="{{ asset('assets/img/icons/social-media/instagram.png') }}" /></a>
                    <a href="https://www.youtube.com/channel/UC3vQzWZnETfMoj4uE5zFCzQ/" target="_blank"><img src="{{ asset('assets/img/icons/social-media/youtube.png') }}" /></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Four -->

{% endblock %}






















