{% extends 'layout.html.twig' %}


{% block title %}Fußball-Links - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Auf dieser Seite sind wichtige externe Fußball-Webseiten aufgelistet. Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links.{% endblock %}


{% block files %}
    <script src="{{ asset('assets/js/links.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/links.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Links</h1>
            <h2>Externe Fußball-Websites</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one" class="bg-dark-field">
        <div class="background-overlay"></div>
        <div id="menu">
            <ul>
                <li class="dfb"><a href="http://www.dfb.de/" target="_blank">DFB</a></li>
                <li class="dfbnetportal"><a href="http://portal.dfbnet.org/" target="_blank">DFBnet Portal</a></li>
                <li class="dfbnetverein"><a href="http://portal.dfbnet.org/de/startseite/dfbnet-verein.html" target="_blank">DFBnet Verein</a></li>
                <li class="dfbmedien"><a href="http://www.dfb.de/gesellschaften/dfb-medien/" target="_blank">DFB-Medien</a></li>
                <li class="sportmedia"><a href="http://www.sportmedia.de/" target="_blank">sportmedia</a></li>
                <li class="fussballde"><a href="http://www.fussball.de/" target="_blank">Fussball.de</a></li>
                <li class="aufmplatz"><a href="http://www.aufmplatz.net/index.php?id=16" target="_blank">Auf'm Platz</a></li>
                <li class="wackeraltherren"><a href="http://alteherrenwackergladbeck.jimdo.com/" target="_blank">Wacker Altherren</a></li>
                <li class="flvw"><a href="http://www.flvw.de/" target="_blank">FLVW</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section id="section-two">
        <div class="section-area-headline">
            <h3><i class="fas fa-bars"></i> Information</h3>
        </div>
        <p>
            Auf dieser Seite stellen wir dir wichtige und zum Teil von <strong>Wacker Gladbeck</strong> unabhängige <strong>Fußball-Links</strong> bzw. <strong>Fußballwebsites</strong> dar.<br />
            Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links.<br />
            F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.<br />
            Es wird ebenfalls keinerlei Gew&auml;hr f&uuml;r Aktualit&auml;t, Korrektheit, Vollst&auml;ndigkeit oder Qualit&auml;t der bereitgestellten Informationen und Daten &uuml;bernommen.
        </p>
        <p>
            Du kennst eine fußballspezifische Website, welche wir unbedingt hier auf dieser Seite einbinden sollten?<br />
            Dann teile diese uns sehr gerne mit! Schicke uns dazu einfach über der Kontaktseite die Website-URL zu!<br />
            <a href="{{ path('kontakt') }}" id="contact-btn"><i class="fas fa-comments"></i> Kontakt</a>
        </p>
    </section>
    <!-- End Section-Two -->

{% endblock %}