section#section-one {
    width: 100%;
    height: auto;
    position: relative;
}
section#section-one .container {
    position: relative;
    text-align: center;
}
@media(max-width: 991px) {
    section#section-one h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
    }
}
@media(min-width: 992px) {
    section#section-one h4 {
        font-size: 16px;
        font-weight: 300;
    }
}
section#section-one h3 {
    margin: 0 auto;
    font-size: 32px;
    font-weight: 300;
    color: #EDDE5D;
}
section#section-one h4 {
    margin: 20px auto 30px auto;
    color: #ffffff;
}
@media(max-width: 991px) {
    section#section-one h3 {
        line-height: 1.7;
    }
    section#section-one .diamond {
        margin: 0 auto 55px auto;
    }
    section#section-one .diamond .diamond-title {
        font-size: 12px;
        font-weight: 400;
    }
}
@media(min-width: 992px) {
    section#section-one .diamond {
        margin-top: 25px;
        margin-right: 60px;
    }
    section#section-one .diamond .diamond-title {
        font-size: 11px;
        font-weight: 300;
    }
}
section#section-one h3 {
    margin: 10px auto 50px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin-left: -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-one .diamond {
    width: 125px;
    height: 125px;
    position: relative;
    display: inline-block;
}
section#section-one .diamond:last-child {
    margin-right: 0px;
}
section#section-one .diamond:before {
    width: 125px;
    height: 125px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: "";
    -webkit-transform: rotate(45deg);
    -webkit-transition: border-color 0.3s;
    -moz-transform: rotate(45deg);
    -moz-transition: border-color 0.3s;
    transform: rotate(45deg);
    box-shadow: 0px 0px 21px -2px rgba(0, 0, 0, 0.25);
}
section#section-one .diamond-inner {
    width: 125px;
    height: 125px;
    margin-top: 25px;
    position: relative;
    display: inline-block;
}
section#section-one .diamond-inner:before {
    width: 105px;
    height: 105px;
    position: absolute;
    display: block;
    content: "";
    left: 10px;
    top: -15px;
    right: 0;
    bottom: 0;
    border: 1px solid #9C9819;
    -webkit-transform: rotate(45deg);
    -webkit-transition: border-color 0.3s;
    -moz-transform: rotate(45deg);
    -moz-transition: border-color 0.3s;
    transform: rotate(45deg);
}
section#section-one .diamond .diamond-number {
    margin-top: 0;
    font-size: 28px;
    font-weight: 300;
    color: #ffffff;
    display: block;
}
section#section-one .diamond .diamond-title {
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #E0D258;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}


/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-two p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-two h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-two h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}


/* SECTION-THREE */
section#section-three {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
}
section#section-three h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-three h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-three iframe {
    margin-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 0 none;
    border-right: 0 none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6), 0 -4px 6px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6), 0 -4px 6px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6), 0 -4px 6px -1px rgba(0, 0, 0, 0.2);
}
section#section-three #coming-soon-banner {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: 30px auto;
}
@media(max-width: 575px) {
    section#section-three {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-three {
        padding: 50px 80px;
    }
}


/* SECTION-FOUR */
section#section-four {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media(max-width: 991px) {
    section#section-four .member-box .member-name {
        font-size: 16px;
        font-weight: 400;
    }
    section#section-four .member-box .member-position {
        font-size: 13px;
        font-weight: 400;
    }
    section#section-four .member-box .member-box-icon {
        font-size: 20px;
    }
}
@media(min-width: 992px) {
    section#section-four .member-box .member-name {
        font-size: 16px;
        font-weight: 300;
    }
    section#section-four .member-box .member-position {
        font-size: 13px;
        font-weight: 300;
    }
    section#section-four .member-box .member-box-icon {
        font-size: 16px;
    }
}
section#section-four #background-overlay-one {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}
section#section-four .container {
    position: relative;
}
section#section-four h3 {
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-four h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin-left: -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-four .member-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 0 30px 0;
    padding: 20px 10px 15px 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #ffffff;
}
section#section-four .member-box img {
    width: 100px;
    height: 100px;
    max-height: 250px;
    margin: 0 auto 5px auto;
    border-radius: 50%;
    /*border: 1px solid #9C9819;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.25);*/
    border: 8px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 2px #9C9819;
}
section#section-four .member-box .member-name {
    margin: 8px auto;
    display: block;
}
section#section-four .member-box .member-position {
    margin: 0 auto;
    font-style: italic;
    display: block;
}
section#section-four .member-box .member-box-icon {
    margin: 10px auto 0 auto;
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    transition: color 0.3s ease-in-out;
}
section#section-four .member-box .member-box-icon:hover {
    color: rgba(255, 255, 255, 1);
}
@media(max-width: 575px) {
    section#section-four {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-four {
        padding: 50px 80px;
    }
}


/* Section-Five */
section#section-five {
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
}
section#section-five p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-five h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-five h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-five h4 {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
section#section-five a {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 10px 0 0 0;
    padding: 9px 20px;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
section#section-five a:hover,
section#section-five a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-five a .fas,
section#section-five a .fab {
    font-size: 14px;
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-five {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-five {
        padding: 50px 80px;
    }
}