/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    margin: 0 auto;
}
section#section-two .picture-box {
    width: 100%;
    min-height: 200px;
    height: auto;
    background-color: #ffffff;
    margin: 0 0 20px 0;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1);
    text-align: center;
}
section#section-two .picture-box img {
    width: auto;
    max-width: 100%;
    height: 200px;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}