/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-one img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
section#section-one p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-one #address-info-box {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
section#section-one #address-info-box p {
    margin: 0;
    padding: 0;
}
section#section-one #address-info-box h4 {
    margin: 0 auto 15px auto;
    font-size: 19px;
    font-weight: 300;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}


/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-two h3 {
    margin: 0 auto 40px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-two h3:after {
    content: '';
    position: relative;
    bottom: -.5em;
    left: 50%;
    height: 2px;
    width: 30px;
    margin-left: -15px;
    display: block;
    background-color: #E0D258;
}
section#section-two #map {
    width: 100%;
    height: 400px;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}


section#section-three {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-three h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-three h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-three p {
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-three a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 20px auto 0 auto;
    padding: 8px 20px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-three a:hover,
section#section-three a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-three a .fas {
    font-size: 14px;
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-three {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-three {
        padding: 50px 80px;
    }
}