section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 40px 70px;
    text-align: center;
}
section#section-one h3 {
    margin: 0 auto 80px auto;
    font-size: 22px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}


form div label {
    width: 100%;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #3b4758;
    text-align: left;
}
form .form-group {
    display: inline-block;
    margin: 0 !important;
    width: 49%;
}
form input[type="password"],
form input[type="text"],
form input[type="email"],
form select,
form textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 2px 16px;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #969a9d;
    line-height: 36px;
    font-size: 16px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
form input[type="password"]:focus,
form input[type="text"]:focus,
form input[type="email"]:focus,
form select:focus,
form textarea:focus {
    background-color: #f0f0f0;
}
form button[type="submit"] {
    min-height: 40px;
    background-color: #0887d4;
    padding: 7px 23px;
    border: 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
form button[type="submit"]:hover {
    background-color: #08a2ff;
}