/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    margin: 0 auto;
}
section#section-one h3#page-headline {
    margin: 0 auto 35px auto;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3#page-headline:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-one .card-box {
    max-width: 100%;
}
section#section-one .card {
    margin-top: 45px;
    margin-bottom: 30px;
    border: 0 none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1);
}
section#section-one .card .card-body .form-group {
    margin: 0;
}
section#section-one .card .card-body .form-group label {
    font-size: 14px;
    color: #3a3a3a;
}
section#section-one .card .card-body .form-group select {
    height: 36px;
    background-color: #d9d9d9;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /*background-color: #ffffff !important;
    height: 40px;
    line-height: 36px;
    padding: 2px 16px;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #969a9d;
    font-size: 16px;
    outline: 0 none;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -moz-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #969a9d;*/
}
section#section-one .card .card-body .form-group select:focus {
    background-color: #f0f0f0 !important;
    -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
    -moz-box-shadow: 0 0 0 1000px #f0f0f0 inset;
    box-shadow: 0 0 0 1000px #f0f0f0 inset;
}
@media(max-width: 991px) {
    section#section-one h3 {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
    }
    section#section-one .gallery-box .gallery-box-headline h3 {
        font-size: 16px;
        font-weight: 400;
    }
}
@media(min-width: 992px) {
    section#section-one h3 {
        font-size: 16px;
        font-weight: 400;
    }
    section#section-one .gallery-box .gallery-box-headline h3 {
        font-size: 15px;
        font-weight: 300;
    }
}
section#section-one .gallery-box {
    width: 100%;
}
section#section-one .gallery-box-content {
    height: 220px;
    position: relative;
}
section#section-one .gallery-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
section#section-one .gallery-box .gallery-box-headline {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 20px;
    -webkit-transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
}
section#section-one .gallery-box:hover .gallery-box-headline {
    height: 100%;
    line-height: 220px;
}
section#section-one .gallery-box .gallery-box-headline h3 {
    margin: 0 auto;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
    section#section-one .card .card-body .form-group select {
        width: 200px;
        max-width: 100%;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
    section#section-one .card .card-body .form-group select {
        width: 200px;
    }
}