.clear { clear: both; }


/* Backgrounds */
.bg-dark-field {
    background-image: url("../img/background/bg-dark-field.png");
    background-size: cover;
    background-position: bottom center;
}
.bg-yellow-field {
    background-image: url("../img/background/bg-yellow-field.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: bottom center;
}


/* Background-Overlay */
.background-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.background-overlay-02 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
}
.background-overlay-03 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}
.background-overlay-04 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
}
.background-overlay-05 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}


/* Section-Headline + Icon */
.section-area-headline {
    width: 100%;
    margin: 0 0 20px 0;
}
.section-area-headline-margin {
    width: 100%;
    margin: 20px 0;
}
.section-area-headline h3,
.section-area-headline-margin h3 {
    font-size: 24px;
    font-weight: 300;
    color: #000000;
}
.section-area-headline .fas,
.section-area-headline-margin .fas {
    margin: 0 5px 0 0;
    font-size: 23px;
    color: #E0D258;
}


/* Card-Box */
.card-box {
    margin: 0 auto 2rem;
    height: auto;
    padding: 0.5rem;
    min-width: 10rem;
    max-width: 20rem;
    background-color: white;
    word-wrap: break-word;
    -webkit-box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f9f9f9, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.2), 0 1em 0 -0.5em #f1f1f1, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f9f9f9, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.2), 0 1em 0 -0.5em #f1f1f1, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f9f9f9, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.2), 0 1em 0 -0.5em #f1f1f1, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.15);
}
.card-box.card-box-primary, .card-box.card-box-dark {
    color: white;
}
.card-box.card-box-primary {
    background-color: tomato;
    text-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #f25e43, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #e5593f, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card-box.card-box-secondary {
    background-color: #47e3ff;
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #43d7f2, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #3fcce5, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card-box.card-box-dark {
    background-color: #404040;
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #3c3c3c, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #393939, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
}
.card-box > :last-child {
    margin-bottom: 0;
}


/* Gelbe Trennlinie */
.shadow-line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #CCBF50, #EDDE5D, #CCBF50);
    display: block;
}