section#section-one {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
}
section#section-one .download-element-box {
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
    border-left: 4px solid #E0D258;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
    vertical-align: middle;
}
section#section-one .download-element-box .box-content-left,
section#section-one .download-element-box .box-content-right {
    width: 60%;
    float: left;
    vertical-align: middle;
}
section#section-one .download-element-box .box-content-right {
    width: 40%;
}
section#section-one .download-element-box .box-content-left .image-box {
    width: 54px;
    height: 54px;
    margin: 0 15px 0 0;
    padding: 4px 0;
    border-right: 1px solid #e2e2e2;
    display: inline-block;
}
section#section-one .download-element-box .box-content-left .image-box img {
    width: auto;
    height: 46px;
    margin: 0;
}
section#section-one .download-element-box .box-content-left span.file-type {
    background-color: #1a1a1a;
    margin: 0 15px 0 0;
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline;
}
section#section-one .download-element-box .box-content-left span.file-name {
    margin: 0;
    padding: 0;
    line-height: 54px;
    font-size: 14px;
    font-weight: 400;
    color: #1a1a1a;
    display: inline;
}
section#section-one .download-element-box .box-content-right a.download-btn {
    margin: 0;
    padding: 0 15px;
    line-height: 54px;
    font-size: 13px;
    font-weight: 400;
    color: #1a1a1a;
    display: inline;
    float: right;
    border-left: 1px solid #e2e2e2;
    text-decoration: none;
}
section#section-one .download-element-box .box-content-right a.download-btn:hover {
    background-color: #e2e2e2;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}
@media(max-width: 750px) {
    section#section-one .download-elements-container-right .download-element-box .box-content-left span.file-name {
        display: none;
    }
}
@media(max-width: 440px) {
    section#section-one .download-elements-container-left .download-element-box .box-content-left span.file-name {
        display: none;
    }
    section#section-one .download-elements-container-left .download-element-box .box-content-left span.file-type {
        display: inline-block;
        margin-top: 14px;
    }
}

section#section-two {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-two p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-two p:last-child {
    margin-bottom: 0;
}
section#section-two p a {
    font-weight: 400;
    color: #1a1a1a;
}
section#section-two h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-two h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-two h4 {
    margin: 15px auto 30px auto;
    font-size: 17px;
    font-weight: 300;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}


section#section-three {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}
section#section-three #info-banner {
    width: auto;
    height: 30px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 20px;
    left: 0;
}
section#section-three #info-banner #info-banner-left {
    width: auto;
    height: 30px;
    background-color: #000000;
    float: left;
    padding: 0 9px;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #E0D258;
    text-transform: uppercase;
    line-height: 30px;
}
section#section-three #info-banner #info-banner-right {
    border-color: #000000 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
section#section-three p {
    width: 100%;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
}
section#section-three a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 2px solid #CCBF50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    /*-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-three a:hover {
    background-color: #CCBF50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-three a .fas {
    font-size: 14px;
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-three {
        padding: 70px 30px 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-three {
        padding: 70px 80px 50px 80px;
    }
}