/* HEADER */
header .header-icon {
    padding: 5px 10px !important;
}


/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    margin: 0 auto;
    text-align: center;
}
section#section-one p {
    width: 100%;
    margin: 30px 0 5px 0;
    text-align: justify;
    line-height: 1.3;
    font-weight: 300;
    font-size: 16px;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    line-height: 1.3;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-one h4 {
    margin: 15px auto;
    line-height: 1.4;
    font-size: 17px;
    font-weight: 300;
}
section#section-one h4:last-child {
    margin-bottom: 0;
}
section#section-one h5 {
    margin: 15px auto;
    font-size: 17px;
    font-weight: 300;
}


/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
section#section-two h3 {
    margin: 0 0 30px 0;
    font-size: 22px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-two h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin-left: -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-two p {
    margin: 0 0 15px 0;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-two .breadcrumb {
    width: 100%;
    margin: 0 0 30px 0;
    background-image: none;
}
section#section-two .separator {
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    text-align: center;
    height: 18px;
    margin-top: 25px;
    margin-bottom: 40px;
}
section#section-two .separator span {
    line-height: 15px;
    padding: 0 10px;
    background: white; /* Farbe des Elements darunter */
    display: inline-block;
    margin-top: 10px;
    color: #000000;
    font-weight: 600;
}


/* SECTION-THREE */
section#section-three {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-three h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
section#section-three h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-three iframe {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
}


@media(max-width: 575px) {
    section#section-one,
    section#section-two,
    section#section-three {
        padding: 50px 30px;
    }
    section#section-two .breadcrumb {
        padding: 0;
        list-style: none;
        background-color: #ffffff;
    }
    section#section-two .breadcrumb-arrow li {
        width: 100%;
        height: 36px;
        display: block;
        margin: 0 0 4px 0;
    }
    section#section-two .breadcrumb-arrow li a {
        width: 100%;
        height: 36px;
        background-color: #eeeeee;
        display: block;
        line-height: 36px;
        color: #3a3a3a;
        text-decoration: none;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    section#section-two .breadcrumb-arrow li a:hover {
        background-color: #d4d4d4;
    }
}
@media(min-width: 576px) {
    section#section-one,
    section#section-two,
    section#section-three {
        padding: 50px 80px;
    }
    section#section-two .breadcrumb-arrow {
        height: 36px;
        padding: 0;
        line-height: 36px;
        list-style: none;
        background-color: #ffffff;
    }
    section#section-two .breadcrumb-arrow li:first-child a {
        border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px
    }
    section#section-two .breadcrumb-arrow li,
    section#section-two .breadcrumb-arrow li a,
    section#section-two .breadcrumb-arrow li span {
        display: inline-block;
        vertical-align: top
    }
    section#section-two .breadcrumb-arrow li:not(:first-child) {
        margin-left: -5px
    }
    section#section-two .breadcrumb-arrow li+li:before {
        padding: 0;
        content: ""
    }
    section#section-two .breadcrumb-arrow li span {
        padding: 0 10px
    }
    section#section-two .breadcrumb-arrow li a,
    section#section-two .breadcrumb-arrow li:not(:first-child) span {
        height: 36px;
        padding: 0 10px 0 25px;
        line-height: 36px
    }
    section#section-two .breadcrumb-arrow li:first-child a {
        padding: 0 10px
    }
    section#section-two .breadcrumb-arrow li a {
        position: relative;
        color: #3a3a3a;
        text-decoration: none;
        background-color: #eeeeee;
        border: 0 none;
    }
    section#section-two .breadcrumb-arrow li:first-child a {
        padding-left: 10px
    }
    section#section-two .breadcrumb-arrow li a:after,
    section#section-two .breadcrumb-arrow li a:before {
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        content: '';
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent
    }
    section#section-two .breadcrumb-arrow li a:before {
        right: -10px;
        z-index: 3;
        border-left-color: #eeeeee;
        border-left-style: solid;
        border-left-width: 11px
    }
    section#section-two .breadcrumb-arrow li a:after {
        right: -11px;
        z-index: 2;
        border-left: 11px solid #ffffff;
    }
    section#section-two .breadcrumb-arrow li span {
        color: #434a54
    }
}