section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: left;
}
section#section-one h5 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: 400;
}
section#section-one p {
    width: 100%;
    margin: 0 0 30px 0;
    font-weight: 300;
}


section#section-two {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: left;
}
section#section-two p {
    width: 100%;
    margin: 0 0 30px 0;
    font-weight: 300;
}


@media(max-width: 575px) {
    section#section-one,
    section#section-two {
        padding: 50px 30px;
    }
    section#section-one p,
    section#section-two p {
        text-align: justify;
    }
}
@media(min-width: 576px) {
    section#section-one,
    section#section-two {
        padding: 50px 40px;
    }
    section#section-one p,
    section#section-two p {
        text-align: left;
    }
}