/* Imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "default.css";


/* Body */
html {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
html, body {
    width: 100%;
    height: auto;
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Container */
.container-fluid {
    padding: 0;
}


/* Navigation */
nav.nav-list {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    z-index: 3;
}
nav.nav-list #nav-logo-box {
    width: auto;
    height: 70px;
    background-color: #141414;
    margin-right: 25px;
    padding: 10px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
nav.nav-list #nav-logo-box a {
    margin: 0;
    padding: 0;
}
nav.nav-list #nav-logo-box a img {
    width: auto;
    height: 50px;
}
nav.nav-list .nav-item {
    margin-right: 10px;
}
nav.nav-list .nav-item .nav-link {
    height: 70px;
    background-color: #1a1a1a;
    padding: 0 15px;
    line-height: 70px;
    font-size: 14px;
    color: #9d9d9d;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
nav.nav-list .nav-item .nav-link:hover {
    background-color: #141414;
    text-decoration: none;
    color: #ffffff !important;
}
nav.nav-list .dropdown-menu {
    width: auto;
    min-width: 200px;
    height: auto;
    background-color: #141414;
    margin: 0;
    padding: 15px;
    border: 0 none;
    border-radius: 0;
}
nav.nav-list .dropdown-menu .dropdown-item {
    padding: 7px 15px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 0;
}
nav.nav-list .dropdown-menu .dropdown-item:hover,
nav.nav-list .dropdown-menu .dropdown-item:active,
nav.nav-list .dropdown-menu .dropdown-item:focus {
    background-color: #000000;
    border-radius: 2px;
}
nav.nav-list .dropdown-menu.columns-2 {
    min-width: 400px;
}
nav.nav-list .dropdown-menu.columns-3 {
    min-width: 600px;
}
nav.nav-list .dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
nav.nav-list .multi-column-dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.nav-list .multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
nav.nav-list .multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: transparent;
}
@media (max-width: 767px) {
    nav.nav-list .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}


/* Page-Header */
#page-header {
    width: 100%;
    height: 440px;
    background: url("https://www.wacker-gladbeck.de/assets/img/sportplatz/wacker-gladbeck-sportplatz-2.jpg") center center no-repeat;
    background-size: cover;
    margin: 70px 0 0 0;
    position: relative;
    text-align: center;
}
#page-header #page-header-overlay {
    width: 100%;
    height: 440px;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
    left: 0;
}
#page-header h1 {
    margin: 50px 0 40px 0;
    font-weight: 300;
    text-align: center;
    color: #EDDE5D;
}
#page-header h2 {
    margin: 10px auto;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
#page-header #page-header-overlay img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
}
#page-header #page-header-overlay #news-btn {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 11px;
    color: #3a3a3a;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -webkit-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition:  box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    display: inline-block;
}
#page-header #page-header-overlay #news-btn:hover {
    background-color: #efefef;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
#page-header #page-header-overlay #mouse-scroll-down {
    width: 22px;
    height: 37px;
    position: absolute;
    margin: 0 0 0 -11px;
    bottom: 40px;
    left: 50%;
    z-index: 3;
    -webkit-transition: filter 0.3s ease-in-out;
    -moz-transition: filter 0.3s ease-in-out;
    -ms-transition: filter 0.3s ease-in-out;
    -o-transition: filter 0.3s ease-in-out;
    transition: filter 0.3s ease-in-out;
    filter: invert(100%);
    -ms-filter: invert(100%);
    -webkit-filter: invert(100%);
    cursor: pointer;
    display: none;
}
#page-header #page-header-overlay #mouse-scroll-down:hover {
    filter: invert(40%);
    -ms-filter: invert(40%);
    -webkit-filter: invert(40%);
}



#page-header2 {
    width: 100%;
    height: 650px;
    margin: 70px 0 0 0;
    position: relative;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}
#page-header2 .carousel {
    background-image: url("../img/background/wacker-gladbeck-sportplatz-1-overlay.png");
    height: 650px;
}
#page-header2 .carousel .carousel-caption {
    /*top: 50%;
    transform: translateY(-50%);
    bottom: initial;*/
}
#page-header2 .carousel .carousel-item {
    /*height: 650px;*/
    height: 100% !important;
    /*position: relative;*/
}
#page-header2 #headlines-section {
    height: 175px;
    padding: 50px 0 0 0;
    margin: 0;
}
/*#carousel-0 {
    background: url("../img/background/wacker-gladbeck-sportplatz-1-overlay.png") center center no-repeat;
    background-size: cover;
}
#carousel-1 {
    background: url("../img/background/wacker-gladbeck-sportplatz-2-overlay.png") center center no-repeat;
    background-size: cover;
}
#carousel-2 {
    background: url("../img/background/wacker-gladbeck-sportplatz-3-overlay.png") center center no-repeat;
    background-size: cover;
}
#carousel-3 {
    background: url("../img/background/wacker-gladbeck-sportplatz-6-overlay.png") center center no-repeat;
    background-size: cover;
}
#carousel-4 {
    background: url("../img/background/wacker-gladbeck-sportplatz-5-overlay.png") center center no-repeat;
    background-size: cover;
}*/
#page-header2 .carousel .carousel-item .carousel-item-box {
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    overflow: hidden;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#page-header2 .carousel .carousel-item .carousel-item-box span {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #6f797a;
}
#page-header2 .carousel .carousel-item .carousel-item-box h1 {
    margin: 5px 0 20px 0;
    line-height: 1.1;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
}
#page-header2 .carousel .carousel-item .carousel-item-box p.aaa {
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em; /*3.6*/
    line-height: 1.5em; /*1.8*/
}
#page-header2 .carousel .carousel-item .carousel-item-box a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 2px solid #CCBF50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    /*-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
#page-header2 .carousel .carousel-item .carousel-item-box a:hover {
    background-color: #CCBF50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
#page-header2 .carousel .carousel-item .carousel-item-box a .fas {
    font-size: 14px;
    margin-right: 5px;
}
#page-header2 .carousel .carousel-control-next,
#page-header2 .carousel .carousel-control-prev {
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: auto;
    bottom: 60px;
}
#page-header2 .carousel .carousel-control-prev {
    left: auto;
    right: 110px;
}
#page-header2 .carousel .carousel-control-next {
    right: 60px;
}
#page-header2 h1 {
    margin: 0 0 40px 0;
    font-weight: 300;
    text-align: center;
    color: #EDDE5D;
}
#page-header2 h2 {
    margin: 10px auto;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
#page-header2 #carousel-elements-box {
    height: 425px;
    overflow: hidden;
    position: relative;
}


/* Content */
#content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/* Section-One */
section#section-one {
    height: auto;
    padding: 0;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.inner {
    width: 350px;
    float: left;
}
.marquee {
    width: calc(100% - 500px);
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    float: left;
    color: #fff;
}
.marquee a {
    color: #ffffff;
}
.marquee .container {
    padding: 0 !important;
}
.result-box {
    display: inline-block;
    text-align: center;
    margin-right: 100px;
}
.home {
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
    font-size: 16px;
}
.away {
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
    font-size: 16px;
}
.results {
    display: table-cell;
    color: #ffffff;
    padding: 0 40px;
}
.results .result {
    font-size: 30px;
}
.time {
    font-size: 13px;
}


/* Section-Five */
section#section-five {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    padding: 0;
}
section#section-five [class*=' col-'] {
    padding: 45px 30px;
}
section#section-five i {
    font-size: 23px;
}
section#section-five h3 {
    margin: 15px 0;
    color: #222222;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-transform: uppercase;
}
section#section-five p {
    margin: 0;
    color: #222222;
    font-size: 14px;
    line-height: 1.5em;
}


/* Section-Three */
section#section-three {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    padding: 50px 120px;
}
section#section-three [class*=' col-'], section#section-six [class*=' col-'] {
    padding: 0 20px !important;
}
.news-box {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-box:hover {
    -webkit-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
}
.news-image-box {
    width: 100%;
    height: 220px;
    margin: 0;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.news-image-box img {
    /*width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.news-image-box .news-box-overlay {
    width: 100%;
    height: 220px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;*/
    display: block;
    cursor: pointer;
}
.news-image-box .news-category {
    width: auto;
    height: 30px;
    margin-bottom: 6px;





    /*w



    width: auto;
    max-width: 100%;
    height: auto;
    background-color: #E0D258;
    padding: 4px 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);*/
}
.news-image-box .news-category .news-category-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;

}
.news-image-box .news-category .news-category-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-title {
    height: 48px;
    line-height: 24px;
    margin: 8px 12px 12px 12px;
    font-size: 1.1em;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #ffffff;
    text-align: left;
}
.news-image-box .news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.news-content-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px 12px 10px 12px;
}
.news-content-box p {
    margin: 0;
    font-weight: 400;
    color: #000000;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em; /*3.6*/
    line-height: 1.5em; /*1.8*/
}
.news-content-box hr {
    margin: 15px 0 5px 0;
}
.news-content-box span {
    color: #7b7c7e;
    font-size: .8125rem;
    font-weight: 400;
    margin: 0;
    display: inline-block;
}
section#section-three a#all-news-link {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    /*-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-three a#all-news-link:hover {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-three a#all-news-link .fas {
    font-size: 14px;
    margin-right: 5px;
}



    /* Section-Four */
section#section-four {
    width: 100%;
    height: auto;
    border-top: 3px solid #9c933e;
    text-align: center;
}
.next-game-title {
    font-size: 16px;
    margin: 0 auto 13px auto;
    font-weight: lighter;
    color: #ffffff;
    letter-spacing: 0.03em;
}
.next-game-content {
    width: 100%;
    height: auto;
    padding: 20px;
}
.next-game-footer {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 12px 20px;
}
.next-game-content-team1, .next-game-content-team2 {
    display: inline;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: lighter;
}
.next-game-content-versus {
    display: inline;
    margin: 0 35px;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
.next-game-footer-date, .next-game-footer-place {
    display: inline;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
}
.next-game-footer-date {
    margin-right: 22px;
}
.next-game-footer-date i, .next-game-footer-place i {
    margin-right: 6px;
}


/* Section-Two */
section#section-two {
    width: 100%;
    height: 280px;
    padding: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
}
section#section-two #section-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
}
/*section#section-two img {
    width: 240px;
    height: auto;
    margin: 20px auto 20px auto;
    border: 2px solid #E0D258;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}*/
section#section-two img#erst {
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}
section#section-two img#zweit {
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: -1px;
    overflow: hidden;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    z-index: 1;
}
section#section-two h3 {
    margin: 30px auto 20px auto;
    font-weight: 300;
    color: #ffffff;
}
section#section-two p {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}
section#section-two a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 2px solid #CCBF50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    /*-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    z-index: 2;
    position: relative;
}
section#section-two a:hover {
    background-color: #CCBF50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-two a .fas {
    font-size: 14px;
    margin-right: 5px;
}
.triangle-down {
    border-left: 15px solid rgba(0,0,0,0);
    border-right: 15px solid rgba(0,0,0,0);
    border-top: 15px solid #f0f0f0;
    height: 0;
    margin-left: -15px;
    position: absolute;
    top: 0;
    width: 0;
    left: 50%;
}



/* Section-Six */
section#section-six {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    padding: 50px 120px;
}
section#section-six .card {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 1.2rem;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    border: 0;
    border-radius: 0;
}
section#section-six .card .social-feed-content {
    padding: 15px;
}
section#section-six .card .social-feed-content a {
    margin-right: 10px;
}
section#section-six .card .social-feed-content .media-object {
    width: 48px;
    height: auto;
    display: block;
    border-radius: 50%;
}
section#section-six .card .social-feed-content .media-body {
    width: calc(100% - 58px);
}
section#section-six .card .social-feed-content .media-body .sdsd {
    margin: 0 0 4px 0;
    min-height: 20px;
}
section#section-six .card .social-feed-content .media-body .sdsd .author-title {
    color: #444;
    line-height: 1.5em;
    font-weight: 600;
}
section#section-six .card .social-feed-content .media-body .sdsd i {
    font-size: 21px;
    margin-right: 5px;
}
section#section-six .card .social-feed-content .media-body div {
    color: #666;
    line-height: 20px;
}
section#section-six .card .social-feed-content .media-body p.social-feed-text {
    margin: 0;
}
section#section-six .card .attachment {
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin: 0;
}



/* Footer */
footer {
    width: 100%;
    height: auto;
    background-color: #202020;
    margin: 0 auto;
    padding: 30px 60px 0 60px;
}
footer #footer-top {
    width: 100%;
    padding: 0 30px 30px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer #footer-top .row div span {
    margin: 0 auto 15px auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    display: block;
}
footer #footer-top .row div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer #footer-top .row div ul#medien-nav-list {
    margin-bottom: 35px !important;
}
footer #footer-top .row div ul li {
    margin-bottom: 10px;
}
footer #footer-top .row div ul li:before {
    margin-right: 10px;
    position: relative;
    left: 0;
    content: "\f0da";
    text-decoration: inherit;
    font-family: 'Font Awesome 5 Free', serif;
    font-style: normal;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.65);
}
footer #footer-top .row div a {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
footer #footer-top .row div a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
footer #footer-top .row div ul.top-level-list li:before {
    content: "";
    display: none;
}
footer #footer-top .row div ul.top-level-list li a {
    padding: 0 5px 2px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.3s ease-in-out;
    -moz-transition: border-bottom 0.3s ease-in-out;
    -ms-transition: border-bottom 0.3s ease-in-out;
    -o-transition: border-bottom 0.3s ease-in-out;
    transition: border-bottom 0.3s ease-in-out;
}
footer #footer-top .row div ul.top-level-list li a:hover {
    padding: 0 5px 2px 5px;
    border-bottom: 1px solid #ffffff;
}
footer #footer-bottom {
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 50px;
}
footer #footer-bottom span {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 11px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}
footer #footer-bottom i {
    margin: 18px 10px 0 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
footer #footer-bottom i:hover {
    color: rgba(255, 255, 255, 0.9);
}



/* Section-One */
section#section-one-2 {
    height: auto;
    padding: 0;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    background-color: #000;
}
.inner {
    width: 350px;
    float: left;
}
.marquee {
    width: calc(100% - 500px);
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    float: left;
    color: #fff;
}
.marquee a {
    color: #ffffff;
}
.marquee .container {
    padding: 0 !important;
}
.result-box {
    display: inline-block;
    text-align: center;
    margin-right: 100px;
}
.home {
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
    font-size: 16px;
}
.away {
    display: table-cell;
    color: #ffffff;
    vertical-align: middle;
    font-size: 16px;
}
.results {
    display: table-cell;
    color: #ffffff;
    padding: 0 40px;
}
.results .result {
    font-size: 30px;
}
.time {
    font-size: 13px;
}


section#section-seven {
    width: 100%;
    height: 400px;
    background-image: url("https://www.wacker-gladbeck.de/assets/img/sportplatz/wacker-gladbeck-sportplatz-6.jpg");
    background-position: center right;
}
#iinner {
    height: 400px;
}
#a {
    width: 50%;
    position: relative;
    margin: 0
}
#b {
    position: absolute;
    right: 100%;
    top:0;
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-right: 20px solid rgba(0, 0, 0, 0.95);
    border-bottom: 0px solid rgba(0, 0, 0, 0.95);
    border-left: 20px solid transparent;
}
#c {
    display: block;
    padding: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color:#FFF;
    background:rgba(0, 0, 0, 0.95);
    height: 400px;
}
#d {
    position: absolute;
    left: 100%; top:0;
    width: 0px;
    height: 0px;
    border-top: 0 solid rgba(0, 0, 0, 0.95);
    border-right: 12px solid transparent;
    border-bottom: 400px solid transparent;
    border-left: 69px solid rgba(0, 0, 0, 0.95);
}
section#section-seven h3 {
    text-align: center;
    margin: 0 auto 20px auto;
    font-weight: 300;
    color: #ffffff;
}
section#section-seven p {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-align: justify;
}
section#section-seven a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 2px solid #CCBF50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    /*-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-seven a:hover {
    background-color: #CCBF50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-seven a .fas {
    font-size: 14px;
    margin-right: 5px;
}






section#section-eight {
    width: 100%;
    height: auto;
    text-align: center;
}
section#section-eight img {
    width: 100%;
    height: auto;
    max-width: 1920px;
    margin: 0 auto;
}