/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
}
section#section-one p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-one p:first-child {
    text-align: center;
    margin-top: 0;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}


section#section-two {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
section#section-two .container {
    position: relative;
}
section#section-two img {
    width: calc(100% - 4px);
    height: auto;
    max-height: 575px;
    margin: 0 auto 50px auto;
    display: block;
    border: 3px solid transparent;
    -webkit-box-shadow: 0 0 0 2px #E0D258, 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0 0 2px #E0D258, 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 0 2px #E0D258, 1px 0 10px 2px rgba(0, 0, 0, 0.7);
}
section#section-two h3 {
    text-align: center;
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-two h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-two h4 {
    text-align: center;
    margin: 0 auto 15px auto;
    font-size: 19px;
    font-weight: 300;
    color: #ffffff;
}
section#section-two a {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    border: 2px solid #E0D258;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
section#section-two a:hover {
    background-color: #E0D258;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
}
section#section-two a .fas {
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}


/* SECTION-TWO */
section#section-three {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    margin: 0 auto;
    text-align: center;
}
section#section-three h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-three h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -0.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-three [class*=' col-'] {
    padding: 0 20px !important;
}
.news-box {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-box:hover {
    -webkit-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
}
.news-image-box {
    width: 100%;
    height: 220px;
    margin: 0;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.news-image-box img {
    width: 100%;
    min-height: 220px;
    height: auto;
    background-position: top center;
}
.news-image-box .news-box-overlay {
    width: 100%;
    height: 220px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;*/
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-box:hover .news-box-overlay {
    opacity: 0;
}
.news-box:hover .news-category,
.news-box:hover .news-category2 {
    opacity: 0;
}
.news-image-box .news-category {
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category2 {
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category .news-category-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category2 .news-category-left2 {
    width: auto;
    height: 30px;
    background-color: #000000;
    float: left;
    padding: 0 9px;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #E0D258;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category .news-category-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-category2 .news-category-right2 {
    border-color: #000000 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.news-content-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px 12px 10px 12px;
}
.news-content-box p {
    margin: 0;
    color: #7b7c7e;
    font-size: 0.9rem;
    font-weight: 400;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em; /*3.6*/
    line-height: 1.5em; /*1.8*/
}
.news-content-box hr {
    margin: 5px 0;
}
.news-content-box p .fas {
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-three {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-three {
        padding: 50px 80px;
    }
}


section#section-four {
    width: 100%;
    height: auto;
    text-align: center;
}
section#section-four h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-four h3:after {
    width: 30px;
    height: 2px;
    background-color: #3a3a3a;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -0.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-four .team-box {
    width: 90%;
    height: 100px;
    margin: 0 0 20px 5%;
    padding: 0;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
section#section-four .team-box:hover {
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.5);
}
section#section-four .team-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
}
section#section-four .team-box .team-box-content {
    height: 100%;
    width: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
section#section-four .team-box .team-box-content h4 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-size: 22px;
    font-weight: 400;
    color: #E0D258;
    height: 35px;
    line-height: 35px;
}
section#section-four .team-box .team-box-content h5 {
    margin: 0 0 0 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    height: 35px;
    line-height: 35px;
}
@media(max-width: 575px) {
    section#section-four {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-four {
        padding: 50px 80px;
    }
}



section#section-five {
    width: 100%;
    height: 400px;
    background: url("../img/background/ostercup_2018_background.png") center center;
}
.iinner {
    height: 400px;
    position: relative;
}
#a {
    width: 50%;
    position: relative;
    margin: 0
}
#b {
    position: absolute;
    right: 100%;
    top:0;
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-right: 20px solid rgba(0, 0, 0, 0.95);
    border-bottom: 0px solid rgba(0, 0, 0, 0.95);
    border-left: 20px solid transparent;
}
#c {
    display: block;
    padding: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color:#FFF;
    background:rgba(0, 0, 0, 0.7);
    height: 400px;
}
#d {
    position: absolute;
    left: 100%; top:0;
    width: 0px;
    height: 0px;
    border-top: 0 solid rgba(0, 0, 0, 0.7);
    border-right: 12px solid transparent;
    border-bottom: 400px solid transparent;
    border-left: 69px solid rgba(0, 0, 0, 0.7);
}
section#section-five h3 {
    text-align: center;
    margin: 20px auto 20px auto;
    font-weight: 300;
    color: #ffffff;
}
section#section-five p {
    margin: 0 0 15px 0;
    line-height: 1.8em;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-align: justify;
}
section#section-five a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 2px solid #CCBF50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    /*-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-five a:hover {
    background-color: #CCBF50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-five a .fas {
    font-size: 14px;
    margin-right: 5px;
}
section#section-five img {
    width: auto;
    height: 250px;
    position: absolute;
    top: 50%;
    right: 100px;
    margin-top: -125px;
}
@media(max-width: 1130px) {
    section#section-five {
        height: 450px;
    }
    .iinner {
        height: 450px;
    }
    #c {
        height: 450px;
    }
    #d {
        border-bottom: 450px solid transparent;
    }
}
@media(max-width: 575px) {
    #a {
        width: 100% !important;
    }
    #c {
        height: auto;
        padding: 50px 30px;
    }
    section#section-five img {
        display: none;
    }
    section#section-five h3 {
        margin-top: 0;
    }
    section#section-five,
    .iinner {
        height: auto;
    }
}
@media(min-width: 576px) and (max-width: 900px) {
    #a {
        width: 100% !important;
    }
    #c {
        height: auto;
        padding: 50px 80px;
    }
    section#section-five, .iinner {
        height: auto;
    }
    section#section-five img {
        display: none;
    }
    section#section-five h3 {
        margin-top: 0;
    }
}
