section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-one p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-one p:last-child {
    margin-bottom: 0;
}
section#section-one p a {
    font-weight: 400;
    color: #1a1a1a;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-one h4 {
    margin: 15px auto 30px auto;
    font-size: 17px;
    font-weight: 300;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}


/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 4;
    -webkit-box-shadow: 0 11px 18px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 11px 18px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 11px 18px 0 rgba(0, 0, 0, 0.4);
}
section#section-two img {
    height: 104px;
    width: auto;
}
@media(max-width: 1200px) {
    section#section-two {
        padding: 35px 30px 20px 30px;
    }
    section#section-two .image-line {
        text-align: center;
    }
    section#section-two img {
        margin-bottom: 15px;
        border-radius: 3px;
    }
}
section#section-two .row div {
    font-weight: 300;
    color: #3a3a3a;
}
section#section-two .row div .row {
    margin: 0;
    padding: 20px 0 10px 0;
}
section#section-two .fas,
section#section-two .far,
section#section-two .fab {
    width: 28px;
    height: 28px;
    background-color: #E0D258;
    margin: 0 10px 9px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    text-align: center;
    line-height: 28px;
}


/* SECTION-THREE */
section#section-three {
    width: 100%;
    height: 650px;
    position: relative;
    background: url("../img/map/gmap-overlay.png") 0 0 fixed;

}
@media(max-width: 991px) {
    section#section-three {
        overflow-y: auto;
    }
    section#section-three #map-address h4 {
        font-weight: 400;
    }
    section#section-three #contact-box button {
        font-size: 14px;
        font-weight: 400;
    }
    section#section-three #contact-box #error-box ul li {
        font-size: 15px;
        font-weight: 400;
        color: #B24C46;
    }
    section#section-three #contact-box input {
        height: 40px;
    }
}
@media(min-width: 992px) {
    section#section-three #map-address h4 {
        font-weight: 300;
    }
    section#section-three #contact-box button {
        font-size: 13px;
        font-weight: 300;
    }
    section#section-three #contact-box #error-box ul li {
        font-size: 14px;
        font-weight: 300;
        color: #B24C46;
    }
    section#section-three #contact-box input {
        height: 34px;
    }
}
section#section-three .section-three-content {
    width: 100%;
    height: 400px;
    margin: 0;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 3;
}
section#section-three #map-address {
    width: 100% !important;
    text-align: center !important;
    margin: 10px auto 40px auto;
}
section#section-three #map-address img {
    width: 40px;
    height: 40px;
    margin: 0 auto 15px auto;
    display: block;
}
section#section-three #map-address h4 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}
section#section-three #contact-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 15px 30px 15px 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;
}
section#section-three #contact-box h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 18px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-three #contact-box p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-three #contact-box #error-box {
    width: 100%;
    height: auto;
    background-color: rgba(224, 95, 88, 0.4);
    padding: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
section#section-three #contact-box #error-box p {
    margin: 5px 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    color: #B24C46;
}
section#section-three #contact-box #error-box ul {
    margin: 0px 20px;
    padding: 0;
}
section#section-three #contact-box #error-box ul li {
    font-weight: 400;
}
section#section-three #contact-box #success-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 178, 99, 0.7);
    padding: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    color: #00693A;
}
section#section-three #contact-box .contact-form {
    margin-top: 20px;
}
section#section-three #contact-box .form-group {
    display: inline;
}
section#section-three #contact-box input[type="text"],
section#section-three #contact-box input[type="email"],
section#section-three #contact-box select,
section#section-three #contact-box textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 2px 16px;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #969a9d;
    line-height: 36px;
    font-size: 16px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
section#section-three #contact-box textarea {
    height: 80px;
}
section#section-three #contact-box input[type="text"]:focus,
section#section-three #contact-box input[type="email"]:focus,
section#section-three #contact-box select:focus,
section#section-three #contact-box textarea:focus {
    background-color: #f0f0f0;
}
section#section-three #contact-box button[type="submit"] {
    min-height: 40px;
    background-color: #1a1a1a;
    padding: 7px 23px;
    border: 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    margin: 0 auto;
}
section#section-three #contact-box button[type="submit"]:hover {
    background-color: #000000;
}
@media(max-width: 400px) {
    section#section-three {
        height: auto;
        min-height: 650px;
    }
}


/* SECTION-FOUR */
section#section-four {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 6;
    text-align: center;
    -webkit-box-shadow: 0 -11px 13px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -11px 13px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 -11px 13px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 991px) {
    section#section-four #section-contact-options p {
        line-height: 1.8;
        font-size: 16px;
        font-weight: 400;
    }
    section#section-four #section-contact-options a {
        font-size: 14px;
        font-weight: 400;
    }
}
@media(min-width: 992px) {
    section#section-four #section-contact-options p {
        line-height: 1.6;
        font-size: 16px;
        font-weight: 300;
    }
    section#section-four #section-contact-options a {
        font-size: 14px;
        font-weight: 300;
    }
}
section#section-four .equal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
section#section-four .equal > [class*='col-'] {
    padding: 0;
    display: flex;
    flex-direction: column;
}
section#section-four #section-contact-options {
    height: 100%;
    padding:  50px 30px;
}
section#section-four #section-contact-options h3 {
    margin: 0 0 30px 0;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-four #section-contact-options h3:after {
    width: 30px;
    height: 2px;
    background-color: #3a3a3a;
    margin-left: -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-four #section-contact-options p {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #ffffff;
}
section#section-four #section-contact-options a {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 30px 0 0 0;
    padding: 9px 20px;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
section#section-four #section-contact-options a:hover,
section#section-four #section-contact-options a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-four #section-contact-options a .fas,
section#section-four #section-contact-options a .fab {
    font-size: 14px;
    margin-right: 5px;
}
section#section-four #section-social-media {
    height: 100%;
    background-color: #eeeeee;
    padding: 50px 30px;
}
section#section-four #section-social-media h3 {
    margin: 0 0 30px 0;
    font-size: 22px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-four #section-social-media h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin-left: -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-four #section-social-media a {
    margin: 10px;
    display: inline-block;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow 0.3s ease-in-out;
    -ms-transition: box-shadow 0.3s ease-in-out;
    -o-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}
section#section-four #section-social-media a:hover {
    -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5);
}
section#section-four #section-social-media a img {
    width: auto;
    height: 40px;
}