section#section-one {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-one #background-overlay-one {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
}



@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
    section#section-one #menu {
        position: relative;
    }
    section#section-one #menu ul{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
    }
    section#section-one #menu ul li a {
        width: 100%;
        height: 40px;
        background-image: linear-gradient(to top right, #CCBF50 10%, #EDDE5D);
        margin: 15px 0;
        padding: 0 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        letter-spacing: 1px;
        font-size: 16px;
        color: #ffffff;
        display: block;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    section#section-one #menu ul li a:hover {
        background-image: linear-gradient(to top right, #1a1a1a 10%, #1a1a1a);
        color: #EDDE5D;
    }
}
@media(min-width: 576px) and (max-width: 991px) {
    section#section-one {
        padding: 50px 80px;
    }
    section#section-one #menu {
        position: relative;
    }
    section#section-one #menu ul{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
    }
    section#section-one #menu ul li a {
        width: 46%;
        height: 40px;
        background-image: linear-gradient(to top right, #CCBF50 10%, #EDDE5D);
        margin: 15px 0 15px 2%;
        padding: 0 10px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        letter-spacing: 1px;
        font-size: 16px;
        color:#fff;
        display:block;
        float: left;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    section#section-one #menu ul li a:hover {
        background-image: linear-gradient(to top right, #1a1a1a 10%, #1a1a1a);
        color: #EDDE5D;
    }
    section#section-one #menu .dfb a{top:20px;left:120px;}
    section#section-one #menu .dfbnetportal a{top:160px;left:170px;}
    section#section-one #menu .dfbnetverein a{top:300px;left:135px;}
    section#section-one #menu .dfbmedien a{top:245px;left:300px;}
    section#section-one #menu .sportmedia a{top:60px;left:280px;}
    section#section-one #menu .fussballde a{top:150px;left:410px;}
    section#section-one #menu .aufmplatz a{top:0px;left:420px;}
    section#section-one #menu .wackeraltherren a{top:300px;left:450px;}
    section#section-one #menu .flvw a{top:200px;left:565px;}
    section#section-one #menu a:hover{ z-index:2; }
}
@media(min-width: 992px) {
    section#section-one {
        padding: 50px 30px;
    }
    section#section-one #menu ul {
        width: 100%;
        height: 450px;
        margin: 0 auto;
        padding: 0;
        position: relative;
        top: 20px;
        left: 0;
        list-style-type: none;
        z-index: 1;
    }
    section#section-one #menu a {
        width: 120px;
        height: 120px;
        background-image: linear-gradient(to top right, #CCBF50 10%, #EDDE5D);
        position: absolute;
        text-align: center;
        text-decoration: none;
        line-height: 120px;
        letter-spacing: 1px;
        font-size: 12px;
        color: #ffffff;
        display:block;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
    }
    section#section-one #menu .dfb a{top:20px;left:120px;}
    section#section-one #menu .dfbnetportal a{top:160px;left:170px;}
    section#section-one #menu .dfbnetverein a{top:300px;left:135px;}
    section#section-one #menu .dfbmedien a{top:245px;left:300px;}
    section#section-one #menu .sportmedia a{top:60px;left:280px;}
    section#section-one #menu .fussballde a{top:150px;left:410px;}
    section#section-one #menu .aufmplatz a{top:0px;left:420px;}
    section#section-one #menu .wackeraltherren a{top:300px;left:450px;}
    section#section-one #menu .flvw a{top:200px;left:565px;}
    section#section-one #menu a:hover{ z-index:2; }
}


section#section-two {
    width: 100%;
    height: auto;
    background-color: #f2f3f4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-two p {
    width: 100%;
    margin: 0 0 15px 0;
    font-weight: 300;
    line-height: 1.6;
    font-size: 16px;
    color: #3a3a3a;
}
section#section-two p #contact-btn {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 30px 0 0 0;
    padding: 8px 20px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-two p #contact-btn:hover,
section#section-two p #contact-btn:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-two p #contact-btn a .fas,
section#section-two p #contact-btn a .fab {
    font-size: 14px;
    margin-right: 5px;
}


@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
    section#section-two p {
        text-align: justify;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
    section#section-two p {
        text-align: left;
    }
}