/* Content */
#content {
    width: 100% !important;
    margin: 70px 0 0 0 !important;
}


/* Section-One */
section#section-one {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 100px 60px 150px 60px;
    position: relative;
}
section#section-one #login-logo-box {
    width: 110px;
    height: auto;
    background-image: linear-gradient(to right, #CCBF50 40%, #EDDE5D);
    margin: 0 auto;
    padding: 5px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-one #login-logo-box img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}
section#section-one #login-box {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 40px 0 0 0;
    padding: 25px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.7);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,.7);
    box-shadow: 0 3px 10px rgba(0,0,0,.7);
}
section#section-one #login-box:before {
    content:'';
    position: absolute;
    top: -16px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 16px #ffffff;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent;
}
section#section-one #login-box h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: -0.01em;
    font-weight: 700;
    font-size: 24px;
    color: #3a3a3a;
}
section#section-one #login-box input[type=text],
section#section-one #login-box input[type=password],
section#section-one #login-box input[type=email],
section#section-one #login-box input:-webkit-autofill,
section#section-one #login-box input:-webkit-autofill:active {
    background-color: #ffffff !important;
    height: 40px;
    line-height: 36px;
    padding: 2px 16px;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #969a9d;
    font-size: 16px;
    outline: 0 none;
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -moz-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #969a9d;
}
section#section-one #login-box input[type=text]:focus,
section#section-one #login-box input[type=password]:focus,
section#section-one #login-box input[type=email]:focus,
section#section-one #login-box input:-webkit-autofill:focus {
    background-color: #f0f0f0 !important;
    -webkit-box-shadow: 0 0 0 1000px #f0f0f0 inset;
    -moz-box-shadow: 0 0 0 1000px #f0f0f0 inset;
    box-shadow: 0 0 0 1000px #f0f0f0 inset;
}
section#section-one #login-box #login-submit-btn {
    min-height: 40px;
    background-color: #E0D258;
    margin-bottom: 1rem;
    padding: 7px 23px;
    border: 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
section#section-one #login-box #login-submit-btn:hover {
    background-color: #EDDE5D;
}
section#section-one #login-box #forget-password-btn {
    font-size: 15px;
    color: #9d9d9d;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
section#section-one #login-box #forget-password-btn:hover {
    color: #3a3a3a;
}
section#section-one #login-box #error-box {
    margin-bottom: 15px;
    color: rgba(221,95,82,0.9);
}
section#section-one #login-box .error-input {
    border: 2px solid rgba(221,95,82,0.9) !important;
}