/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-one img#mitgliedschaft-banner {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: 20px auto 0 auto;
    border: 2px solid #E0D258;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}
section#section-one p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-one h4 {
    margin: 15px auto 30px auto;
    font-size: 17px;
    font-weight: 300;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}


section#section-two {
    width: 100%;
    height: auto;
}
section#section-two a {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    border: 2px solid #E0D258;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
}
section#section-two a:hover {
    background-color: #E0D258;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
}
section#section-two a .fas {
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px 30px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}
@media(max-width: 991px) {
    section#section-two {
        padding: 50px 80px 30px 80px;
    }
    section#section-two a {
        margin-bottom: 20px;
    }
}


section#weitere-informationen {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#weitere-informationen p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#weitere-informationen p:last-child {
    margin-bottom: 0;
}
section#weitere-informationen h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#weitere-informationen h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#weitere-informationen .shadow-line {
    height: 2px;
    margin-top: 20px;
    margin-bottom: 5px;
}
@media(max-width: 575px) {
    section#weitere-informationen {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#weitere-informationen {
        padding: 50px 80px;
    }
}


section#section-seven {
    width: 100%;
    height: auto;
    padding: 30px;
}
section#section-seven .info-boxes {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-top: 20px;
    padding: 15px;
}
section#section-seven .info-boxes h5 {
    height: 50px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    line-height: 25px;
    margin: 15px auto 15px auto;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
section#section-seven .info-boxes h5:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-seven .info-boxes p {
    text-align: justify;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    line-height: 1.5;
    margin: 20px auto 0 auto;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}


section#deine-vorteile {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    text-align: center;
}
section#deine-vorteile h3 {
    margin: 0 auto 80px auto;
    font-size: 22px;
    font-weight: 300;
    color: #3a3a3a;
}
section#deine-vorteile h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
.membership-advantage-box {
    width: 100%;
    height: auto;
    min-height: 100px;
    background-color: #f5f5f5;
    position: relative;
    border-radius: 3px;
    padding: 60px 10px 10px 10px;
}
.membership-advantage-box .membership-advantage-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    border: 5px solid #f5f5f5;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
}
.membership-advantage-box .membership-advantage-icon .fas,
.membership-advantage-box .membership-advantage-icon .far {
    color: #ffffff;
    font-size: 50px;
    line-height: 90px;
}
.membership-advantage-box h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
    display: block;
}
@media(max-width: 991px) {
    section#deine-vorteile {
        padding: 50px 80px 0 80px;
    }
    .membership-advantage-box {
        margin-bottom: 80px;
    }
}
@media(max-width: 575px) {
    section#deine-vorteile {
        padding: 50px 30px 0 30px;
    }
}
@media(min-width: 576px) {
    section#deine-vorteile {
        padding: 50px 80px 0 80px;
    }
}


section#mitgliedsbeitraege {
    text-align: center;
    position: relative;
    background-color: #f0f0f0;
}
section#mitgliedsbeitraege .container {
    position: relative;
}
section#mitgliedsbeitraege h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#mitgliedsbeitraege h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
.membership-dues-box {
    height: auto;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.9);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.9);
}
.membership-dues-box .membership-dues-image-box {
    width: 100%;
    height: 70px;
    position: relative;
    overflow: hidden;
}
.membership-dues-box .membership-dues-image-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.membership-dues-box .membership-dues-image-box span {
    width: 100%;
    height: 50px;
    line-height: 25px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #E0D258;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    z-index: 2;
}
.membership-dues-box .membership-dues-footer-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 15px;
    font-weight: 300;
    color: #3a3a3a;
}
.membership-dues-box .membership-dues-footer-box span {
    display: inline-block;
}
.membership-dues-box .membership-dues-footer-box span:nth-child(1) {
    font-size: 15px;
    font-weight: 300;
}
.membership-dues-box .membership-dues-footer-box span:nth-child(2) {
    font-weight: 400;
    font-size: 23px;
}
.membership-dues-box .membership-dues-footer-box span:nth-child(3) {
    font-size: 17px;
    font-weight: 300;
}
#membership-dues-info-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 30px;
    padding: 0 10px 10px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#membership-dues-info-box #info-box-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #1a1a1a;
    text-transform: uppercase;
    line-height: 30px;
}
#membership-dues-info-box #info-box-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
#membership-dues-info-box p {
    text-align: left;
    margin: 20px 20px 10px 20px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}
@media(max-width: 575px) {
    section#mitgliedsbeitraege {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#mitgliedsbeitraege {
        padding: 50px 80px;
    }
}


section#mitglied-werden {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#mitglied-werden p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#mitglied-werden h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#mitglied-werden h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#mitglied-werden a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 30px 0 0 0;
    padding: 8px 20px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#mitglied-werden a:hover,
section#mitglied-werden a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#mitglied-werden a .fas,
section#mitglied-werden a .fab {
    font-size: 14px;
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#mitglied-werden {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#mitglied-werden {
        padding: 50px 80px;
    }
}