/* Section-One */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f2f3f4;
    margin: 0 auto;
}
section#section-one [class*=' col-'], section#section-one [class*=' col-'] {
    padding: 0 20px !important;
}
.news-box {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-box:hover {
    -webkit-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
}
.news-image-box {
    width: 100%;
    height: 220px;
    margin: 0;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.news-image-box img {
    /*width: 100%;
    height: 100%;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.news-image-box .news-box-overlay {
    width: 100%;
    height: 220px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;*/
    display: block;
    cursor: pointer;
}
.news-image-box .news-category {
    width: auto;
    height: 30px;
    margin-bottom: 6px;





    /*w



    width: auto;
    max-width: 100%;
    height: auto;
    background-color: #E0D258;
    padding: 4px 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);*/
}
.news-image-box .news-category .news-category-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;

}
.news-image-box .news-category .news-category-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-title {
    height: 72px;
    line-height: 24px;
    margin: 8px 12px 12px 12px;
    font-size: 1.1em;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #ffffff;
    text-align: left;
    overflow: hidden;
}
.news-image-box .news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.news-content-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px 12px 10px 12px;
}
.news-content-box p {
    margin: 0;
    font-weight: 400;
    color: #000000;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em; /*3.6*/
    line-height: 1.5em; /*1.8*/
}
.news-content-box hr {
    margin: 15px 0 5px 0;
}
.news-content-box span {
    color: #7b7c7e;
    font-size: .8125rem;
    font-weight: 400;
    margin: 0;
    display: inline-block;
}
section#section-one .pagination {
    margin: 20px 0;
}
section#section-one .pagination .page-item .page-link {
    background-color: #dee2e6;
    margin-right: 3px;
    border: 0;
    color: #1a1a1a;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
section#section-one .pagination .page-item.active .page-link {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
}
section#section-one .pagination .page-item .page-link:hover,
section#section-one .pagination .page-item .page-link:active {
    background-color: #1a1a1a;
    color: #ffffff;
}
section#section-one #table-box,
section#section-one #facebook-feed-box {
    width: 100%;
    height: auto;
    background-color: #000000;
    margin: 10px 0;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}
section#section-one #table-box {
    overflow-x: auto;
}
section#section-one #facebook-feed-box {
    margin: 10px 0 0 0;
}
.fupa_widget .content_table_std {
    background: #000000;
}
.fupa_widget a {
    color: #ffffff;
}
.fupa_widget a:hover {
    color: #E0D258;
}
.fupa_widget .content_table_std th {
    background: #000000;
    color: #E0D258;
}
.fupa_widget .tabelle_farbe_meister,
.fupa_widget .tabelle_farbe_neutral {
    background: rgba(255, 255, 255, 0.1);
}
.fupa_widget .content_table_std td {
    border-bottom: 3px solid #000000;
    color: #ffffff;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}