/* Header */
header {
    height: 100px;
    padding: 0 20px 0 0;
}
header img {
    width: auto;
    height: 100px;
    margin: 0 30px 0 0;
    float: left;
}
header #header-headline {
    margin-top: 22px;
}


/* Section-One */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f2f3f4;
    margin: 0 auto;
}
section#section-one #news-article-box {
    width: 100%;
    height: auto;
    background-color: #e4e5e6; /* #dddedf */
    margin: 10px 0;
    padding: 10px;
    border-radius: 2px;
}
section#section-one #news-article-box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
section#section-one #news-article-box p {
    line-height: 1.6;
    margin: 0 10px 20px 10px;
    color: #3a3a3a;
    font-size: 16px;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}





section#section-one #top-news-box {
    width: 100%;
    height: auto;
    background-color: #e4e5e6; /* #dddedf */
    margin: 10px 0;
    padding: 10px;
    border-radius: 2px;
}
section#section-one #top-news-box .section-area-headline {
    margin: 0 0 10px 0;
}
section#section-one #top-news-box .top-news-article {
    width: 100%;
    height: 54px;
    margin-bottom: 4px;
    background-color: #edeeef/*rgba(255, 255, 255, 0.5)*/;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 2px solid #edeeef;
}
section#section-one #top-news-box .top-news-article:last-child {
    margin-bottom: 0;
}
section#section-one #top-news-box .top-news-article:hover {
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #EDDE5D;
    -webkit-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
}
section#section-one #top-news-box .top-news-article img.top-news-thumbnail {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}
section#section-one #top-news-box .top-news-article .top-news-content {
    width: calc(100% - 60px);
    height: 50px;
    float: left;
}
section#section-one #top-news-box .top-news-article .top-news-content .top-news-title {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    color: #3a3a3a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
section#section-one #top-news-box .top-news-article .top-news-content .top-news-comments,
section#section-one #top-news-box .top-news-article .top-news-content .top-news-date {
    font-size: 12px;
    color: #3a3a3a;
    display: inline;
}
section#section-one #wackertv-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.85); /* #dddedf */
    margin: 20px 0 0 0;
    padding: 0;
    border-radius: 2px;
    text-align: center;
}
section#section-one #wackertv-box a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 15px 10px 0 10px;
}
section#section-one #wackertv-box img {
    width: 150px;
    height: auto;
    margin: 0 auto;
}




section#section-one #comment-box {
    width: 100%;
    height: auto;
    background-color: #e4e5e6;
    margin: 20px 0 10px 0;
    padding: 10px;
    border-radius: 2px;
}
section#section-one #comment-box .comment {
    width: 100%;
    height: auto;
    min-height: 50px;
    background-color: #edeeef;
    margin-bottom: 4px;
    padding: 5px 10px;
    display: block;
}
section#section-one #comment-box .comment .comment-content {
    font-size: 15px;
    color: #3a3a3a;
}
section#section-one #comment-box .comment .comment-info {
    font-size: 12px;
    color: #3a3a3a;
    display: inline;
}
section#section-one #comment-box .section-area-headline {
    margin: 0 0 10px 0;
}
section#section-one #comment-box #user-comment-form label {
    font-size: 14px;
    color: #3a3a3a;
}
#user-comment {
    height: 100px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #969a9d;
    font-size: 16px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.user-comment-error {
    border: 2px solid rgba(221,95,82,0.9) !important;
}




.swal2-popup .swal2-title {
    margin: 0 0 .4em;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    color: #3b4758;
    word-wrap: break-word;
    background-color: #E0D258;
}
#swal2-content .label_wrapper {
    margin-bottom: 1rem;
}
#swal2-content hr {
    margin: 1rem 0;
}
.swal2-popup .swal2-styled {
    padding: .425em 1.5em !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 none !important;
    -webkit-transition: all 0.2s ease-in-out !important;
    -moz-transition: all 0.2s ease-in-out !important;
    -ms-transition: all 0.2s ease-in-out !important;
    -o-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
}
.swal2-popup .swal2-confirm {
    background-color: #0189E9 !important;
    border-color: #0189E9 !important;
}
.swal2-popup .swal2-confirm:hover,
.swal2-popup .swal2-confirm:active {
    background-color: rgba(1,150,255,0.9) !important;
}
.swal2-icon.swal2-success .swal2-success-ring {
    border: 4px solid rgba(165, 220, 134, 0.5) !important;
}