#page-header {
    height: 400px;
    background: url("../img/background/ostercup_2018_background.png") center center no-repeat;
}
#page-header #page-header-overlay {
    background-color: transparent;
}
#page-header img#ostercup-logo {
    width: auto;
    height: 200px;
    margin: 0 auto;
    display: block;
}


.page-sub-menu {
    margin: 0;
    padding: .75rem 1rem .75rem 60px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    vertical-align: middle;
    background-image: linear-gradient(to right, #CCBF50 40%, #EDDE5D);
}
.page-sub-menu .nav-item .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}


/* ueber-den-ostercup */
section#ueber-den-ostercup {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}
section#ueber-den-ostercup p {
    width: 100%;
    margin: 0 0 15px 0;
    text-align: justify;
    font-weight: 300;
}
section#ueber-den-ostercup p#first-paragraph {
    margin-top: 20px;
}
section#ueber-den-ostercup p#last-paragraph {
    margin-bottom: 40px;
}
section#ueber-den-ostercup h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#ueber-den-ostercup h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
/*section#ueber-den-ostercup img {
    width: 100%;
    height: auto;
    border: 4px solid #ffffff;
    -webkit-box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.2);
}*/
section#ueber-den-ostercup a {
    display: inline-block;
}
section#ueber-den-ostercup a.col-xl-3 {
    max-width: calc(25% - 4px);
}
section#ueber-den-ostercup img {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    border: 4px solid #ffffff;
    -webkit-box-shadow: 0 0 0.1875em 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0.1875em 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.1875em 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
section#ueber-den-ostercup img:hover {
    -webkit-box-shadow: 0 0 0.1875em 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0.1875em 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.1875em 2px rgba(0, 0, 0, 0.3);
}



section#wissenswerte-zahlen {
    width: 100%;
    height: auto;
    padding: 30px;
    position: relative;
    text-align: center;
}
section#wissenswerte-zahlen .container {
    position: relative;
}
section#wissenswerte-zahlen h3 {
    margin: 0 auto 15px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#wissenswerte-zahlen h4 {
    margin: 0 auto 35px auto;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
section#wissenswerte-zahlen h4:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -1em;
    left: 50%;
    content: '';
    display: block;
}
section#wissenswerte-zahlen .fact-box {
    width: 100%;
    text-align: center;
}
section#wissenswerte-zahlen .fact-box .fact-icon {
    font-size: 34px;
    color: #ffffff;
}
section#wissenswerte-zahlen .fact-box .fact-value {
    font-size: 46px;
    font-weight: 300;
    color: #E0D258;
}
section#wissenswerte-zahlen .fact-box .fact-name {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 14px;
    color: #ffffff;
}



section#anmeldung {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
}
section#anmeldung h3 {
    text-align: center;
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#anmeldung h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#anmeldung p {
    width: 100%;
    margin: 20px 0 40px 0;
    text-align: justify;
    font-weight: 300;
}
section#anmeldung p a {
    font-weight: 400;
    text-decoration: none;
    color: #1a1a1a;
}
section#anmeldung .card-group {
    -webkit-box-shadow: 0 0 4px rgba(34, 34, 34, 0.12); /* y=2px */
    -moz-box-shadow: 0 0 4px rgba(34, 34, 34, 0.12);
    box-shadow: 0 0 4px rgba(34, 34, 34, 0.12);
    padding: 0;
}
section#anmeldung .card-group .card {
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    padding: 0;
}
section#anmeldung .card-group .card:last-child .card-body {
    border-left: 1px solid rgba(34, 34, 34, 0.12);
}
section#anmeldung .card-group .card .card-body {
    margin-top: 1px;
    padding: 0;
}
section#anmeldung .card-group .card .card-content-box {
    padding: 15px;
}
section#anmeldung .card-group .card h4.card-title {
    font-size: 18px;
    font-weight: 400;
    color: #3a3a3a;
    width: calc(100% - 1px);
    display: block;
    background-color: #ebebeb;
    padding: 15px;
    text-align: center;
}
section#anmeldung .card-group .card:first-child h4.card-title {
    margin: 0 0 0 1px;
}
section#anmeldung .card-group .card:last-child h4.card-title {
    margin: 0 1px 0 0;
}
section#anmeldung .card-group .card .card-body input[type="text"],
section#anmeldung .card-group .card .card-body input[type="email"],
section#anmeldung .card-group .card .card-body input[type="number"] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 2px 16px;
    border: 2px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: #969a9d;
    line-height: 36px;
    font-size: 16px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
section#anmeldung .card-group .card .card-body input[type="text"]:focus,
section#anmeldung .card-group .card .card-body input[type="email"]:focus,
section#anmeldung .card-group .card .card-body input[type="number"]:focus {
    background-color: #f0f0f0;
}
section#anmeldung .card-group .card .card-body button[type="submit"] {
    min-height: 40px;
    background-color: #1a1a1a;
    padding: 7px 23px;
    border: 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    margin: 0 auto;
    float: right;
}
section#anmeldung .card-group .card .card-body button[type="submit"]:hover {
    background-color: #000000;
}
section#anmeldung .card-group .card .card-body label,
section#anmeldung .card-group .card .card-body span {
    font-size: 14px;
    font-weight: 500;
    color: #3a3a3a;
}



section#rueckblick {
    width: 100%;
    height: auto;
    padding: 30px;
    text-align: center;
}
section#rueckblick h3 {
    margin: 10px auto 50px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#rueckblick h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin-left: -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#rueckblick img {
    width: auto;
    height: 100px;
    margin: 0 auto;
}



section#bildergalerien {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    padding: 30px;
    text-align: center;
}
section#bildergalerien h3#page-headline {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#bildergalerien h3#page-headline:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
@media(max-width: 991px) {
    section#bildergalerien .gallery-box .gallery-box-headline h3 {
        font-size: 16px;
        font-weight: 400;
    }
}
@media(min-width: 992px) {
    section#bildergalerien .gallery-box .gallery-box-headline h3 {
        font-size: 15px;
        font-weight: 300;
    }
}
section#bildergalerien .gallery-box {
    width: 100%;
}
section#bildergalerien .gallery-box-content {
    height: 220px;
    position: relative;
}
section#bildergalerien .gallery-box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
section#bildergalerien .gallery-box .gallery-box-headline {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 20px;
    -webkit-transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out, line-height 0.3s ease-in-out;
}
section#bildergalerien .gallery-box:hover .gallery-box-headline {
    height: 100%;
    line-height: 220px;
}
section#bildergalerien .gallery-box .gallery-box-headline h3 {
    margin: 0 auto;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


section#presseberichte {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    padding: 30px;
    text-align: center;
}
section#presseberichte h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#presseberichte h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#presseberichte .quote-card {
    background: #fff;
    color: #222222;
    padding: 20px;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
    position: relative;
    overflow: hidden;
    min-height: 120px;
    text-align: left;
}
section#presseberichte .quote-card p {
    font-size: 22px;
    line-height: 1.5;
    margin: 0;
    max-width: 80%;
}
section#presseberichte .quote-card cite {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    font-weight: 200;
    opacity: 0.8;
}
section#presseberichte .quote-card:before {
    font-family: Georgia, serif;
    content: "“";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 5em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}
section#presseberichte .quote-card:after {
    font-family: Georgia, serif;
    content: "”";
    position: absolute;
    bottom: -110px;
    line-height: 100px;
    right: -32px;
    font-size: 25em;
    color: rgba(238, 238, 238, 0.8);
    font-weight: normal;
}
@media (max-width: 640px) {
    section#presseberichte .quote-card:after {
        font-size: 22em;
        right: -25px;
    }
}