/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    margin: 0 auto;
    text-align: center;
}
section#section-one img {
    width: 100%;
    height: auto;
    max-width: 172px;
    border: 3px solid #CCBF50;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}
section#section-one #guideline-box {
    width: 100%;
    height: auto;
}
section#section-one #guideline-box h3 {
    margin: 30px auto 15px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-one #guideline-box p {
    margin: 0 0 15px 0;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-one #guideline-box #geschichte-btn {
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 8px 26px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-one #guideline-box #geschichte-btn:hover,
section#section-one #guideline-box #geschichte-btn:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-one #guideline-box #geschichte-btn .fas {
    font-size: 14px;
    margin-right: 5px;
}
section#section-one #details-box {
    width: fit-content;
    width: -moz-fit-content;
    max-width: 100%;
    height: auto;
    background-color: #dddedf;
    margin: 0;
    padding: 10px 35px 20px 35px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
section#section-one #details-box p {
    margin: 0 0 15px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-one #details-box h3 {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 300;
}
section#section-one #details-box h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}


@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
    section#section-one #guideline-box p {
        text-align: justify;
    }
    section#section-one #guideline-box #geschichte-btn {
        margin: 5px auto 20px auto;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
    section#section-one #guideline-box p {
        text-align: center;
    }
    section#section-one #guideline-box #geschichte-btn {
        margin: 35px auto 0 auto;
    }
}




