/* Content */
#content {
    width: 100% !important;
    margin: 70px 0 0 0 !important;
}

section#section-one {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 80px 60px 150px 60px;
    position: relative;
}
section#section-one #login-logo-box {
    width: 110px;
    height: auto;
    background-image: linear-gradient(to right, #CCBF50 40%, #EDDE5D);
    margin: 0 auto;
    padding: 5px 10px 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-one #login-logo-box img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}
section#section-one #registration-box {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 40px 0 0 0;
    padding: 15px;
    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.7);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,.7);
    box-shadow: 0 3px 10px rgba(0,0,0,.7);
}
section#section-one #registration-box:before {
    content:'';
    position: absolute;
    top: -16px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: solid 16px #ffffff;
    border-left: solid 16px transparent;
    border-right: solid 16px transparent;
}
section#section-one #registration-box #check-button {
    margin-top: 10px;
}
section#section-one #registration-box #check-button i {
    font-size: 70px;
    color: #dbce56;
    border: 3px solid #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}
section#section-one #registration-box h1 {
    margin: 20px 0;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: -0.01em;
    font-weight: 700;
    font-size: 22px;
    color: #3a3a3a;
}
section#section-one #registration-box p {
    margin: 15px 0;
    font-size: 16px;
    color: #717780;
}
section#section-one #registration-box a {
    background-color: #d6d6d6;
    margin: 0.5rem 0 1rem 0;
    padding: 7px 23px;
    border: 0 none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    outline: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 600;
    color: #717780;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
section#section-one #registration-box a:hover {
    background-color: #eeeeee;
}