/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
section#section-one #background-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
section#section-one .container {
    position: relative;
    z-index: 2;
}
section#section-one .row span {
    width: auto;
    height: auto;
    background-image: linear-gradient(to right, #CCBF50 40%, #EDDE5D);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 34px;
    font-weight: 300;
}
section#section-one h3.page-headline {
    margin: 0 auto 15px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-one h4.page-subheadline {
    margin: 0 auto 35px auto;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}
section#section-one h4.page-subheadline:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -1em;
    left: 50%;
    content: '';
    display: block;
}
.news-box {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.8);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.8);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.8);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-box:hover {
    -webkit-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.9);
    -moz-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.9);
    box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.9);
}
.news-image-box {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.news-image-box img {
    width: 100%;
    height: auto;
    background-position: bottom center;
}
.news-image-box .news-box-overlay {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;*/
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-box:hover .news-box-overlay {
    opacity: 0;
}
.news-box:hover .news-category,
.news-box:hover .news-category2 {
    opacity: 0;
}
.news-image-box .news-category {
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category2 {
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category .news-category-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category2 .news-category-left2 {
    width: auto;
    height: 30px;
    background-color: #000000;
    float: left;
    padding: 0 9px;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #E0D258;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category .news-category-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-category2 .news-category-right2 {
    border-color: #000000 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.news-content-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
}
.news-content-box img {
    height: 30px;
    width: auto;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
    float: left;
}
.news-content-box h5 {
    height: 30px;
    padding: 0;
    margin: 0;
    color: #7b7c7e;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    float: right;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}


/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    margin: 0 auto;
    text-align: center;
}
section#section-two h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-two h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -0.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-two .referee-box {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
section#section-two .referee-box:hover {
    -webkit-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
}
section#section-two .referee-box .referee-image-box {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
section#section-two .referee-box .referee-image-box img {
    width: 100%;
    height: auto;
    background-position: bottom center;
}
section#section-two .referee-box .referee-image-box .referee-box-overlay {
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;*/
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
section#section-two .referee-box .referee-box:hover .referee-box-overlay {
    opacity: 0;
}
section#section-two .referee-box .referee-box:hover .referee-category,
section#section-two .referee-box .referee-box:hover .referee-category2 {
    opacity: 0;
}
section#section-two .referee-box .referee-image-box .referee-category {
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
section#section-two .referee-box .referee-image-box .referee-category2 {
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
section#section-two .referee-box .referee-image-box .referee-category .referee-category-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
}
section#section-two .referee-box .referee-image-box .referee-category2 .referee-category-left2 {
    width: auto;
    height: 30px;
    background-color: #000000;
    float: left;
    padding: 0 9px;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #E0D258;
    text-transform: uppercase;
    line-height: 30px;
}
section#section-two .referee-box .referee-image-box .referee-category .referee-category-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
section#section-two .referee-box .referee-image-box .referee-category2 .referee-category-right2 {
    border-color: #000000 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
section#section-two .referee-box .referee-image-box .referee-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
section#section-two .referee-box .referee-content-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}
section#section-two .referee-box .referee-content-box h5 {
    height: 30px;
    padding: 0;
    margin: 0;
    color: #7b7c7e;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}


/* SECTION-THREE */
section#section-three {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
}
section#section-three p {
    text-align: justify;
    font-weight: 300;
    line-height: 1.8;
    font-size: 16px;
    margin: 0 auto;
}
@media(max-width: 575px) {
    section#section-three {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-three {
        padding: 50px 80px;
    }
}


/* SECTION-FOUR */
section#section-four {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media(max-width: 991px) {
    section#section-four .content-left p {
        line-height: 1.8;
        font-size: 17px;
    }
    section#section-four .content-left ul li {
        font-weight: 400;
    }
    section#section-four .content-right #schiedsrichter-box {
        margin-top: 10px;
        padding: 15px;
    }
}
@media(min-width: 992px) {
    section#section-four .content-left p {
        line-height: 1.6;
        font-size: 16px;
    }
    section#section-four .content-left ul li {
        font-weight: 300;
    }
    section#section-four .content-right #schiedsrichter-box {
        padding: 15px;
    }
}
section#section-four .content-left p {
    width: 100%;
    text-align: justify;
    font-weight: 300;
    color: #373737;
}
section#section-four .content-left ul {
    width: 100%;
    text-align: left;
}
section#section-four .content-left ul li {
    line-height: 22px;
    font-size: 16px;
    color: #373737;
}
section#section-four .content-left h2 {
    text-align: left;
    font-size: 26px;
    font-weight: 300;
    color: #373737;
    margin: 30px 0px 20px 0px;
}
section#section-four .content-right #schiedsrichter-box {
    width: 100%;
    height: auto;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-four .content-right #schiedsrichter-box p {
    margin: 0;
    line-height: 25px;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}
section#section-four .content-right #schiedsrichter-box p:first-child {
    margin-bottom: 10px;
}
section#section-four .content-right #schiedsrichter-box p a {
    color: #E0D258;
}
section#section-four .content-right #schiedsrichter-box table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: 300;
    color: #373737;
}
@media(max-width: 575px) {
    section#section-four {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-four {
        padding: 50px 80px;
    }
}


/* SECTION-FIVE */
section#section-five {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
section#section-five p {
    width: 100%;
    margin: 0;
    font-weight: 300;
    color: #ffffff;
}
section#section-five a {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 30px 0 0 0;
    padding: 9px 20px;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
section#section-five a:hover,
section#section-five a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-five a .fas,
section#section-five a .fab {
    font-size: 14px;
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-five {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-five {
        padding: 50px 80px;
    }
}