/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding:  15px 40px 30px 40px;
    text-align: center;
}
section#section-two p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: center;
    font-weight: 300;
}
section#section-two a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 30px auto 0 auto;
    padding: 8px 20px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-two a:hover,
section#section-two a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-two a .fas,
section#section-two a .fab {
    font-size: 14px;
    margin-right: 5px;
}


/* SECTION-One */
section#section-one {
    width: 100%;
    height: auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-one .sponsoren-box {
    width: 100%;
    height: 140px;
    background-color: #ffffff;
    margin: 0 0 25px 5%;
    padding: 3px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    font-weight: 300;
    font-size: 15px;
    color: #333333;
    text-decoration: none;
    position: relative;
}
section#section-one .sponsoren-box img {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media(max-width: 575px) {
    section#section-one {
        padding:  50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding:  50px 80px;
    }
}