/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}
section#section-one img#sponsoring-banner {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: 20px auto 0 auto;
}
section#section-one p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-one p:first-child {
    margin-top: 0;
}
section#section-one p:last-child {
    margin-bottom: 0;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
    section#section-one img#sponsoring-banner {
        width: 150px;
        height: auto;
        margin-bottom: 20px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}


/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
section#section-two p {
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
    font-weight: 300;
    color: #ffffff;
}
section#section-two .container {
    position: relative;
}
section#section-two h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-two h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}

.shadow-line {
    height: 2px;
}


/* SECTION-THREE */
section#section-three {
    width: 100%;
    height: auto;
    z-index: 2;
}
@media(max-width: 991px) {
    section#section-three {
        padding: 50px 30px 50px 30px;
    }
    #boxen {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    #boxen #box1 {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
    }
    #boxen #box1 #box1-header {
        width: 100%;
        font-weight: 400;
    }
    #boxen #box2 {
        width: 100%;
        height: auto;
        margin: 0 0 20px 0;
    }
    #boxen #box2 #box2-header {
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-weight: 400;
    }
    #boxen #box3 {
        width: 100%;
        height: auto;
        margin: 0;
    }
    #boxen #box3 #box3-header {
        width: 100%;
        font-weight: 400;
    }
    .body-element .box-list-element {
        line-height: 1.8;
        font-size: 17px;
        font-weight: 300;
    }
    #boxen #box1 #box1-body, #boxen #box2 #box2-body, #boxen #box3 #box3-body {
        padding: 15px 5px 25px 5px;
    }
}
@media(min-width: 992px) {
    section#section-three {
        padding: 80px 30px 0px 30px;
    }
    #boxen {
        width: 782px;
        height: 450px;
        margin: 0 auto;
    }
    #boxen div {
        float: left;
    }
    #boxen #box1 {
        width: 264px;
        height: 400px;
        margin: 50px 0 0 0;
    }
    #boxen #box1 #box1-header {
        width: 264px;
        font-weight: 300;
    }
    #boxen #box1 #box1-body {
        padding: 0 5px 0 0;
    }
    #boxen #box2 {
        width: 264px;
        height: 450px;
        margin: 0 0 0 -5px;
    }
    #boxen #box2 #box2-header {
        width: 264px;
        height: 100px;
        line-height: 100px;
        font-weight: 300;
    }
    #boxen #box3 {
        width: 264px;
        height: 400px;
        margin: 50px 0 0 -5px;
    }
    #boxen #box3 #box3-body {
        padding: 0 0 0 5px;
    }
    #boxen #box3 #box3-header {
        width: 264px;
        font-weight: 300;
    }
    .body-element .box-list-element {
        line-height: 24px;
        font-size: 15px;
        font-weight: 300;
    }

}
#boxen #box1 {
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: relative;
}
/*#boxen #box1 {
    width: 264px;
    height: 400px;
    background-color: #ffffff;
    margin: 50px 0 0 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    position: relative;
}*/
#boxen #box1 #box1-header {
    height: 50px;
    background-image: linear-gradient(rgba(204,194,194, 0.8), rgb(204,194,194));
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    line-height: 50px;
    font-size: 16px;
    color: #ffffff;
}
#boxen #box1 #box1-footer {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
}
#boxen #box1 #box1-footer button.sponsoring-enquiry {
    background-color: transparent;
    margin: 0 auto;
    padding: 3px 14px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #595959;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #595959;
    display: inline-block;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
#boxen #box1 #box1-footer button.sponsoring-enquiry:hover {
    background-color: #595959;
    color: #ffffff;
}
#boxen #box2 {
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 0 0px 12px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:  0 0px 12px 3px rgba(0, 0, 0, 0.3);
    box-shadow:  0 0px 12px 3px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}
/*#boxen #box2 {
    width: 264px;
    height: 450px;
    background-color: #ffffff;
    margin: 0 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    position: relative;
}*/
#boxen #box2 #box2-header {
    background-image: linear-gradient(to bottom, rgba(217,164,65, 0.8), rgb(217,164,65));
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #ffffff;
}
#boxen #box2 #box2-footer {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
}
#boxen #box2 #box2-footer button.sponsoring-enquiry {
    background-color: transparent;
    margin: 0 auto;
    padding: 4px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #3a3a3a;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #3a3a3a;
    display: inline-block;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
#boxen #box2 #box2-footer button.sponsoring-enquiry:hover {
    background-color: #3a3a3a;
    color: #ffffff;
}
#boxen #box3 {
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: relative;
}
/*#boxen #box3 {
    width: 264px;
    height: 400px;
    background-color: #ffffff;
    margin: 50px 0 0 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    position: relative;
}*/
#boxen #box3 #box3-header {
    height: 50px;
    background-image: linear-gradient(rgba(150,90,56, 0.8), rgb(150,90,56));
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    line-height: 50px;
    font-size: 16px;
    color: #ffffff;
}
#boxen #box3 #box3-footer {
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
}
#boxen #box3 #box3-footer button.sponsoring-enquiry {
    background-color: transparent;
    margin: 0 auto;
    padding: 4px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 2px solid #3a3a3a;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: #3a3a3a;
    display: inline-block;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
#boxen #box3 #box3-footer button.sponsoring-enquiry:hover {
    background-color: #3a3a3a;
    color: #ffffff;
}
.body-element {
    width: 100%;
    margin: 0;
    padding: 20px 15px 0px 20px;
}
.body-element .fas,
.body-element .far {
    width:10%;
    float: left;
    line-height: normal;
    font-size: 15px;
    margin-top: 4px;
}
.body-element .box-list-element {
    width: 90%;
    float: left;
    padding-left: 5px;
    color: #3a3a3a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* SECTION-THREE */
section#section-four {
    width: 100%;
    height: auto;
    background-color: #ebebeb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
    text-align: center;
}
@media(max-width: 991px) {
    section#section-four {
        margin-top: 0;
        padding: 30px 30px 40px 30px;
    }
    section#section-four #further-sponsoring-options {
        width: 100%;
    }
    section#section-four #our-offer {
        width: 100%;
    }
    section#section-four #further-sponsoring-options h3, section#section-four #our-offer h3 {
        line-height: 1.7;
        font-size: 21px;
        font-weight: 300;
    }
    section#section-four #further-sponsoring-options .row div, section#section-four #our-offer .row div {
        line-height: 1.6;
        font-size: 16px;
        font-weight: 400;
    }
}
@media(min-width: 992px) {
    section#section-four {
        margin-top: -50px;
        padding: 50px 30px 60px 30px;
    }
    section#section-four #further-sponsoring-options {
        width: 782px;
    }
    section#section-four #our-offer {
        width: 782px;
    }
    section#section-four #further-sponsoring-options h3, section#section-four #our-offer h3 {
        font-size: 18px;
        font-weight: 300;
    }
    section#section-four #further-sponsoring-options .row div, section#section-four #our-offer .row div {
        font-size: 15px;
        font-weight: 300;
    }
}
section#section-four #further-sponsoring-options {
    height: auto;
    background-color: #ffffff;
    margin: 50px auto 0 auto;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    text-align: left;
}
section#section-four #our-offer {
    height: auto;
    background-color: #ffffff;
    margin: 30px auto 0 auto;
    padding: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    text-align: left;
}
section#section-four #further-sponsoring-options h3, section#section-four #our-offer h3 {
    width: 100%;
    margin: 0 auto 20px auto;
    text-align: center;
    color: #3a3a3a;
}
section#section-four #further-sponsoring-options h3:after, section#section-four #our-offer h3:after {
    content: '';
    position: relative;
    bottom: -0.8em;
    left: 50%;
    height: 2px;
    width: 30px;
    margin-left: -15px;
    margin-bottom: 40px;
    display: block;
    background-color: #E0D258;
}
section#section-four #further-sponsoring-options .row div, section#section-four #our-offer .row div {
    margin-bottom: 20px;
    color: #3a3a3a;
}
section#section-four a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 30px auto 0 auto;
    padding: 8px 20px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-four a:hover,
section#section-four a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-four a .fas,
section#section-four a .fab {
    font-size: 14px;
    margin-right: 5px;
}