/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-one img {
    width: 100%;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
section#section-one p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-one p:last-child {
    margin-bottom: 0;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-one h4 {
    margin: 15px auto 30px auto;
    font-size: 17px;
    font-weight: 300;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}


section#section-two,
section#section-three {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    margin: 0 auto;
}
section#section-two h3,
section#section-three h3 {
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-two h3:after,
section#section-three h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin-left: -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-two a,
section#section-three a {
    display: inline-block;
}
@media(max-width: 575px) {
    section#section-two a.col-xs-12,
    section#section-three a.col-xs-12 {
        max-width: calc(100% - 4px);
    }
}
@media(min-width: 576px) and (max-width: 767px) {
    section#section-two a.col-sm-12,
    section#section-three a.col-sm-12 {
        max-width: calc(100% - 4px);
    }
    section#section-two a.col-sm-6,
    section#section-three a.col-sm-6 {
        max-width: calc(50% - 4px);
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    section#section-two a.col-md-4,
    section#section-three a.col-md-4 {
        max-width: calc(33.333333% - 4px);
    }
}
@media(min-width: 768px) and (max-width: 991px) {
    section#section-two a.col-md-6,
    section#section-three a.col-md-6 {
        max-width: calc(50% - 4px);
    }
}
@media(min-width: 992px) and (max-width: 1199px) {
    section#section-two a.col-lg-4,
    section#section-three a.col-lg-4 {
        max-width: calc(33.333333% - 4px);
    }
}
@media(min-width: 992px) and (max-width: 1199px) {
    section#section-two a.col-lg-3,
    section#section-three a.col-lg-3 {
        max-width: calc(25% - 4px);
    }
}
@media(min-width: 1200px) {
    section#section-two a.col-xl-3,
    section#section-three a.col-xl-3 {
        max-width: calc(25% - 4px);
    }
}
section#section-two img,
section#section-three img {
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-two img:hover,
section#section-three img:hover {
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.9);
}
@media(max-width: 575px) {
    section#section-two,
    section#section-three {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two,
    section#section-three {
        padding: 50px 80px;
    }
}


/* SECTION-FOUR */
section#section-four {
    width: 100%;
    height: auto;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
section#section-four h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}
section#section-four h3:after {
    width: 30px;
    height: 2px;
    background-color: #1a1a1a;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-four p {
    width: 100%;
    margin: 0;
    font-weight: 300;
    color: #ffffff;
}
section#section-four a {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 30px 0 0 0;
    padding: 9px 20px;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
section#section-four a:hover,
section#section-four a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-four a .fas,
section#section-four a .fab {
    font-size: 14px;
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-four {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-four {
        padding: 50px 80px;
    }
}