/* Imports */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "default.css";


/* Body */
html {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
html, body {
    width: 100%;
    height: auto;
    background-color: #202020;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Container */
.container-fluid {
    padding: 0;
}
@media(max-width: 575px) {
    .container {
        padding: 0;
    }
}


/* Navigation */
nav.nav-list {
    width: 100%;
    height: 70px;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    /*-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);*/
    -webkit-box-shadow: 90px 1px 5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 90px 1px 5px rgba(0, 0, 0, 0.9);
    box-shadow: 90px 1px 5px rgba(0, 0, 0, 0.9);
    z-index: 300;
}
nav.nav-list #nav-logo-box {
    width: 240px;
    height: 70px;
    background-color: #141414;
    padding: 10px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
nav.nav-list #nav-logo-box a {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
}
nav.nav-list #nav-logo-box a img {
    width: auto;
    height: 50px;
}
nav.nav-list #nav-logo-box span {
    width: auto;
    height: 50px;
    margin: 0;
    float: left;
    line-height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #EDDE5D;
}
nav.nav-list button#sidebar-btn {
    margin: 0 calc(30px - .5rem) 0 30px;
    background-color: #1a1a1a;
    border: 0 none;
    color: #9d9d9d;
    cursor: pointer;
}
nav.nav-list .nav-item {
    margin-right: 10px;
}
nav.nav-list .nav-item .nav-link {
    height: 70px;
    background-color: #1a1a1a;
    padding: 0 15px;
    line-height: 70px;
    font-size: 14px;
    color: #9d9d9d;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
nav.nav-list .nav-item .nav-link:hover {
    background-color: #141414;
    text-decoration: none;
    color: #ffffff !important;
}
nav.nav-list .dropdown-menu {
    width: auto;
    min-width: 200px;
    height: auto;
    background-color: #141414;
    margin: 0;
    padding: 15px;
    border: 0 none;
    border-radius: 0;
}
nav.nav-list .dropdown-menu .dropdown-item {
    padding: 7px 15px;
    font-size: 13px;
    color: #ffffff;
    border-radius: 0;
}
nav.nav-list .dropdown-menu .dropdown-item:hover,
nav.nav-list .dropdown-menu .dropdown-item:active,
nav.nav-list .dropdown-menu .dropdown-item:focus {
    background-color: #000000;
    border-radius: 2px;
}
nav.nav-list .dropdown-menu.columns-2 {
    min-width: 400px;
}
nav.nav-list .dropdown-menu.columns-3 {
    min-width: 600px;
}
nav.nav-list .dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
nav.nav-list .multi-column-dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav.nav-list .multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
nav.nav-list .multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: transparent;
}
@media (max-width: 767px) {
    nav.nav-list .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}
@media(max-width: 1090px) {
    .dropdown-toggle::after {
        display: none;
    }
}


/* Sidebar - Big */
#sidebar {
    width: 240px;
    height: calc(100% - 70px);
    background-color: #1a1a1a;
    padding: 10px 0 20px 0;
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 200;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
}
#sidebar .nav-item {
    margin: 0;
    padding: 0;
    border-left: 2px solid #1a1a1a;
}
#sidebar .nav-item-active {
    border-left: 2px solid #EDDE5D;
}
#sidebar .nav-item .nav-link {
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
}
#sidebar .nav-item .nav-link i {
    margin-right: 10px;
    opacity: 0.5;
    font-size: 17px;
}
#sidebar #nav-item-profile {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#sidebar #nav-item-profile .nav-link-profile {
    padding: 10px 0;
}
#sidebar #nav-item-profile .nav-link-profile #user-profile-picture-box {
    width: 100%;
    height: 36px;
    padding: 0 15px 20px 15px;
    line-height: 36px;
}
#sidebar #nav-item-profile .nav-link-profile #user-profile-picture-box img {
    width: auto;
    height: 36px;
    margin-right: 10px;
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#sidebar #nav-item-profile .nav-link-profile #user-profile-picture-box span {
    height: 36px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
    float: left;
}
#sidebar #nav-item-profile .nav-link-profile #user-profile-picture-box span::after {
    width: 0;
    height: 0;
    margin: 6px 0 0 15px;
    display: inline-block;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
#sidebar .dropdown-toggle::after {
    display: none;
    border: 0;
}
#sidebar #nav-item-profile .collapse.show,
#sidebar #nav-item-profile .collapsing {
    background-color: transparent;
}
#sidebar #nav-item-profile .collapse .dropdown-item,
#sidebar #nav-item-profile .collapsing .dropdown-item{
    background-color: transparent;
    padding: 15px 15px 15px 30px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
}
#sidebar #nav-item-profile .collapse .dropdown-item i,
#sidebar #nav-item-profile .collapsing .dropdown-item i {
    margin-right: 10px;
    opacity: 0.5;
    font-size: 17px;
}


/* Sidebar - Small */
.sidebar-mobile {
    display: none !important;
}
.nav-logo-box-small,
.sidebar-small {
    width: 90px !important;
}
.nav-logo-box-small {
    width: 90px;
    height: 70px;
    background-color: #1a1a1a;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    text-align: center;
}
.nav-logo-box-small a {
    margin: 0 !important;
    padding: 0;
    float: none !important;
}
.nav-logo-box-small img {
    width: auto;
    height: 50px;
    display: inline-block;
}
.nav-logo-box-small span {
    display: none;
}
.sidebar-small #sidebar-nav {
    width: 90px !important;
}
.sidebar-small .nav-item {
    width: 90px !important;
    padding: 0 !important;
    border-left: 0 !important;
}
.sidebar-small .nav-item-active {
    border-left: 0 !important;
}
.sidebar-small .nav-item .nav-link {
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
}
.sidebar-small .nav-item .nav-link i {
    margin-right: 10px;
    opacity: 0.5;
    font-size: 20px !important;
}
.sidebar-small .nav-item .nav-link .nav-link-text {
    display: none !important;
}
.sidebar-small #nav-item-profile {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar-small #nav-item-profile .nav-link-profile {
    padding: 10px 0 !important;
}
.sidebar-small #nav-item-profile .nav-link-profile #user-profile-picture-box {
    width: 90px !important;
    height: 45px !important;
    text-align: center !important;
    line-height: normal !important;
    display: table !important;
    padding-bottom: 10px !important;
}
.sidebar-small #nav-item-profile .nav-link-profile #user-profile-picture-box img {
    height: 45px !important;
    float: none !important;
    margin-right: 0 !important;
    display: inline-block !important;
}
.sidebar-small #nav-item-profile .nav-link-profile #user-profile-picture-box span {
    display: none !important;
}
.sidebar-small #nav-item-profile .nav-link-profile #user-profile-picture-box span::after {
    display: none !important;
}
.sidebar-small .dropdown-toggle::after {
    display: none !important;
    border: 0 !important;
}
.sidebar-small #nav-item-profile .collapse.show,
.sidebar-small #nav-item-profile .collapsing {
    background-color: transparent !important;
}
.sidebar-small #nav-item-profile .collapse .dropdown-item,
.sidebar-small #nav-item-profile .collapsing .dropdown-item{
    background-color: transparent;
    padding: 15px 15px 15px 30px;
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
}
.sidebar-small #nav-item-profile .collapse .dropdown-item i,
.sidebar-small #nav-item-profile .collapsing .dropdown-item i {
    margin-right: 10px;
    opacity: 0.5;
    font-size: 17px !important;
}


/* Content */
#content {
    width: calc(100% - 240px);
    height: 100%;
    margin: 70px 0 0 240px;
    z-index: 1;
}
.content-big {
    width: calc(100% - 90px) !important;
    margin: 70px 0 0 90px !important;
}
.content-mobile {
    width: 100% !important;
    margin: 70px 0 0 0 !important;
}


/* Breadcrumb */
/*.breadcrumb {
    margin: 0;
    padding-left: 60px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    vertical-align: middle;
    background: linear-gradient(#eee,#f6f6f6) !important;
}
.breadcrumb-item + .breadcrumb-item::before {
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 600;
    color: rgba(0,0,0,.4);
    content: "\f105" !important;
}
.breadcrumb-item {
    vertical-align: middle;
}
.breadcrumb-item a {
    color: rgba(0,0,0,.4);
    font-size: 13px;
}*/
.breadcrumb {
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    vertical-align: middle;
    background-image: linear-gradient(to right, #CCBF50 40%, #EDDE5D);
}
.breadcrumb-item + .breadcrumb-item::before {
    vertical-align: middle;
    font-family: 'Font Awesome 5 Free', serif;
    font-weight: 600;
    color: #ffffff;
    content: "\f105" !important;
}
.breadcrumb-item {
    vertical-align: middle;
}
.breadcrumb-item a {
    color: #ffffff;
    font-size: 13px;
}
.breadcrumb #breadcrumb-icon {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 0 15px 0 0;
    padding: 1px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 300;
    color: #CCBF50;
    float: left;
}
@media(max-width: 575px) {
    .breadcrumb {
        padding: .75rem 5px;
    }
}
@media(min-width: 576px) {
    .breadcrumb {
        padding-left: 60px;
    }
}


/* Header */
header {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 20px 20px 60px;
    z-index: 100;
    box-sizing: border-box;
}
header.header-yellow {
    background-image: linear-gradient(to right, #CCBF50 40%, #EDDE5D);
}
header.header-black {
    background-image: linear-gradient(to right, #000000 40%, #1a1a1a);
}
header .header-icon {
    width: auto;
    height: auto;
    background-color: #ffffff;
    margin: 12px 15px 0 0;
    padding: 5px 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 300;
    color: #CCBF50;
    float: left;
}
header #header-headline {
    float: left;
}
header #header-headline h1 {
    margin: 0 0 5px 0;
    font-size: 27px;
    font-weight: 300;
    color: #ffffff;
}
header #header-headline h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
}


/* Page-Header */
#page-header {
    width: 100%;
    height: 200px;
    background: url("https://www.wacker-gladbeck.de/assets/img/sportplatz/wacker-gladbeck-sportplatz-2.jpg") center center no-repeat;
    background-size: cover;
    position: relative;
}
#page-header #page-header-overlay {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}
#page-header #page-header-overlay h1 {
    margin: 50px 0 20px 0;
    font-weight: 300;
    text-align: center;
    color: #EDDE5D;
}
#page-header #page-header-overlay h2 {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
}


/* Footer */
footer {
    width: 100%;
    height: auto;
    background-color: #202020;
    margin: 0 auto;
    padding: 30px 60px 0 60px;
}
footer #footer-top {
    width: 100%;
    padding: 0 30px 30px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
footer #footer-top .row div span {
    margin: 0 auto 15px auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    display: block;
}
footer #footer-top .row div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
footer #footer-top .row div ul#medien-nav-list {
    margin-bottom: 35px !important;
}
footer #footer-top .row div ul li {
    margin-bottom: 10px;
}
footer #footer-top .row div ul li:before {
    margin-right: 10px;
    position: relative;
    left: 0;
    content: "\f0da";
    text-decoration: inherit;
    font-family: 'Font Awesome 5 Free', serif;
    font-style: normal;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.65);
}
footer #footer-top .row div a {
    font-size: 14px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.65);
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
footer #footer-top .row div a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}
footer #footer-top .row div ul.top-level-list li:before {
    content: "";
    display: none;
}
footer #footer-top .row div ul.top-level-list li a {
    padding: 0 5px 2px 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom 0.3s ease-in-out;
    -moz-transition: border-bottom 0.3s ease-in-out;
    -ms-transition: border-bottom 0.3s ease-in-out;
    -o-transition: border-bottom 0.3s ease-in-out;
    transition: border-bottom 0.3s ease-in-out;
}
footer #footer-top .row div ul.top-level-list li a:hover {
    padding: 0 5px 2px 5px;
    border-bottom: 1px solid #ffffff;
}
footer #footer-bottom {
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 50px;
}
footer #footer-bottom span {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: 11px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}
footer #footer-bottom i {
    margin: 18px 10px 0 10px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
footer #footer-bottom i:hover {
    color: rgba(255, 255, 255, 0.9);
}