/* SECTION-one */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
}
@media(max-width: 991px) {
    section#section-one {
        padding: 20px;
    }
    section#section-one #mobile-menu-btn {
        background-color: #ffffff;
        margin: 0 0 10px 0;
        padding: 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #ffffff;
        display: block !important;
    }
    section#section-one #mobile-menu {
        display: none;
    }
    section#section-one .info-box-container {
        width: 100%;
        margin: 20px 0 0 0;
    }
    section#section-one .vorschau-box {
        margin: 10px 0 0 0 !important;
    }
    section#section-one .anstehendes-spiel-box {
        min-height: 145px !important;
        height: auto !important;
    }
}
@media(min-width: 992px) {
    section#section-one {
        padding: 0 40px 40px 40px;
    }
    section#section-one #mobile-menu, section#section-one #mobile-menu-btn {
        display: none !important;
    }
    section#section-one .info-box-container {
        width: 90%;
        margin: -40px 0 0 5%;
    }
}
section#section-one #mobile-menu {
    margin-top: -13px;
}
section#section-one #mobile-menu ul {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 4px 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    list-style: none;
}
section#section-one #mobile-menu ul li {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
section#section-one #mobile-menu ul li a {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 2px 0 0 0;
    padding: 8px 10px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #3a3a3a;
}
section#section-one .info-box-container {
    height: 145px;
    background-color: #ffffff;
    padding: 5px 5px 0 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.4);
    overflow-y: hidden;
}
section#section-one .vorschau-box .live_rueckblick,
section#section-one .vorschau-box .live_heute {
    display: none !important;
}
section#section-one .vorschau-box .live_vorschau th {
    background: #eeeeee !important;
    padding: 8px 10px !important;
    border-bottom: 2px solid #ddd !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif !important;
}
section#section-one .vorschau-box .live_vorschau:last-child > td {
    border-bottom: 0 !important;
}
section#section-one .vorschau-box tr:last-child td div a {
    display: none !important;
}
section#section-one .anstehendes-spiel-box {
    padding: 5px !important;
    text-align: center;
}
section#section-one .anstehendes-spiel-box .spielbericht_header .liveticker_header_next_match_datum {
    background: #eeeeee !important;
    padding: 8px 10px !important;
    border-bottom: 2px solid #ddd !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif !important;
}
section#section-one .anstehendes-spiel-box .spielbericht_header .liveticker_header_leiste td {
    padding: 8px 0 !important;
}
section#section-one .anstehendes-spiel-box .spielbericht_header #ergebnis {
    font-size: 30px !important;
}
section#section-one .anstehendes-spiel-box .liveticker_header_leiste td img {
    width: 50px !important;
    height: 50px !important;
}
section#section-one .anstehendes-spiel-box .spielbericht_header tr:last-child {
    display: none !important;
}
section#section-one .anstehendes-spiel-box .fupa_widget > div > a {
    display: none !important;
}
#team-data-head {
    padding: 7px;
    border-bottom: 2px solid #dee2e6;
    background-color: #eeeeee;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #3a3a3a;
}
section#section-one .anstehendes-spiel-box h4 {
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-one .trainingszeiten-box .table thead {
    background-color: #eeeeee;
    padding: 14px 5px;
}
section#section-one .trainingszeiten-box .table thead tr th {
    padding: 9px;
    border-top: 0 none !important;
}
section#section-one .trainingszeiten-box .table thead h6 {
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 1.7;
    font-size: 15px;
    font-weight: 400;
    color: #3a3a3a;
}
section#section-one .trainingszeiten-box .table thead h5 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    color: #3a3a3a;
}
section#section-one #info-box {
    margin-top: 40px;
}
section#section-one #info-box h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-one #info-box h3:after {
    content: '';
    position: relative;
    bottom: -.5em;
    left: 50%;
    height: 2px;
    width: 30px;
    margin-left: -15px;
    display: block;
    background-color: #E0D258;
}
section#section-one #info-box h5 {
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
}

section#section-two {
    background-image: linear-gradient(to right, #CCBF50 40%, #EDDE5D);
    padding: 0;
}
.nav-tabs {
    border-bottom: 2px solid #202020;
}
.nav-tabs .nav-link {
    background-color: transparent;
    border: 2px solid #202020;
    border-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
.nav-tabs .nav-link .fas,
.nav-tabs .nav-link .far,
.nav-tabs .nav-link .fab {
    font-size: 14px;
    margin-right: 5px;
}
.nav-tabs .nav-link.active {
    background-color: #202020;
    color: #CCBF50;
    border: 2px solid #202020;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.nav-tabs .nav-link:hover {
    background-color: #202020;
    border: 2px solid #202020;
    color: #CCBF50;
}
.nav-tabs .nav-item {
    margin-right: 10px;
    margin-bottom: -2px;
}
.nav-tabs .nav-item:first-child {
    margin-left: 60px;
}
.tab-content .tab-pane {
    background-color: #202020;
    padding: 10px 0;
}
.tab-content .tab-pane .tab-content-box {
    /*background-color: #f5f5f5;*/
    background-image: url("../img/background/wacker-gladbeck-sportplatz-overlay-gradient3.png");
    background-size: cover;
}
.news-box {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.7);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.7);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.7);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 2px solid #ffffff;
}
.news-box:hover {
    -webkit-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.9);
    -moz-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.9);
    box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.9);
}
.news-image-box {
    width: 100%;
    height: 220px;
    margin: 0;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.news-image-box img {
    width: 100%;
    min-height: 220px;
    height: auto;
    background-position: top center;
}
.news-image-box .news-box-overlay {
    width: 100%;
    height: 220px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;*/
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-box:hover .news-box-overlay {
    opacity: 0;
}
.news-box:hover .news-category,
.news-box:hover .news-category2 {
    opacity: 0;
}
.news-image-box .news-category {
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category2 {
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category .news-category-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category2 .news-category-left2 {
    width: auto;
    height: 30px;
    background-color: #000000;
    float: left;
    padding: 0 9px;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #E0D258;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category .news-category-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-category2 .news-category-right2 {
    border-color: #000000 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.news-content-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px 12px 10px 12px;
}
.news-content-box p {
    margin: 0;
    color: #7b7c7e;
    font-size: 0.9rem;
    font-weight: 400;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em; /*3.6*/
    line-height: 1.5em; /*1.8*/
}
.news-content-box hr {
    margin: 5px 0;
}
.news-content-box p .fas {
    margin-right: 5px;
}
.team-picture-img-container {
    width: auto;
    height: auto;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.8);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.8);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.8);
}
.tab-content .tab-pane .tab-content-box img#team-picture-img {
    width: 100%;
    height: auto;
    border: 3px solid transparent;
}
#membership-dues-info-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 30px;
    padding: 0 10px 10px 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#membership-dues-info-box #info-box-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 0.9em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #1a1a1a;
    text-transform: uppercase;
    line-height: 30px;
}
#membership-dues-info-box #info-box-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
#membership-dues-info-box p {
    text-align: left;
    margin: 20px 20px 10px 20px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}
.tab-content .tab-pane .tab-content-box .section-area-headline h3,
.tab-content .tab-pane .tab-content-box .section-area-headline-margin h3 {
    color: #ffffff !important;
}
.tab-content .tab-pane .tab-content-box .white-background-box {
    background-color: #f5f5f5;
    padding: 10px;
}
.tab-content .tab-pane .tab-content-box #table-box,
.tab-content .tab-pane .tab-content-box #game-plan-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.fupa_widget_team_header h1 {
    color: #202020 !important;
}



#statistics-box,
#training-times-box,
#contact-box,
#points-chart-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#training-times-box,
#statistics-box {
    margin-bottom: 25px;
}
#training-times-box table,
#contact-box table {
    border-collapse: separate;
    border-spacing: 3px;
}
#training-times-box table tbody tr,
#contact-box table tbody tr {
    background-color: #1b1b1b;
}
#training-times-box table tbody tr td,
#contact-box table tbody tr td {
    border: 0;
    font-size: 15px;
    color: #ffffff;
}
#statistics-box .statistic-value-box {
    margin-bottom: 20px;
}
#statistics-box .statistic-value {
    text-align: center;
    font-size: 20px;
    color: #E0D258;
    display: block;
}
#statistics-box .statistic-name {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    display: block;
}
#statistics-box .statistic-name img {
    width: auto;
    height: 20px;
}
#points-chart-box {
    display: none;
}


@media(max-width: 575px) {
    .tab-content .tab-pane .tab-content-box {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    .tab-content .tab-pane .tab-content-box {
        padding: 50px 60px;
    }
}
@media(max-width: 767px) {
    #statistics-box {
        margin-top: 20px;
    }
}
@media(max-width: 700px) {
    .nav-tabs .nav-item:first-child {
        margin-left: 0;
    }
    .nav-tabs .nav-item {
        width: 50%;
        margin: 0;
        padding: 5px;
    }
    .nav-tabs .nav-link {
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 2px solid #202020;
    }
}
@media(max-width: 400px) {
    .nav-tabs .nav-item {
        width: 100%;
    }
}