/* SECTION-ONE */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-one img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
section#section-one p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
@media(max-width: 575px) {
    section#section-one {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one {
        padding: 50px 80px;
    }
}