/* Section-One / Section-Three */
section#section-one,
section#section-three {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
}
section#section-one [class*=' col-'],
section#section-three [class*=' col-'] {
    padding: 0 20px !important;
}
.news-box {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-box:hover {
    -webkit-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
}
.news-image-box {
    width: 100%;
    height: 220px;
    margin: 0;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.news-image-box img {
    width: 100%;
    min-height: 220px;
    height: auto;
    background-position: top center;
}
.news-image-box .news-box-overlay {
    width: 100%;
    height: 220px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;*/
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-box:hover .news-box-overlay {
    opacity: 0;
}
.news-box:hover .news-category,
.news-box:hover .news-category2 {
    opacity: 0;
}
.news-image-box .news-category {
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category2 {
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category .news-category-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category2 .news-category-left2 {
    width: auto;
    height: 30px;
    background-color: #000000;
    float: left;
    padding: 0 9px;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #E0D258;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category .news-category-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-category2 .news-category-right2 {
    border-color: #000000 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.news-content-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px 12px 10px 12px;
}
.news-content-box p {
    margin: 0;
    color: #7b7c7e;
    font-size: 0.9rem;
    font-weight: 400;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em; /*3.6*/
    line-height: 1.5em; /*1.8*/
}
.news-content-box hr {
    margin: 5px 0;
}
.news-content-box p .fas {
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-one,
    section#section-three {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one,
    section#section-three {
        padding: 50px 80px;
    }
}


section#section-two {
    width: 100%;
    height: auto;
    text-align: center;
}
section#section-two h4 {
    margin: 0 auto;
    line-height: 1.4em;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 40px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 40px 80px;
    }
}


section#section-four {
    width: 100%;
    background-image: url("https://www.wacker-gladbeck.de/assets/img/sportplatz/wacker-gladbeck-sportplatz-3.jpg");
    background-position: center left;
}
#a {
    width: 50%;
    position: relative;
    margin: 0
}
#b {
    position: absolute;
    right: 100%;
    top:0;
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-right: 20px solid rgba(0, 0, 0, 0.95);
    border-bottom: 0px solid rgba(0, 0, 0, 0.95);
    border-left: 20px solid transparent;
}
#c {
    display: block;
    padding: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color:#FFF;
    background:rgba(0, 0, 0, 0.95);
}
#d {
    position: absolute;
    left: 100%; top:0;
    width: 0px;
    height: 0px;
    border-top: 0 solid rgba(0, 0, 0, 0.95);
    border-right: 12px solid transparent;
    border-left: 69px solid rgba(0, 0, 0, 0.95);
}
section#section-four h3 {
    text-align: center;
    margin: 0 auto 20px auto;
    font-weight: 300;
    color: #ffffff;
}
section#section-four p {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-align: justify;
}
section#section-four a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 2px solid #CCBF50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    /*-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-four a:hover {
    background-color: #CCBF50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-four a .fas {
    font-size: 14px;
    margin-right: 5px;
}
@media(min-width: 1250px) {
    section#section-four {
        height: 400px;
    }
    #iinner {
        height: 400px;
    }
    #c {
        height: 400px;
    }
    #d {
        border-bottom: 400px solid transparent;
    }
}
@media(min-width: 1050px) and (max-width: 1249px) {
    section#section-four {
        height: 450px;
    }
    #iinner {
        height: 450px;
    }
    #c {
        height: 450px;
    }
    #d {
        border-bottom: 450px solid transparent;
    }
}
@media(max-width: 1049px) {
    #a {
        width: 100% !important;
    }
    #c {
        padding: 50px 30px !important;
    }
}


/* SECTION-FIVE */
section#section-five {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-five img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
section#section-five p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-five p:last-child {
    margin: 20px 0 0 0;
}
section#section-five h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-five h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-five #contact-box {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 20px;
    padding: 15px;
}
section#section-five #contact-box p {
    margin: 0 0 15px 0;
}
section#section-five #contact-box a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 15px 0 0 0;
    padding: 8px 20px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-five #contact-box a:hover,
section#section-five #contact-box a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-five #contact-box a .fas,
section#section-five #contact-box a .fab {
    font-size: 14px;
    margin-right: 5px;
}
@media(max-width: 575px) {
    section#section-five {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-five {
        padding: 50px 80px;
    }
}
@media(max-width: 767px) {
    section#section-five img {
        margin-top: 20px;
    }
}



section#section-six {
    width: 100%;
    height: auto;
}
section#section-six img {
    width: 100%;
    max-width: 1136px;
    height: auto;
    max-height: 639px;
    border: 3px solid #ffffff;
    -webkit-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
    box-shadow: 1px 0 10px 2px rgba(0, 0, 0, 0.7);
}
section#section-six p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
    color: #ffffff;
}
section#section-six small {
    font-style: italic;
    line-height: 1.6;
    font-weight: 300;
    color: #ffffff;
}
section#section-six h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}
section#section-six h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
@media(max-width: 767px) {
    section#section-six h3 {
        margin-top: 25px;
    }
}
@media(max-width: 575px) {
    section#section-six {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-six {
        padding: 50px 80px;
    }
}