/* SECTION-TWO */
section#section-one {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}
section#section-one p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-one h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-one h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}


section#section-two,
section#section-three {
    text-align: center;
    position: relative;
    background-color: #f0f0f0;
}
section#section-two .container,
section#section-three .container {
    position: relative;
}
section#section-two h3,
section#section-three h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-two h3:after,
section#section-three h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
.training-box {
    height: auto;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.9);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.9);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.9);
}
.training-box .training-image-box {
    width: 100%;
    height: 50px;
    position: relative;
    overflow: hidden;
}
.training-box .training-image-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.training-box .training-image-box span {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #E0D258;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 2;
}
.training-box .training-footer-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 15px;
    font-weight: 300;
    color: #3a3a3a;
}
.training-box .training-footer-box span {
    display: inline-block;
}
.training-box .training-footer-box span:nth-child(1) {
    font-size: 15px;
    font-weight: 300;
}
.training-box .training-footer-box span:nth-child(2) {
    font-weight: 400;
    font-size: 23px;
}
.training-box .training-footer-box span:nth-child(3) {
    font-size: 17px;
    font-weight: 300;
}


/* SECTION-FOUR */
section#section-four {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0 auto;
    text-align: center;
}
section#section-four p {
    width: 100%;
    margin: 0 0 5px 0;
    font-weight: 300;
}
section#section-four h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
}
section#section-four h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-four a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 20px auto 0 auto;
    padding: 8px 20px;
    border: 2px solid #1a1a1a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #1a1a1a;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-four a:hover,
section#section-four a:active {
    background-color: #1a1a1a;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-four a .fas {
    font-size: 14px;
    margin-right: 5px;
}



@media(max-width: 575px) {
    section#section-one,
    section#section-two,
    section#section-three,
    section#section-four {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one,
    section#section-two,
    section#section-three,
    section#section-four {
        padding: 50px 80px;
    }
}