section#section-one {
    width: 100%;
    background-image: url("https://www.wacker-gladbeck.de/assets/img/sportplatz/wacker-gladbeck-sportplatz-6.jpg");
    background-position: center right;
}
#a {
    width: 50%;
    position: relative;
    margin: 0
}
#b {
    position: absolute;
    right: 100%;
    top:0;
    width: 0px;
    height: 0px;
    border-top: 0px solid transparent;
    border-right: 20px solid rgba(0, 0, 0, 0.95);
    border-bottom: 0px solid rgba(0, 0, 0, 0.95);
    border-left: 20px solid transparent;
}
#c {
    display: block;
    padding: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color:#FFF;
    background:rgba(0, 0, 0, 0.95);
}
#d {
    position: absolute;
    left: 100%; top:0;
    width: 0px;
    height: 0px;
    border-top: 0 solid rgba(0, 0, 0, 0.95);
    border-right: 12px solid transparent;
    border-left: 69px solid rgba(0, 0, 0, 0.95);
}
section#section-one h3 {
    text-align: center;
    margin: 10px auto 20px auto;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
}
section#section-one p {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    text-align: justify;
}
section#section-one a {
    width: auto;
    height: auto;
    background-color: transparent;
    margin: 35px auto 0 auto;
    padding: 8px 26px;
    border: 2px solid #CCBF50;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    letter-spacing: 0.05em;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    /*-webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);*/
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:  all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
section#section-one a:hover {
    background-color: #CCBF50;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}
section#section-one a .fas {
    font-size: 14px;
    margin-right: 5px;
}
section#section-one h4 {
    margin: 15px auto 30px auto;
    font-size: 19px;
    font-weight: 300;
}
section#section-one h4:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
@media(min-width: 1250px) {
    section#section-one {
        height: 500px;
    }
    #iinner {
        height: 500px;
    }
    #c {
        height: 500px;
    }
    #d {
        border-bottom: 500px solid transparent;
    }
}
@media(min-width: 1050px) and (max-width: 1249px) {
    section#section-one {
        height: 550px;
    }
    #iinner {
        height: 550px;
    }
    #c {
        height: 550px;
    }
    #d {
        border-bottom: 550px solid transparent;
    }
}
@media(max-width: 1049px) {
    #a {
        width: 100% !important;
    }
    #c {
        padding: 50px 30px !important;
    }
}


/* SECTION-TWO */
section#section-two {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 0 auto;
}
section#section-two p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
section#section-two p:first-child {
    margin-top: 0;
}
section#section-two #address-box {
    background-color: #e1e2e3;
    margin: 0;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}
section#section-two #address-box h3 {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 300;
}
section#section-two #address-box h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-two #address-box p {
    margin: 0 0 15px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: #3a3a3a;
}
section#section-two #address-box img {
    width: 100%;
    height: auto;
}
@media(max-width: 575px) {
    section#section-two {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-two {
        padding: 50px 80px;
    }
}
@media(max-width: 767px) {
    section#section-two #address-box {
        margin-top: 20px;
    }
}



section#section-three {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    padding: 0;
}
section#section-three img {
    width: 100%;
    height: auto;
}
section#section-three #new-paint-content-box {
    padding: 30px 30px 0 0;
}
section#section-three #new-paint-content-box h3 {
    margin: 0 auto 35px auto;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #3a3a3a;
}
section#section-three #new-paint-content-box h3:after {
    width: 30px;
    height: 2px;
    background-color: #E0D258;
    margin: 0 0 0 -15px;
    position: relative;
    bottom: -.5em;
    left: 50%;
    content: '';
    display: block;
}
section#section-three #new-paint-content-box p {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: justify;
    font-weight: 300;
}
@media(max-width: 767px) {
    section#section-three #new-paint-content-box {
        padding: 30px;
    }
}