/* Section-One / Section-Three */
section#section-one,
section#section-three {
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
}
section#section-one [class*=' col-'],
section#section-three [class*=' col-'] {
    padding: 0 20px !important;
}
.news-box {
    margin: 0 0 20px 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-box:hover {
    -webkit-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    -moz-box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
    box-shadow: 0 0 24px 2px rgba(10, 10, 10, 0.5);
}
.news-image-box {
    width: 100%;
    height: 220px;
    margin: 0;
    position: relative;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.news-image-box img {
    width: 100%;
    min-height: 220px;
    height: auto;
    background-position: top center;
}
.news-image-box .news-box-overlay {
    width: 100%;
    height: 220px;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.1) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    /*-webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;*/
    display: block;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-box:hover .news-box-overlay {
    opacity: 0;
}
.news-box:hover .news-category,
.news-box:hover .news-category2 {
    opacity: 0;
}
.news-image-box .news-category {
    width: auto;
    height: 30px;
    margin-bottom: 0px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category2 {
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.news-image-box .news-category .news-category-left {
    width: auto;
    height: 30px;
    background-color: #E0D258;
    float: left;
    padding: 0 9px;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category2 .news-category-left2 {
    width: auto;
    height: 30px;
    background-color: #000000;
    float: left;
    padding: 0 9px;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #E0D258;
    text-transform: uppercase;
    line-height: 30px;
}
.news-image-box .news-category .news-category-right {
    border-color: #E0D258 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-category2 .news-category-right2 {
    border-color: #000000 transparent transparent transparent;
    border-width: 30px 30px 0 0;
    border-style: solid;
    float: left;
}
.news-image-box .news-content {
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}
.news-content-box {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    padding: 10px 12px 10px 12px;
}
.news-content-box p {
    margin: 0;
    color: #7b7c7e;
    font-size: 0.9rem;
    font-weight: 400;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.5em; /*3.6*/
    line-height: 1.5em; /*1.8*/
}
.news-content-box hr {
    margin: 5px 0;
}
.news-content-box p .fas {
    margin-right: 5px;
}
#play-button {
    width: 60px;
    height: 60px;
    font-size: 60px;
    color: #ffffff;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}
.news-box:hover #play-button {
    opacity: 0.9;
}
.news-title {
    /*margin: 12px 6px 0 6px;
    text-shadow: 2px 2px 5px rgba(0,0,0,.7);
    color: #ffffff;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 25px;
    height: 50px;
    text-transform: uppercase;
    text-align: left;
    overflow: hidden;*/
    height: 48px;
    line-height: 24px;
    margin: 8px 12px 12px 12px;
    font-size: 1.1em;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #ffffff;
    text-align: left;
}
.news-box:hover .news-content {
    display: none;
}
.news-length {
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: small;
    padding: 3px 5px;
    text-shadow: 2px 2px 5px rgba(0,0,0,.7);
}
p.video-description {
    height: 3em;
}
.sweet-modal-overlay.dark-overlay {
    background-color: rgba(0, 0, 0, 0.9);
}
.sweet-modal-overlay.dark-modal .sweet-modal-box {
    background: #141414;
}
.sweet-modal-overlay.dark-modal .sweet-modal-box .sweet-modal-title-wrap {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #3a3a3a;
}
.sweet-modal-overlay.dark-modal .sweet-modal-box .sweet-modal-close a.sweet-modal-close-link {
    background-color: #3a3a3a;
}


@media(max-width: 575px) {
    section#section-one,
    section#section-three {
        padding: 50px 30px;
    }
}
@media(min-width: 576px) {
    section#section-one,
    section#section-three {
        padding: 50px 80px;
    }
}