{% extends 'layout.html.twig' %}


{% block title %}Bildergalerien - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Bildergalerien von Spielen, Veranstaltungen und sonstigen Ereignissen rund um Wacker Gladbeck 1920 e.V.{% endblock %}


{% block files %}
    <script src="{{ asset('assets/js/bildergalerie.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/bildergalerie.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Bildergalerie</h1>
            <h2>Bilder rund um Wacker Gladbeck</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <h3 id="page-headline">Bildergalerien von Spielen, Veranstaltungen & sonstigen Ereignissen rund um Wacker</h3>

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="sel1">Sortieren nach:</label>
                    <select class="form-control" id="sel1">
                        <option value="date_asc">Datum aufsteigend</option>
                        <option value="date_desc">Datum absteigend</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row" id="galleries-container"></div>
    </section>
    <!-- End Section-One -->

{% endblock %}