{% extends 'layout.html.twig' %}


{% block title %}Downloads - Fußballverein Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Aktuelle Dokumente, wie u.a. der Aufnahmeantrag sowie verschiedene Varianten des Wacker-Logos stehen zum Download zur Verfügung!{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/downloads.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Downloads</h1>
            <h2>Aktuelle Dokumente sowie Logos zum Downloade</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-Two -->
    <section id="section-two">
        <h3>Allgemeines</h3>
        <p>
            Wir haben in diese Rubrik alle Medien für den Download zusammengefasst und nachfolgend in Dokumente und Medien unterteilt.
            Die hier zur Verfügung gestellten Medien sind ausschließlich für den privaten und nicht kommerziellen Gebrauch bestimmt.
        </p>
        <p>
            Die Copyrights an den Medien verbleiben bei Wacker Gladbeck 1920 e.V.. Sollten Sie die unten aufgeführten Medien einer kommerzieller Nutzung
            unterziehen wollen, kontaktieren Sie uns zuvor per E-Mail <a href="mailto:info@wacker-gladbeck.de" title="info@wacker-gladbeck.de">info@wacker-gladbeck.de</a> mit Angabe des Verwendungszwecks, Dauer, und Umfang der Nutzung.
        </p>
    </section>
    <!-- End Section-Two -->

    <div class="shadow-line"></div>

    <section class="bg-dark-field" id="section-three">
        <div id="info-banner">
            <div id="info-banner-left">Information</div>
            <div id="info-banner-right"></div>
            <div class="clear"></div>
        </div>
        <p>
            Benötigen Sie ggf. individuelle Varianten unseres Logos oder Banner, wenden Sie sich bitte direkt an uns, um jeweilige Lösungen zu finden!<br />
            Gerne entwerfen wir für Sie individuale Varianten userer Vereins-Grafiken!
        </p>
        <a href="{{ path('kontakt') }}" class="btn btn-dark">
            <i class="fas fa-comments"></i> Kontakt
        </a>
    </section>

    <div class="shadow-line"></div>

    <!-- Section-One -->
    <section id="section-one">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-area-headline">
                    <h3><i class="fas fa-bars"></i> Dokumente</h3>
                </div>

                <div class="download-elements-container download-elements-container-left">
                    <div class="download-element-box">
                        <div class="box-content-left">
                        <span class="file-type">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                            PDF
                        </span>
                            <span class="file-name">Aufnahmeantrag</span>
                        </div>
                        <div class="box-content-right">
                            <a href="{{ asset('assets/doc/Anmeldung.pdf') }}" target="_blank" download="" class="download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="download-element-box">
                        <div class="box-content-left">
                        <span class="file-type">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Word
                        </span>
                            <span class="file-name">Aufnahmeantrag</span>
                        </div>
                        <div class="box-content-right">
                            <a href="{{ asset('assets/doc/Anmeldung.doc') }}" target="_blank" download="" class="download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="download-element-box">
                        <div class="box-content-left">
                        <span class="file-type">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            Excel
                        </span>
                            <span class="file-name">SEPA-Basis-Lastschrift</span>
                        </div>
                        <div class="box-content-right">
                            <a href="{{ asset('assets/doc/SEPA_Basis_Lastschrift.xlsx') }}" target="_blank" download="" class="download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="download-element-box">
                        <div class="box-content-left">
                        <span class="file-type">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            ODS
                        </span>
                            <span class="file-name">SEPA-Basis-Lastschrift</span>
                        </div>
                        <div class="box-content-right">
                            <a href="{{ asset('assets/doc/SEPA_Basis_Lastschrift.ods') }}" target="_blank" download="" class="download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-area-headline-margin">
                    <h3><i class="fas fa-bars"></i> Logos</h3>
                </div>

                <div class="download-elements-container download-elements-container-right">
                    <div class="download-element-box">
                        <div class="box-content-left">
                            <a href="{{ asset('assets/img/logo/logo.svg') }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Größe: 2081 x 2120 Pixel" class="image-box">
                                <img src="{{ asset('assets/img/logo/logo.svg') }}">
                            </a>
                            <span class="file-type">
                            <i class="fa fa-file-picture-o" aria-hidden="true"></i>
                            SVG
                        </span>
                            <span class="file-name">Vektordatei, gelber Hintergrund</span>
                        </div>
                        <div class="box-content-right">
                            <a href="{{ asset('assets/img/logo/logo.svg') }}" target="_blank" download="" class="download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="download-element-box">
                        <div class="box-content-left">
                            <a href="{{ asset('assets/img/logo/logo.png') }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Größe: 120 x 139 Pixel" class="image-box">
                                <img src="{{ asset('assets/img/logo/logo.png') }}" />
                            </a>
                            <span class="file-type">
                            <i class="fa fa-file-picture-o" aria-hidden="true"></i>
                            PNG</span>
                            <span class="file-name">Originallogo</span>
                        </div>
                        <div class="box-content-right">
                            <a href="{{ asset('assets/img/logo/logo.png') }}" target="_blank" download="" class="download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="download-element-box">
                        <div class="box-content-left">
                            <a href="{{ asset('assets/img/logo/logo_platz_bg.png') }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Größe: 172 x 172 Pixel" class="image-box">
                                <img src="{{ asset('assets/img/logo/logo_platz_bg.png') }}" />
                            </a>
                            <span class="file-type">
                            <i class="fa fa-file-picture-o" aria-hidden="true"></i>
                            PNG</span>
                            <span class="file-name">Platz-Hintergrund</span>
                        </div>
                        <div class="box-content-right">
                            <a href="{{ asset('assets/img/logo/logo_platz_bg.png') }}" target="_blank" download="" class="download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="download-element-box">
                        <div class="box-content-left">
                            <a href="{{ asset('assets/img/logo/logo_platz_gelber_rand_bg.png') }}" target="_blank" data-toggle="tooltip" data-placement="top" title="Größe: 180 x 180 Pixel" class="image-box">
                                <img src="{{ asset('assets/img/logo/logo_platz_gelber_rand_bg.png') }}" />
                            </a>
                            <span class="file-type">
                            <i class="fa fa-file-picture-o" aria-hidden="true"></i>
                            PNG</span>
                            <span class="file-name">Platz-Hintergrund, gelber Rahmen</span>
                        </div>
                        <div class="box-content-right">
                            <a href="{{ asset('assets/img/logo/logo_platz_gelber_rand_bg.png') }}" target="_blank" download="" class="download-btn">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Download
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-One -->


{% endblock %}