{% extends 'layout.html.twig' %}


{% block title %}WackerTV - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}WackerTV - Videos rund um Wacker Gladbeck! Hier findest du alle Videos von Spielen unserer Mannschaften bis hin zu Veranstaltungen auf unserer Sportanlage.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/tools/sweetalert/sweetalert2.css') }}" />
    <script async src="{{ asset('assets/tools/sweetalert/sweetalert2.js') }}"></script>

    <script src="{{ asset('assets/js/wackertv.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/wackertv.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Das neue WackerTV</h1>
            <h2>Videos rund um Wacker Gladbeck</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">
                        {% if i.name == "wackertv" %}
                            WackerTV
                        {% else %}
                            {{ i.name|capitalize }}
                        {% endif %}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="container">

            <div class="section-area-headline">
                <h3><i class="fas fa-bars"></i> Alle Videos im Überblick</h3>
            </div>

            <div class="row">
                {% for video in videos %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="news-box" data-video="https://www.youtube.com/watch?v={{ video.youtube_url }}" data-video_id="{{ video.video_id }}" data-title="{{ video.video_title }}">
                            <div class="news-image-box">
                                <img src="https://img.youtube.com/vi/{{ video.thumbnail }}/0.jpg" alt="WackerTV - {{ video.video_title }}" title="WackerTV - {{ video.video_title }}" />
                                <div class="news-box-overlay"></div>
                                <div class="news-length"><i class="far fa-clock"></i> {{ video.video_length }}</div>
                                <div id="play-button"><i class="far fa-play-circle"></i></div>
                                <div class="news-content">
                                    <div class="news-category">
                                        <div class="news-category-left">Kategorie</div>
                                        <div class="news-category-right"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="news-title">{{ video.video_title }}</div>
                                </div>
                            </div>
                            <div class="news-content-box">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <p>
                                            <i class="fas fa-calendar-alt"></i> {{ video.date|date("d.m.Y") }}
                                        </p>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <p>
                                            <i class="fas fa-eye"></i> {{ video.views }} Aufrufe
                                        </p>
                                    </div>
                                </div>
                                <hr />
                                <p class="video-description">{{ video.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-One -->

{% endblock %}