{% extends 'layout.html.twig' %}


{% block title %}Über uns - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Fußball im Gladbecker Süden war schon immer auch geprägt vom Geschehen bei Wacker Gladbeck! Wir sind eine Gemeinschaft von fußballbegeisterten Personen{% endblock %}


{% block files %}
    <script src="{{ asset('assets/js/aboutus.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/aboutus.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Über uns</h1>
            <h2>Daten über den Wacker Gladbeck</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section class="bg-dark-field" id="section-one">
        <div class="background-overlay"></div>
        <div class="container">
            <h3>Entdecke Wacker Gladbeck</h3>

            <div class="diamond">
                <div class="diamond-inner">
                    <span class="diamond-number counter" data-count="11">0</span>
                    <span class="diamond-title">Mannschaften</span>
                </div>
            </div>
            <div class="diamond">
                <div class="diamond-inner">
                    <span class="diamond-number counter" data-count="100">0</span>
                    <span class="diamond-title">Spieler</span>
                </div>
            </div>
            <div class="diamond">
                <div class="diamond-inner">
                    <span class="diamond-number counter" data-count="17">0</span>
                    <span class="diamond-title">Trainer</span>
                </div>
            </div>
            <div class="diamond">
                <div class="diamond-inner">
                    <span class="diamond-number counter" data-count="24">0</span>
                    <span class="diamond-title">Ehrenamtliche</span>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section id="section-two">
        <div class="container">
            <h3>Wir sind Wacker!</h3>
            <p><strong>Fußball im Gladbecker Süden</strong> war schon immer auch geprägt vom Geschehen bei Wacker Gladbeck!</p>
            <p>
                Wir sind eine Gemeinschaft von <strong>fußballbegeisterten Personen ganz unterschiedlichen Alters</strong>, die ehrenamtlich in verschiedenen Positionen und Tätigkeiten aktiv bei Wacker Gladbeck mithelfen.
            </p>
            <p>
                Von den Kleinsten in der <strong>Jugend</strong> bis hin zu den <strong>Senioren</strong> kann jeder bei uns mitmachen und den Spaß am Fußball ausleben.<br />
                Unser Online-Auftritt soll Ihnen schon ein wenig einen Vorgeschmack auf das freundliche und positive Miteinander geben, dass Sie bei <strong>Wacker Gladbeck</strong> erleben werden.
            </p>
            <p>
                Ihr <strong>Traditionsverein im Süden Gladbecks</strong> freut sich natürlich auch, wenn Sie uns mal persönlich auf der <strong>Sportanlage</strong> in der Burgstraße 2 besuchen und unsere Jungs & Mädchen anfeuern!
            </p>
        </div>
    </section>
    <!-- End Section-Two -->

    <div class="shadow-line"></div>

    <!-- Section-Three -->
    <section id="section-three">
        <div class="container">
            <h3>Zusammenschnitt über uns</h3>
            {% if video == "off" %}
                <img src="{{ asset('assets/img/graphics/coming-soon.png') }}" id="coming-soon-banner" alt="Coming Soon" />
            {% else %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZxiyUZbTvAY?list=RDQMDPrb-y60J9s" frameborder="0" allowfullscreen></iframe>
            {% endif %}
        </div>
    </section>
    <!-- End Section-Three -->

    <!-- Section-Four -->
    <section class="bg-dark-field" id="section-four">
        <div class="background-overlay-03"></div>
        <div class="container">
            <h3>Das sind wir</h3>

            <div class="row">
                {% for member in members %}
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="member-box">
                            {% if member.picture is empty %}
                                <img src="{{ asset('assets/img/persons/Placeholder_no_text.svg.png') }}" alt="{{ member.member_name }} - Fußballverein Wacker Gladbeck" title="{{ member.member_name }} - Fußballverein Wacker Gladbeck" />
                            {% else %}
                                <img src="{{ asset('assets/img/persons/') }}{{ member.picture }}" alt="{{ member.member_name }} - Fußballverein Wacker Gladbeck" title="{{ member.member_name }} - Fußballverein Wacker Gladbeck" />
                            {% endif %}
                            <span class="member-name">{{ member.member_name }}</span>
                            <span class="member-position">{{ member.position|replace({'&auml;': "ä", "&uuml;" : "ü"}) }}</span>
                            <a href="mailto:{{ member.email }}?cc=&bcc=n.sinda@wacker-gladbeck.de&subject=Wacker Gladbeck Anfrage" class="member-box-icon">
                                <i class="far fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Four -->

    <!-- Section-Five -->
    <section id="section-five" class="bg-yellow-field">
        <div class="container">
            <h3>Du willst ein Teil unseres Teams werden?</h3>
            <h4>Ganz egal ob Trainer, Betreuer, Spieler oder auch als ehrenamtlicher Helfer - wir freuen uns über<br />jeden weiteren Neuen bei Wacker Gladbeck!</h4>
            <a href="{{ path('kontakt') }}"><i class="fas fa-comments"></i> Kontaktiere uns</a>
        </div>
    </section>
    <!-- End Section-Five -->

{% endblock %}