{% extends 'layout.html.twig' %}


{% block title %}Anfahrt - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Anfahrt zum Fußballverein Wacker Gladbeck - Im Süden Gladbeck's | Wacker Gladbeck 1920 e.V. - Sportplatz Burgstraße | Burgstraße 2, 45964 Gladbeck{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/anfahrt.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Anfahrt</h1>
            <h2>Der Weg zu uns</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <h3>Fußballverein Wacker Gladbeck - Im Süden Gladbeck's!</h3>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <p>So findest du uns:</p>
                <p>
                    Wacker Gladbeck liegt im wundersch&ouml;nen <strong>Wittringer Wald</strong> in Gladbeck und ist direkter Nachbar von der <strong>Vestischen Kampfbahn</strong>, Gladbeck's gro&szlig;em Stadion.
                    In unmittelbarer N&auml;he befindet sich zudem auch das <strong>Wasserschloss Wittringen</strong> mit seinen Seen und Gr&uuml;nfl&auml;chen.
                </p>
                <p>
                    <u>Von Gladbeck/Gelsenkirchen aus:</u><br />
                    Auf der B 224 von Gladbeck/Gelsenkirchen kommend Richtung nach Essen/Oberhausen -&gt; Kreuzung Burgstra&szlig;e/Ph&ouml;nixstra&szlig;e am Gladbecker Stadion rechts abbiegen.<br />
                    Gerade aus weiter befindet sich auf der rechten Seite hinter dem Stadion unsere Sportanlage, auf der linken Seite befindet sich ein gro&szlig;er Parkplatz zum kostenlosen parken.
                </p>
                <p>
                    <u>Von Essen/Oberhausen aus:</u><br />
                    Auf der B 224 von Essen/Oberhausen kommend Richtung Gladbeck -&gt; Kreuzung Burgstra&szlig;e/Ph&ouml;nixstra&szlig;e am Gladbecker Stadion links abbiegen.<br />
                    Gerade aus weiter befindet sich auf der rechten Seite hinter dem Stadion unsere Sportanlage, auf der linken Seite befindet sich ein gro&szlig;er Parkplatz zum kostenlosen parken.
                </p>
                <p>
                    <u>Anfahrt mit dem Bus:</u><br />
                    Niederflurbus 189 - Richtung Essen Boyer Str.  - Abfahrtshaltestellen u.a. Oberhof, Marktplatz und Jovyplatz - Ausstieg an der Haltestelle "Stadion" bzw. "Gladbeck Stadion".<br />
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-5 col-sm-8 col-sm-offset-2 col-xs-12">
                <img src="{{ asset('assets/img/map/anfahrt_map-min.png') }}" alt="Anfahrtskarte" title="Anfahrtskarte mit dem Bus zu Wacker Gladbeck">
                <div id="address-info-box">
                    <div class="section-area-headline">
                        <h4><i class="fas fa-bars"></i> Unsere Adresse</h4>
                    </div>
                    <p>
                        Wacker Gladbeck 1920 e.V.<br />
                        Burgstraße 2<br />
                        45964 Gladbeck
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section class="bg-dark-field" id="section-two">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h3>Karten-Übersicht</h3>
                    <div id="map"></div>
                    <script>
                        function myMap() {
                            var myCenter = new google.maps.LatLng(51.560827, 6.984765);
                            var mapCanvas = document.getElementById("map");
                            var mapOptions = {center: myCenter, zoom: 15};
                            var map = new google.maps.Map(mapCanvas, mapOptions);
                            var marker = new google.maps.Marker({position:myCenter});
                            marker.setMap(map);

                            var infowindow = new google.maps.InfoWindow({
                                content: "Sportanlage Wacker Gladbeck 1920 e.V."
                            });
                            infowindow.open(map,marker);
                        }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCDClxBNT7hENQ_9CKi_wEljibJ2eB6OEs&callback=myMap"></script>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <!-- Section-Three -->
    <section id="section-three">
        <h3>Weitere Fragen?!</h3>
        <p>Hast du weitere Fragen zur Anfahrt zu unserer Sportanlage oder zu Parkmöglichkeiten? Dann melde dich gerne bei uns!</p>
        <a href="{{ path('kontakt') }}"><i class="fas fa-comments"></i> Kontakt</a>
    </section>
    <!-- End Section-Three -->

{% endblock %}