{% extends 'layout.html.twig' %}


{% block title %}Mitgliedschaft-Anmeldung - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Für eine Mitgliedschaft bei Wacker Gladbeck fülle einfach den Aufnahmeantrag aus und schicke diesen an uns. Schon gehörst Du als Mitglied zu Wacker Gladbeck dazu!{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/anmeldung.css') }}" />
    <style>
        .wrapper {
            position: relative;
            width: 400px;
            height: 200px;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .signature-pad {
            position: absolute;
            left: 0;
            top: 0;
            width:400px;
            height:200px;
            background-color: white;
        }
    </style>
    <script src="https://szimek.github.io/signature_pad/js/signature_pad.umd.js"></script>
    <script>
        var canvas = document.getElementById('signature-pad');

        // Adjust canvas coordinate space taking into account pixel ratio,
        // to make it look crisp on mobile devices.
        // This also causes canvas to be cleared.
        function resizeCanvas() {
            // When zoomed out to less than 100%, for some very strange reason,
            // some browsers report devicePixelRatio as less than 1
            // and only part of the canvas is cleared then.
            var ratio =  Math.max(window.devicePixelRatio || 1, 1);
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);
        }

        window.onresize = resizeCanvas;
        resizeCanvas();

        var signaturePad = new SignaturePad(canvas, {
            backgroundColor: 'rgb(255, 255, 255)' // necessary for saving image as JPEG; can be removed is only saving as PNG or SVG
        });

        document.getElementById('save-png').addEventListener('click', function () {
            if (signaturePad.isEmpty()) {
                return alert("Please provide a signature first.");
            }

            var data = signaturePad.toDataURL('image/png');
            console.log(data);
            window.open(data);
        });

        document.getElementById('save-jpeg').addEventListener('click', function () {
            if (signaturePad.isEmpty()) {
                return alert("Please provide a signature first.");
            }

            var data = signaturePad.toDataURL('image/jpeg');
            console.log(data);
            window.open(data);
        });

        document.getElementById('save-svg').addEventListener('click', function () {
            if (signaturePad.isEmpty()) {
                return alert("Please provide a signature first.");
            }

            var data = signaturePad.toDataURL('image/svg+xml');
            console.log(data);
            console.log(atob(data.split(',')[1]));
            window.open(data);
        });

        document.getElementById('clear').addEventListener('click', function () {
            signaturePad.clear();
        });

        document.getElementById('undo').addEventListener('click', function () {
            var data = signaturePad.toData();
            if (data) {
                data.pop(); // remove the last dot or line
                signaturePad.fromData(data);
            }
        });

    </script>
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Mitgliedschaft - Mitglied werden</h1>
            <h2>Online Mitgliedschaft beantragen</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <h3>Online-Anmeldung</h3>



        <div class="container">
            <form class="contact-form" method="POST" action="#">
                <div class="form-group">
                    <label>Vorname</label>
                    <input name="first_name" type="text" title="Vorname" />
                </div>
                <div class="form-group">
                    <label>Nachname</label>
                    <input name="last_name" type="text" title="Nachname" />
                </div>
                <div class="form-group">
                    <label>Geburtstag</label>
                    <input name="birth_date" type="text" title="Geburtstag" />
                </div>
                <div class="form-group">
                    <label>Geburtsort</label>
                    <input name="birth_place" type="text" title="Geburtsort" />
                </div>
                <div class="form-group">
                    <label>Straße</label>
                    <input name="street" type="text" title="Straße" />
                </div>
                <div class="form-group">
                    <label>PLZ</label>
                    <input name="postcode" type="text" title="PLZ" />
                </div>
                <div class="form-group">
                    <label>Stadt</label>
                    <input name="city" type="text" title="Stadt" />
                </div>
                <div class="form-group">
                    <label>Telefonnummer</label>
                    <input name="phone_number" type="text" title="Telefonnummer" />
                </div>
                <div class="form-group">
                    <label>Paket</label>
                    <select>Paket</select>
                </div>
                <div class="form-group">
                    <label>Abbuchung</label>
                    <select>Abbuchung</select>
                </div>
                <div class="form-group">
                    <label>Stadt</label>
                    <input name="city" type="text" title="Stadt">
                </div>
                <div class="form-group">
                    <label>Datum</label>
                    <input name="date" type="text" title="Datum">
                </div>
                <div class="form-group">
                    <label>Unterschrift</label>
                    <input name="signature" type="text" title="Unterschrift">

                    <div class="wrapper">
                        <canvas id="signature-pad" class="signature-pad" width=400 height=200></canvas>
                    </div>

                    <button id="save-png">Save as PNG</button>
                    <button id="save-jpeg">Save as JPEG</button>
                    <button id="save-svg">Save as SVG</button>
                    <button id="undo">Undo</button>
                    <button id="clear">Clear</button>


                </div>
                <button type="submit" class="btn btn-default" name="send">Nachricht senden</button>
            </form>
        </div>


    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section class="bg-dark-field" id="section-two">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3">
                    <a href="">
                        <i class="fas fa-link"></i> Weitere Infos
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <a href="">
                        <i class="fas fa-link"></i> Deine Vorteile
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <a href="">
                        <i class="fas fa-link"></i> Mitgliedsbeiträge
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <a href="">
                        <i class="fas fa-link"></i> Mitglied werden
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

{% endblock %}