{% extends 'layout.html.twig' %}


{% block title %}Geschichte - Fußballverein Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Geschichte von unserem Verein. Die Entstehung sowie die Entwicklung von unserem Fußballverein Wacker Gladbeck 1920 e.V.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/geschichte.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Geschichte</h1>
            <h2>Entstehung vom Fußballverein Wacker Gladbeck</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h3>Wacker Gladbeck. Fußballverein im Gladbecker Süden.</h3>
                <h4>Die Gründung von Wacker Butendorf bis zur Entstehung von Wacker Gladbeck</h4>
                <h4>Die ganze Geschichte unseres Vereins</h4>
            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section id="section-two">
        <div class="container">
            <ol class="breadcrumb breadcrumb-arrow">
                <li><a href="#gruendung">Gründung</a></li>
                <li><a href="#1946-1969">1946 - 1969</a></li>
                <li class="active"><a href="#1970-2007">1970 - 2007</a></li>
                <li><a href="#2008-heute">2008 - heute</a></li>
            </ol>

            <div class="separator"><span id="gruendung">Gründung</span></div>

            <p>
                Die ersten Aktivit&auml;ten unseres <strong>Sportvereins Wacker Butendorf 1920</strong> begannen ereits 1919 und wurzelten in der Sportabteilung des Jünglingsvereins
                der <strong>Pfarrei Heilig-Kreuz Butendorf</strong>. Nach einem eindrucksvollen Spiel zwischen Wacker Wien und Schwarz-Wei&szlig; Essen gr&uuml;ndeten sportbegeisterte
                Butendorfer den Verein <strong>DJK Wacker Butendorf</strong>. Zu den Gr&uuml;ndern geh&ouml;rten Paul Wagner, Hermann Hasebrink, Karl Rattka, Karl Wolfram
                und die Gebr&uuml;der Kraft.
            </p>

            <p>
                Im Jahre 1922 erfolgte der <strong>Beitritt zur Deutschen Jugendkraft (DJK)</strong>. Unter dem Namen DJK Wacker Butendorf firmierte unser Verein bis
                zum Jahr 1970. Zum Pr&auml;ses und zugleich 1. Vorsitzenden wurde Kaplan Schmedding gew&auml;hlt, zum Kassierer H. Hasebrink und zum Schriftf&uuml;hrer
                J. Hasebrink. Gespielt wurde auf dem heutigen Parkplatz gegen&uuml;ber dem Freibad. In den folgenden Jahren beschr&auml;nkten sich die Aktivit&auml;ten
                des Vereins nicht nur auf Fu&szlig;ball:
            </p>

            <p>
                1924 wurde dem Verein eine <strong>Schachabteilung</strong> angegliedert, 1925 gr&uuml;ndete man eine <strong>Faustballabteilung</strong>, die mit schwarzem trikot und gelber Hose in
                der Bezirksliga spielte. Im gleichen Jahr wurde die <strong>Turn- und Leichtathletikabteilung</strong> gegr&uuml;ndet, die bei den Meisterschaften des DJK- Verbandes
                Unterbezirk Emscher- Ruhr sehr erfolgreich war, herausragend J. Riethm&ouml;llers 11,0 sec. &uuml;ber 100m.
            </p>

            <p>
                1933 wurde eine Weiterf&uuml;hrung des Vereins DJK Wacker Butendorf durch das NS-Regime verboten. Das bedeutete zwar das Einstellen sportlicher
                Bet&auml;tigung, nicht aber das Ende des geselligen Beisammenseins.
            </p>

            <div class="separator"><span id="1946-1969">1946 - 1969</span></div>
            <p>
                Nach Beendigung des Krieges und dem Ende des NS-Regimes fanden sich im Jahr 1946 schnell wieder "alte" Wackeraner und sportbegeisterte Jugendliche
                zusammen, um wieder einen Spielbetrieb aufzubauen. Dabei war das Problem der Ausr&uuml;stung mit Garnituren, B&auml;llen, Schuhen usw. ein fast
                unl&ouml;sbares Problem. So wurden z.B in ganz Butendorf innerhalb von 2 Wochen 5 Tonnen Kohlen gesammelt und die Spieler der Seniorenmannschaften
                verzichteten einen Monat auf Zigaretten - und Tabakzuteilung. Mit diesen Tauschobjekten konnten die ersten Garnituren und B&auml;lle angeschafft
                werden. Bis 1949 fanden Spiele mit Vereinen der DJK statt, Spiele mit Vereinen des WFV waren nicht gestattet.
            </p>

            <p>
                Am 21.1.1951 beschlie&szlig;t eine au&szlig;erordentliche Mitgliederversammlung den Austritt des Vereins aus dem DJK - Verband Rhein - Weser und
                dem Eintritt in den DJK - Verband Richtung Altenberg als Anschlussorgan zum WFV. Am 13.8.1951 erfolgt die Aufnahme in den <strong>Fu&szlig;ballverband Westfalen,
                    Kreis Gelsenkirchen</strong>. Hier spielen die Mannschaften mit wechselndem Erfolg. Zum 50- j&auml;hrigen Vereinsjubil&auml;um schafft die 1. Mannschaft den
                <strong>Aufstieg in die Bezirksliga</strong>, wo Sie sich 6 Jahre halten kann.
            </p>

            <div class="separator"><span id="1970-2007">1970 - 2007</span></div>
            <p>
                Am 11.Januar 1970 genehmigt eine au&szlig;erordentliche Mitgliederversammlung den <strong>Austritt des Vereins aus dem DJK- Di&auml;zesanverband</strong>. Der Verein
                hei&szlig;t jetzt <strong>Wacker Gladbeck 1920</strong> und die Mannschaften spielen mit wechselndem Erfolg in den Kreisligen C, B, A im Kreis Gelsenkirchen, einige
                Jahre auch in der Bezirksliga. Von 1973 is 1982 gab es bei Wacker auch eine <strong>Damenmannschaft</strong>. 1001 wurde eine Tennisabteilung gegr&uuml;ndet, mit
                Aufnahmestopp bei 80 Mitgliedern. 2009 musste diese Abteilung geschlossen werden mangels Masse. Auch die <strong>Damengymnastikabteilung</strong>, die 2011 ihr
                vierzigj&auml;hriges Bestehen feierte, l&ouml;ste sich Ende des gleichen Jahres aus.
            </p>

            <p>
                In den 80er Jahren gab es auch eine <strong>Volleyballmannschaft</strong>, die erfolgreich an Meisterschaftsspielen der Hobbyliga teilnahm. Aus dieser Abteilung
                ging 1985 die Abteilung <strong>Sport für Jedermann</strong> hervor, die sich bis heute jeden Donnerstagabend sportlich bet&auml;tigt.
            </p>

            <p>
                Seit 1966 existiert eine <strong>Altherrenmannschaft</strong>, die erfolgreich an Stadt- und Kreismeisterschaften teilnimmt. &Uuml;ber&ouml;rtlich ist sie vor
                allem durch allj&auml;hrlich durchgef&uuml;hrtes <strong>Pfingstturnier</strong> bekannt.
            </p>

            <div class="separator"><span id="2008-heute">2008 - heute</span></div>
            <p>
                Im Jahr 2004 gelang der erneute Aufstieg in die Bezirksliga, in welcher bis zur Saison 2006/07 gespielt
                wurde und dann der Abstieg in die Kreisligs A folgte. Nach sieben Jahren Kreisliga A folgte nach einem Jahr Kreisligs B der Abstieg in die unterste Liga, der
                Kreisliga C. In der Saison 2017/18 sind vier Seniorenmannschaften für Wacker Gladbeck gemeldet und spielen verteilt in den drei Kreisligan C im Kreis Gelsenkirchen.
                Unserer 4. Mannschaft ist durch den 2. Tabellenplatz der Aufstieg in die Kreisliga B gelungen und wird in der darauffolgenden Saison 2018/19 die neue 1. Mannschaft
                bilden. Unsere 2. Mannschaft (Kreisligs C2) und 3. Mannschaft (Kreisliga C3) haben knapp den Aufstieg verpasst, erreichten aber dennoch einen tollen 3. Tabellenplatz.
            </p>
        </div>
    </section>
    <!-- End Section-Two -->

    <!-- Section-Three -->
    <section class="bg-dark-field" id="section-three">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
                <h3>Unser Vereinslied</h3>
                <iframe src="https://www.youtube.com/embed/sav-cvTI8Rg" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <!-- Section-Three -->

    <div class="shadow-line"></div>

{% endblock %}