{% extends 'layout.html.twig' %}


{% block title %}Mitgliedschaft - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Für eine Mitgliedschaft bei Wacker Gladbeck fülle einfach den Aufnahmeantrag aus und schicke diesen an uns. Schon gehörst Du als Mitglied zu Wacker Gladbeck dazu!{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/mitgliedschaft.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Mitgliedschaft - Mitglied werden</h1>
            <h2>Werde ein Teil von Wacker Gladbeck</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <h3>Herzlich Willkommen bei Wacker Gladbeck!</h3>
        <p>
            Das Miteinander wird bei Wacker Gladbeck GROß geschrieben. Dabei machen wir keinen Unterschied zwischen aktiven und passiven
            Mitgliedern oder  zwischen Jung und Alt. Bei uns ist das Du völlig normal, alle Türen und Tore stehen jederzeit offen.
            Hierarchien brauchen wir nicht. Wir setzen uns gemeinsam für die Ziele unseres BSV ein. Jeder bringt sich mit seinen Ideen und
            individuellen Fähigkeiten ein. Kameradschaft, Fairness, Ehrlichkeit, Respekt und Toleranz sind die Werte und Tugenden, die wir
            uns ganz bewußt auf unsere Fahne geschreiben haben.
        </p>
        <p>
            Das alles verbindet die BSV-Mitglieder, deren Gemeinsamkeiten weit über die Zeit auf dem Fußballplatz hinaus gehen.
        </p>
        <p>
            Wir sind uns aber auch der sozialen Verantwortung bewusst. Die Eltern in und um Leutherheide vertrauen uns seit vielen Jahrzehnten gerne ihre Kinder an und wissen sie bei uns gut aufgehoben. Die Ausbildung der im Verein aktiven Kinder und Jugendlichen ist dabei nicht nur auf den Fußballplatz beschränkt.
        </p>
        <img src="{{ asset('assets/img/banner/wacker-gladbeck-mitgliedschaft.png') }}" alt="Wacker Gladbeck Mitgliedschaft - Mitglied werden!" title="Wacker Gladbeck Mitgliedschaft - Mitglied werden!" id="mitgliedschaft-banner" />
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section class="bg-dark-field" id="section-two">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="#weitere-informationen">
                        <i class="fas fa-link"></i> Weitere Infos
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="#deine-vorteile">
                        <i class="fas fa-link"></i> Deine Vorteile
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="#mitgliedsbeitraege">
                        <i class="fas fa-link"></i> Mitgliedsbeiträge
                    </a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="#mitglied-werden">
                        <i class="fas fa-link"></i> Mitglied werden
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <!-- Section-Three -->
    <section id="weitere-informationen">
        <h3>Weitere Informationen</h3>
        <p>
            Du bist fußballbegeistert - egal ob aktiv als Spieler oder nur passiv - und du willst ein Teil unserer tollen
            <strong>Wacker Gladbeck-Gemeinschaft</strong> werden? Dann bist du als <strong>neues Mitglied</strong> bei Wacker Gladbeck herzlich Willkommen!
        </p>
        <p>
            Für eine <strong>Mitgliedschaft</strong> bei Wacker Gladbeck - egal ob aktiv oder passiv - fülle einfach den unten stehenden <strong>Aufnahmeantrag</strong> unter "Downloads" aus
            und schicke diesen an die angegebene Adresse: Wacker Gladbeck 1920 e.V., Postfach 211, 45964 Gladbeck oder bringe ihn persönlich bei uns vorbei.<br />
            Das war's schon! Schon gehörst Du als <strong>Mitglied</strong> zu Wacker Gladbeck 1920 e.V. dazu!
        </p>
        <p>Auf dieser Seite folgend findest Du eine Übersicht der aktuell bestehenden <strong>Mitgliedsbeiträge</strong>.</p>
    </section>
    <!-- End Section-Three -->

    <!-- Section-Seven -->
    <section class="bg-yellow-field" id="section-seven">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-boxes">
                        <h5>Was bringt eine Mitgliedschaft bei Wacker Gladbeck?</h5>
                        <p>
                            Sei ein Teil unserer tollen Wacker-Gemeinschaft. Ab dem vollendeten 18. Lebensjahr bist du zudem auf den
                            jährlichen Mitgliederversammlungen stimmberechtigt.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-boxes">
                        <h5>Aktive & Passive Mitgliedschaft</h5>
                        <p>
                            Ein Sportverein lebt unter anderem von Beiträgen seiner Mitglieder. Gerne bist auch du eingeladen, Mitglied  von Wacker Gladbeck zu werden.
                            Durch eine aktive Mitgliedschaft kannst du dich sportlich in unserer Fußballabteilung betätigen.
                            Durch eine passive Mitgliedschaft steht für dich die finanzielle Förderung des Vereins durch Geld im Vordergrund.
                            Auch juristische Personen (z. B. Firmen) können Mitglied werden.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="info-boxes">
                        <h5>Mitgliedschaftsein- und -austritt</h5>
                        <p>
                            Beitrittserklärungen und Kündigungen können bei den Übungsleiter(inne)n bzw. Trainer(inne)n, der Mitgliederverwaltung oder dem geschäftsführenden Vorstand abgegeben werden.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Seven -->

    <!-- Section-Four -->
    <section id="deine-vorteile">
        <div class="container">
            <h3>Deine Vorteile</h3>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="membership-advantage-box">
                        <div class="bg-yellow-field membership-advantage-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <h5>Sei ein Teil unserer Wacker-Gemeinschaft</h5>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="membership-advantage-box">
                        <div class="bg-yellow-field membership-advantage-icon">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <h5>Teilnahme an der jährlichen Mitgliederversammlung</h5>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="membership-advantage-box">
                        <div class="bg-yellow-field membership-advantage-icon">
                            <i class="far fa-list-alt"></i>
                        </div>
                        <h5>Ab Volljährigkeit Stimmrecht bei Vorstandswahlen</h5>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="membership-advantage-box">
                        <div class="bg-yellow-field membership-advantage-icon">
                            <i class="fas fa-ticket-alt"></i>
                        </div>
                        <h5>Ermäßigter Eintritt bei den Heimspielen der Seniorenabteilung</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Four -->

    <!-- Section-Five -->
    <section class="bg-dark-field" id="mitgliedsbeitraege">
        <div class="background-overlay-03"></div>
        <div class="container">
            <h3>Mitgliedsbeiträge</h3>

            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>Kinder & Jugendliche</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>6,50</span>
                            <span>/Monat*<sup>1</sup></span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>2 Kinder (Geschwister)</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>11,00</span>
                            <span>/Monat*<sup>1</sup></span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>Erwachsene</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>10,00</span>
                            <span>/Monat*<sup>1</sup></span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>Familien</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>12,00</span>
                            <span>/Monat*<sup>1</sup></span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>Familien (Jahresbeitrag)</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>120,00</span>
                            <span>/Jahr*<sup>1</sup></span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>Sport Jedermann</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>5,00</span>
                            <span>/Monat</span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>Sport Jedermann - Familienbeitrag</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>25,00</span>
                            <span>/Quartal</span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>Passive</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>5,00</span>
                            <span>/Monat</span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="membership-dues-box">
                        <div class="membership-dues-image-box">
                            <img src="{{ asset('assets/img/background/abc.png') }}" />
                            <span>Passive - Familienbeitrag</span>
                        </div>
                        <div class="membership-dues-footer-box">
                            <span>€</span>
                            <span>25,00</span>
                            <span>/Quartal</span>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="membership-dues-info-box">
                <div id="info-box-left">
                    *<sup>1</sup>&nbsp;Wichtige Information
                </div>
                <div id="info-box-right"></div>
                <div class="clear"></div>

                <p> Je minderjähriger Person fallen einmalig 5,00 € Passgebühr und je volljähriger Person fallen einmalig 15,00 € Passgebühr an.</p>
            </div>
        </div>
    </section>
    <!-- End Section-Five -->

    <!-- Section-Six -->
    <section id="mitglied-werden">
        <div class="container">
            <h3>Mitglied werden</h3>
            <p>
                Du hast dich für eine Mitgliedschaft bei Wacker Gladbeck 1920 e.V. entschieden? Das freut uns! Damit du ein Teil unseres Vereins werden kannst,
                benötigen wir eine Anmeldung von dir. Das entsprechende Formular kannst du in unserer Geschäftsstelle erhalten oder einfach über den folgenden
                Link ausdrucken und an die Geschäftsstelle schicken. Anderenfalls kannst du dich auch ganz einfach hier online anmelden!
            </p>
            <a href="{{ path('anmeldung') }}">
                <i class="fas fa-link"></i> Online-Anmeldung
            </a>
            <a href="{{ path('downloads') }}">
                <i class="fas fa-download"></i> Anmeldeformular
            </a>
        </div>
    </section>
    <!-- End Section-Six -->

{% endblock %}