{% extends 'layout.html.twig' %}


{% block title %}Portrait - Fußballverein Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Geschichte von unserem Verein. Die Entstehung sowie die Entwicklung von unserem Fußballverein Wacker Gladbeck 1920 e.V.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/portrait.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Portrait</h1>
            <h2>Fakten und Details zum Verein</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-xs-12">
                <img src="{{ asset('assets/img/logo/logo_platz_bg.png') }}" />
                <div id="guideline-box">
                    <h3>Unser Leitbild</h3>
                    <p>
                        Wacker Gladbeck will Menschen jeden Alters und jeder Herkunft eine Heimat sein, in der sie Glaubwürdigkeit,
                        Respekt, Fairness, Selbstbewusstsein, Teamorientierung, Verantwortung, Freiheit und doch Verbindlichkeit vorfinden.
                    </p>
                    <a href="{{ path('geschichte') }}" title="Wacker Gladbeck Geschichte" id="geschichte-btn">
                        <i class="fas fa-history"></i> Zu unserer Geschichte
                    </a>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-6 col-sm-8 col-xs-12">
                <div id="details-box">
                    <h3>Fakten und Details</h3>
                    <p>
                        <strong>Name:</strong>
                        Wacker Gladbeck 1920 e.V.
                    </p>
                    <p>
                        <strong>Gründung:</strong>
                        1920
                    </p>
                    <p>
                        <strong>Abteilungen:</strong><br />
                        Fußball-Senioren, Fußball-Jugend, Fußball-Altherren, Sport für Jedermann
                    </p>
                    <p>
                        <strong>Vereinsfarben:</strong>
                        Gelb-Schwarz
                    </p>
                    <p>
                        <strong>Sportanlage:</strong>
                        Sportanlage Burgstraße
                    </p>
                    <p>
                        <strong>Telefon:</strong>
                        02043 - 28 69 8
                    </p>
                    <p>
                        <strong>Telefax:</strong>
                        02043 - 28 69 8
                    </p>
                    <p>
                        <strong>Internet:</strong>
                        www.wacker-gladbeck.de
                    </p>
                    <p>
                        <strong>E-Mail:</strong>
                        info@wacker-gladbeck.de
                    </p>
                    <p>
                        <strong>Senioren:</strong><br />
                        1. Mannschaft, 2. Mannschaft, 3. Mannschaft, 4. Mannschaft
                    </p>
                    <p>
                        <strong>Altherren:</strong><br />
                        Ü32
                    </p>
                    <p>
                        <strong>Damen:</strong><br />
                        Spielgemeinschaft SuS Schwarz-Blau Gladbeck
                    </p>
                    <p>
                        <strong>Jugend:</strong><br />
                        E1-Jugend, F1-Jugend, G-Jugend (Minis)
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-One -->

{% endblock %}