{% extends 'layout.html.twig' %}


{% block title %}Sportplatz - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Spielstätte unserer Mannschaften - Unsere Sportanlage ist mit einem großen Ascheplatz inkl. Flutlichtanlage und einem kleinen Ascheplatz sowie Sandgrube ausgestattet.{% endblock %}


{% block files %}
    <!-- TOOLS -->
    <script async src="{{ asset('assets/tools/lightgallery/js/picturefill.min.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lightgallery.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-fullscreen.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-thumbnail.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-video.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-autoplay.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-zoom.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-hash.js') }}"></script>
    <script async src="{{ asset('assets/tools/lightgallery/js/lg-pager.js') }}"></script>
    <script async src="{{ asset('assets/js/vendor/jquery.mousewheel.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('assets/tools/lightgallery/css/lightgallery.css') }}" />

    <script>
        jQuery(document).ready(function($) {
            $('#gallery-ascheplatz').lightGallery({
                thumbnail:true
            });
            $('#gallery-stadion').lightGallery({
                thumbnail:true
            });
        });
    </script>

    <link rel="stylesheet" href="{{ asset('assets/css/sportplatz.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Sportplatz</h1>
            <h2>Spielstätte unserer Mannschaften</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <h3>Wir freuen uns auf Ihren Besuch</h3>
        <p>
            Unser <strong>Sportplatz</strong> ist mit einem <strong>großen Ascheplatz inkl. Flutlichtanlage</strong>, einem <strong>kleinen Ascheplatz</strong> sowie einer
            <strong>kleinen Sandgrube</strong> ausgestattet. Direkt am Eingang befindet sich unser Vereinsheim, welches zum gemütlichen Verweilen
            einlädt und auch für Versammlungen und Feiern (auch Privatfeiern) gemietet werden kann.<br>Neben unserer Sportanlage befindet sich das <strong>Gladbecker Stadion (Vestische Kampfbahn)</strong>,
            welches gelegentlich für Spiele & Turniere genutzt werden kann.
        </p>
        <p>
            Für eine genaue Beschreibung zur <strong>Anfahrt zu unserer Sportanlage</strong> mit dem Auto oder Bus schaue dir unsere <a href="{{ path('anfahrt') }}">Anfahrtsseite</a> an.
            Dort erklären wir dir, wie du mit dem Auto oder auch mit dem Bus am besten zu uns kommst!
        </p>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section class="bg-dark-field" id="section-two">
        <h3>Ascheplatz</h3>
        <div class="row">
            <div id="gallery-ascheplatz">
                {% for i in 1..8 %}
                    <a href="{{ asset('assets/img/sportplatz/wacker-gladbeck-sportplatz-' ~ i ~ '.jpg') }}" title="Sportplatz Wacker Gladbeck" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <img src="{{ asset('assets/img/sportplatz/wacker-gladbeck-sportplatz-' ~ i ~ '.jpg') }}" alt="Sportplatz Wacker Gladbeck" title="Sportplatz Wacker Gladbeck" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <div class="shadow-line"></div>

    <!-- Section-Three -->
    <section class="bg-dark-field" id="section-three">
        <h3>Stadion Gladbeck</h3>
        <div class="row">
            <div id="gallery-stadion">
                {% for i in 5..8 %}
                    <a href="{{ asset('assets/img/stadion/' ~ i ~ '.jpg') }}" title="Stadion Gladbeck" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <img src="{{ asset('assets/img/stadion/' ~ i ~ '.jpg') }}" alt="Stadion Gladbeck" title="Stadion Gladbeck" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Three -->

    <!-- Section-Four -->
    <section id="section-four" class="bg-yellow-field">
        <h3>Bilder gesucht</h3>
        <p>
            Falls Du weitere tolle Fotos von unserer Sportanlage oder dem Gladbecker Stadion hast,<br /> kontaktiere bitte uns und wir
            fügen diese auf diese Seite ein!
        </p>
        <a href="/kontakt"><i class="fas fa-comments"></i> Kontakt</a>
    </section>
    <!-- End Section-Four -->

{% endblock %}