{% extends 'layout.html.twig' %}


{% block title %}Termine - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Termine - Anstehende Veranstaltugen, wichtige Spiele und mehr bei Wacker Gladbeck auf einem Blick!{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/termine.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Termine</h1>
            <h2>Veranstaltungen, wichtige Spiele & mehr!</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <h3>Alle Termine auf einem Blick</h3>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v3.1&appId=644408349024310&autoLogAppEvents=1';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-page" data-href="https://www.facebook.com/wackergladbeck1920" data-tabs="events" data-width="500" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/wackergladbeck1920" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/wackergladbeck1920">Wacker Gladbeck 1920 e.V</a></blockquote></div>
    </section>
    <!-- End Section-One -->

{% endblock %}