{% extends 'layout.html.twig' %}


{% block title %}Trainer - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Unsere Trainer - Alle vereint die Liebe zum Fußball. Hier sind alle unsere aktuellen ehrenamtlichen Senioren-, Damen- und Jugendtrainer mit Kontakt aufgelistet.{% endblock %}


{% block files %}
    <link rel="stylesheet" href="{{ asset('assets/css/trainer.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Trainer</h1>
            <h2>Alle vereint die Liebe zum Fußball</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="container">
            <div class="section-area-headline">
                <h3><i class="fas fa-bars"></i> Senioren & Damen</h3>
            </div>

            <div class="row">
                {% for trainer in seniorenTrainer %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="news-box">
                            <a href="" title="" class="news-image-box">
                                <img src="{{ asset('assets/img/persons') }}/{{ trainer.picture|replace({'_klein': ''}) }}" />
                                <div class="news-box-overlay"></div>
                                <div class="news-content">
                                    <div class="news-category">
                                        <div class="news-category-left">{{ trainer.trainer_name }}</div>
                                        <div class="news-category-right"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="news-category2">
                                        <div class="news-category-left2">{{ trainer.team_name|replace({'&auml;': "ä", "&uuml;" : "ü"}) }}</div>
                                        <div class="news-category-right2"></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="news-content-box">
                                <p>
                                    {% if trainer.trainer_email is empty %}
                                        <i class="fas fa-envelope"></i> info@wacker-gladbeck.de
                                    {% else %}
                                        <i class="fas fa-envelope"></i> {{ trainer.trainer_email }}
                                    {% endif %}
                                </p>
                                <hr />
                                <p>
                                    {% if trainer.trainer_mobil is empty %}
                                        <i class="fas fa-phone"></i> -
                                    {% else %}
                                        <i class="fas fa-phone"></i> {{ trainer.trainer_mobil }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-One -->

    <!-- Section-Two -->
    <section  class="bg-dark-field" id="section-two">
        <h4>Unsere Jugendtrainer<br />Trainer. Psychologe. Motivator. Mutti.</h4>
    </section>
    <!-- Section-Two -->

    <!-- Section-One -->
    <section id="section-three">
        <div class="container">
            <div class="section-area-headline">
                <h3><i class="fas fa-bars"></i> Jugend</h3>
            </div>

            <div class="row">
                {% for trainer in jugendTrainer %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="news-box">
                            <a href="" title="" class="news-image-box">
                                <img src="{{ asset('assets/img/persons') }}/{{ trainer.picture|replace({'_klein': ''}) }}" />
                                <div class="news-box-overlay"></div>
                                <div class="news-content">
                                    <div class="news-category">
                                        <div class="news-category-left">{{ trainer.trainer_name }}</div>
                                        <div class="news-category-right"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="news-category2">
                                        <div class="news-category-left2">{{ trainer.team_name|replace({'&auml;': "ä", "&uuml;" : "ü"}) }}</div>
                                        <div class="news-category-right2"></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="news-content-box">
                                <p>
                                    {% if trainer.trainer_email is empty %}
                                        <i class="fas fa-envelope"></i> info@wacker-gladbeck.de
                                    {% else %}
                                        <i class="fas fa-envelope"></i> {{ trainer.trainer_email }}
                                    {% endif %}
                                </p>
                                <hr />
                                <p>
                                    {% if trainer.trainer_mobil is empty %}
                                        <i class="fas fa-phone"></i> -
                                    {% else %}
                                        <i class="fas fa-phone"></i> {{ trainer.trainer_mobil }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Three -->

    <!-- Section-Four -->
    <section id="section-four">
        <div class="iinner">
            <div id="a">
                <div id="b"></div>
                <div id="c">
                    <h3>Trainer/-innen gesucht!</h3>
                    <p>
                        Für Dich ist <strong>Fußball das Wichtigste im Leben</strong>. Du bist <strong>motiviert und engagiert</strong> - dann bist Du bei uns genau richtig!<br />
                    </p>
                    <p>
                        Wir, Wacker Gladbeck 1920 e.V., sind ein Fußballverein im Süden Gladbecks. Um dem ständig  steigenden Bedarf an
                        einem guten Fußballsport- bzw. Bewegungsangebot für Kinder und Jugendliche gerecht zu werden, suchen wir fortlaufend
                        Trainer/-innen für unsere Nachwuchskicker.
                    </p>
                    <p>Weitere Informationen hierzu folgen weiter unterhalb auf dieser Seite!</p>

                    <a href="" class="btn btn-dark">
                        <i class="fas fa-info-circle"></i> Mehr Informationen
                    </a>
                </div>
                <div id="d"></div>
            </div>
        </div>
    </section>
    <!-- End Section-Four -->

    <!-- Section-Five -->
    <section id="section-five">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <h3>Unsere Anforderungen</h3>
                    <p>
                        Unsere Anforderungen an einen(e) Trainer(in) sind <strong>Engagement</strong>, <strong>Zuverlässigkeit</strong>, <strong>Ehrlichkeit</strong>, <strong>Verantwortungsbewusstsein</strong>
                        und natürlich ein <strong>Faible für Fußball</strong>. Eine entsprechende Übungsleiterlizenz ist wünschenswert, allerdings für den Einstieg
                        nicht zwingend Vorraussetzung.
                    </p>
                    <p>
                        Unseren <strong>Trainer/-innen</strong> bieten wir die spannende Aufgabe, Kinder und Jugendliche für unseren Sport zu begeistern, sie in
                        ihren Träumen zu unterstützen, den <strong>Ausbau unserer Fußballjugend</strong> aktiv mitzugestalten und vor allem die Möglichkeit,
                        gemeinsam mit fußballbegeisterten Kindern und Jugendlichen ein Ziel zu erreichen. Dabei stehen bei uns, insbesondere
                        im Kinderbereich (G- bis E-Jugend), nicht "Ergebnisse und Leistung" sondern Verbesserung der individuellen Fähigkeiten
                        sowie Erfahren und Erlernen im Vordergrund!
                    </p>
                    <p>
                        Falls Du Interesse an einer <strong>Trainertätigkeit</strong> bei uns haben solltest, steht Dir Mario Gloddeck (Jugendgeschäftsführer) gern in
                        einem persönlichen Gespräch zur Verfügung.
                    </p>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img src="https://www.dfb.de/fileadmin/_processed_/201503/csm_54668-150302_Banner_Jugendleiter_Motiv2_1360x760_Pdf_Anhang_72dpi_c2847fb689.jpg" />
                    <div id="contact-box">
                        <p>Du hast Interesse an einer Trainertätigkeit in der Jugendabteilung von Wacker Gladbeck?<br />Dann kontaktiere uns!</p>
                        <a href="{{ path('kontakt') }}"><i class="fas fa-comments"></i> Kontakt</a>

                        <a href="https://m.me/wackergladbeck1920">
                            <i class="fab fa-facebook-square"></i> Chat per Messenger
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Five -->

    <!-- Section-Six -->
    <section class="bg-dark-field" id="section-six">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img src="{{ asset('assets/img/pictures/wackeraner_c_lizenz_bestanden.jpg') }}" alt="Wackeraner C-Lizenz bestanden" title="Wackeraner C-Lizenz bestanden" />
                <small>Von links nach rechts: Niklas Sinda, Pascal Werner & Justin Ruwe</small>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h3>Wacker Gladbeck hat drei neue Lizenztrainer</h3>
                <p>
                    Dezember 2016: In nur drei Monaten haben Nikas Sinda, Pascal Werner und Justin Ruwe vom B-Ligisten Wacker Gladbeck
                    120 Lerneinheiten und einen Schiedsrichterlehrgang absolviert, um anschließend ihre Prüfung vor den
                    Prüfern des Fußballkreises Gelsenkirchen abzulegen. Der Lohn: die neue Trainer-C-Lizenz.
                </p>
                <p>
                    Die drei Trainer werden ihr neues Wissen und das Gelernte in ihren Mannschaften von nun an
                    anwenden - Niklas Sinda in der E1-Jugend, Pascal Werner in der G-Jugend. Justin Ruwe musste seine Trainertätigkeit
                    mittlerweile aus beruflichen Gründen beenden.
                </p>
            </div>
        </div>
    </section>
    <!-- End Section-Six -->

    <div class="shadow-line"></div>

{% endblock %}