{% extends 'layout.html.twig' %}


{% block title %}Vereinsheim - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Das Vereinsheim von Wacker Gladbeck lädt zum gemütlichen Beisammensein an der Theke sowie den vielen Tischen ein - dieses kann auch für Veranstaltungen angemietet werden.{% endblock %}


{% block files %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
    <link rel="stylesheet" href="file:///Users/niklas/Downloads/3-amazing-bootstrap-4-gallery-templates/compact-gallery/compact-gallery.css">
    <link rel="stylesheet" href="{{ asset('assets/css/vereinsheim.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Vereinsheim</h1>
            <h2>Treffpunkt auf Wacker</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->


    <section id="section-one">
        <div class="iinner">
            <div id="a">
                <div id="b"></div>
                <div id="c">
                    <h3>Wacker Gladbeck Vereinsheim</h3>
                    <h4>Wir freuen uns auf Ihren Besuch</h4>

                    <p>Unser Wacker Gladbeck-Vereinsheim auf unserer Sportanlage im Wittringer Wald steht für Feierlichkeiten zur Verfügung.</p>
                    <p><strong>Vereinsheim mieten!</strong></p>
                    <p>Wenn Sie auf der Suche nach einem geeigneten Raum für Ihren Geburtstag, Ihre Hochzeit, Ihre Party, Ihre Jahresfeier, ein Jubiläum oder eine sonstige Veranstaltung in Laggenbeck sind, dann sind Sie bei uns genau richtig.</p>
                    <p>Alle Details zur Vermietung erfahren Sie gerne Vorort in unserem Vereinsheim oder per E-Mail an: vereinsheim@wacker-gladbeck.de</p>

                    <a href="" class="btn btn-dark">
                        <i class="fas fa-comments"></i> Kontakt
                    </a>
                </div>
                <div id="d"></div>
            </div>
        </div>
    </section>

    <!-- Section-Two -->
    <section id="section-two" class="compact-gallery">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <p>
                    Auf unserer Sportanlage von Wacker Gladbeck befindet sich unser <strong>Wacker Gladbeck Vereinsheim</strong>, welches zum gem&uuml;tlichen Beisammensein an der Theke oder an den
                    vielen Tischen einl&auml;dt - dieses kann auch f&uuml;r Veranstaltungen angemietet werden.<br />
                    Unser Vereinsheim im <strong>Gladbecker Süden</strong> befindet sich in unmittelbarer Nähe zum <strong>Wasserschloss Wittringen & Wittringer Wald</strong>, welche beide nur
                    wenige Meter von unserer Sportanlage entfernt sind.
                </p>
                <p>
                    Zur Saison 2015/2016 wurde das Vereinsheim frisch renoviert mit neuem Boden und neuer Tapete, welches jetzt noch mehr
                    zum Verweilen einl&auml;dt.
                </p>
                <p>
                    Das <strong>modernisierte Vereinsheim bietet Platz für ca. 60 Personen</strong>. Ein morgendliches, leckeres Frühstück zum kleinen Preis
                    ist nach Absprache in unserem Vereinsheim mittlerweile ein fester Bestandteil. Zudem sind noch ein gemütliches Pils oder
                    Weizenbier bei unserer freundlichen Wirtin von Dienstag - Sonntag täglich zu bekommen.<br />
                    Die aktuellen &Ouml;ffnungszeiten des Vereinsheims kannst Du unterhalb entnehmen.
                </p>
                <p>
                    Das Vereinsheim ist ein Treffpunkt f&uuml;r jeden Fu&szlig;ballbegeisterten, deshalb bist auch Du jederzeit herzlich willkommen,
                    mal bei uns vorbeizuschauen!
                </p>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 align-right">
                <div id="address-box">
                    <h3>Adresse unseres Vereinsheims</h3>
                    <p>
                        Sportplatz Wacker Gladbeck<br />
                        Burgstraße 2<br />
                        45964 Gladbeck
                    </p>
                    <a class="lightbox" href="{{ asset('assets/img/map/gmap2.jpg') }}">
                        <img class="img-fluid image" src="{{ asset('assets/img/map/gmap2.jpg') }}">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <div class="shadow-line"></div>

    <!-- section-Three -->
    <section id="section-three">
        <div class="row">
            <div class="col-xl-5 col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <img src="{{ asset('assets/img/vereinsheim/vereinsheim-neuer-anstrich.jpg') }}" />
            </div>
            <div class="col-xl-7 col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <div id="new-paint-content-box">
                    <h3>Wacker Gladbeck leuchtet im neuen Glanz</h3>
                    <p>
                        Unser Vereinsheim erhält den gebrauchten neuen Anstrich und glänzt demnächst wieder komplett in unseren
                        Vereinsfarben gelb-schwarz!
                    </p>
                    <p>
                        Ein großer Dank geht an engagierte Ehrenamtliche aus unserer Jugendabteilung, welche bereits den Ballcaontainer
                        mit unseren Farben neu angestrichen haben. Das Ergebnis (siehe Bild links) sieht bereits sehr gut aus!
                    </p>
                    <p>
                        In den nächsten Wochen wird das Vereinsheim in der selben Farbe sowie Muster wie bereits der Ballcontainer gestrichen.
                        Auf das ganze Gesamtergebnis sind wir bereits jetzt schon gespannt!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Three -->

    <div class="shadow-line"></div>

{% endblock %}