{% extends 'layout.html.twig' %}


{% block title %}Vorstand - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Der Wacker Gladbeck Vorstand führt die Geschäfte des Vereins und vertritt ihn nach außen. Diese Menschen sorgen dafür, dass unsere Fußballer sich auf das Wesentliche.{% endblock %}


{% block files %}
    <script src="{{ asset('assets/tools/imagefill/js/jquery-imagefill.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/vorstand.css') }}" />
    <script>
        jQuery(document).ready(function($) {
            $('.newls-image-box').imagefill();
        });
    </script>
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Vorstand</h1>
            <h2>Leitung, Organisation & Betreuung</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="container">
            <p>Der <strong>Vorstand führt die Geschäfte des Vereins</strong> und <strong>vertritt ihn nach außen.</strong></p>
            <p>
                Mit neuem Personal und vielen helfenden Händen, konnte der große Berg an Arbeit auf viele Schultern im Vorstand von <strong>Wacker Gladbeck</strong> verteilt werden.<br />
                Dadurch ist die Flexibilität und vor allem auch die Effizienz deutlich verbessert worden.
            </p>
            <p>
                Zusammen zieht der <strong>Vorstand</strong> von Wacker Gladbeck an einem Strang und lenkt die <strong>Geschicke der Fußball-Abteilung</strong> in enger Zusammenarbeit mit dem <strong>Jugendvorstand</strong>.<br />
                Ihr habt Fragen, Anregungen oder ein Problem? Dann wendet Euch an den passenden Ansprechpartner aus unserem Vorstand.<br />
                Wir stehen Euch gerne zur Verfügung und hoffen, Euch helfen zu können!
            </p>
        </div>
    </section>
    <!-- End Section-One -->

    <div class="shadow-line"></div>

    <!-- Section-Two -->
    <section id="section-two">
        <div class="container">
            <div class="row">
                {% for member in hauptvorstand %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="news-box">
                            <a href="" title="" class="news-image-box">
                                <img src="{{ asset('assets/img/persons') }}/{{ member.picture|replace({'_klein': ''}) }}" />
                                <div class="news-box-overlay"></div>
                                <div class="news-content">
                                    <div class="news-category">
                                        <div class="news-category-left">{{ member.vorstand_name }}</div>
                                        <div class="news-category-right"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="news-category2">
                                        <div class="news-category-left2">{{ member.role|replace({'&auml;': "ä", "&uuml;" : "ü"}) }}</div>
                                        <div class="news-category-right2"></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="news-content-box">
                                <p><i class="fas fa-envelope"></i> info@wacker-gladbeck.de</p>
                                <hr />
                                <p><i class="fas fa-phone"></i> 02043 / 288050</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                {% for member in jugendvorstand %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="news-box">
                            <a href="" title="" class="news-image-box">
                                <img src="{{ asset('assets/img/persons') }}/{{ member.picture|replace({'_klein': ''}) }}" />
                                <div class="news-box-overlay"></div>
                                <div class="news-content">
                                    <div class="news-category">
                                        <div class="news-category-left">{{ member.vorstand_name }}</div>
                                        <div class="news-category-right"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="news-category2">
                                        <div class="news-category-left2">{{ member.role|replace({'&auml;': "ä", "&uuml;" : "ü"}) }}</div>
                                        <div class="news-category-right2"></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="news-content-box">
                                <p><i class="far fa-envelope"></i> info@wacker-gladbeck.de</p>
                                <hr />
                                <p>Tel.: 02043 / 288050</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                {% for member in weitere_aemter %}
                    <div class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="news-box">
                            <a href="" title="" class="news-image-box">
                                <img src="{{ asset('assets/img/persons') }}/{{ member.picture|replace({'_klein': ''}) }}" />
                                <div class="news-box-overlay"></div>
                                <div class="news-content">
                                    <div class="news-category">
                                        <div class="news-category-left">{{ member.vorstand_name }}</div>
                                        <div class="news-category-right"></div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="news-category2">
                                        <div class="news-category-left2">{{ member.role|replace({'&auml;': "ä", "&uuml;" : "ü"}) }}</div>
                                        <div class="news-category-right2"></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                            <div class="news-content-box">
                                <p>Mail: info@wacker-gladbeck.de</p>
                                <hr />
                                <p>Tel.: 02043 / 288050</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Section-Two -->

    <!-- Section-Four -->
    <section class="bg-dark-field" id="section-four">
        <h3>Organigramm</h3>
        <p>
            Um einen aktuellen Überblick über die Aufgabenverteilung des Wacker Gladbeck 1920 e.V. zu bekommen,<br />
            wurde im Jahr 2018 ein erstes Organigramm des Gesamtverein angelegt.
        </p>
        <img src="{{ asset('assets/img/graphics/coming-soon.png') }}" />
    </section>
    <!-- End Section-Four -->

    <!-- Section-Three -->
    <section id="section-three">
        <h3>Mitarbeit bei Wacker Gladbeck</h3>
        <p>
            Engagement bei Wacker Gladbeck wird immer gerne gesehen! Wir glauben daran, dass jeder nach seinen Interessen,
            Möglichkeiten und Fähigkeiten für ein großes Projekt wie Wacker Gladbeck wertvoll sein kann!
        </p>
        <p>Wenn Sie in unserem Verein mitarbeiten möchten, freuen wir uns über eine Nachricht!</p>
        <a href="{{ path('kontakt') }}"><i class="fas fa-comments"></i> Kontakt</a>

        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <img src="https://kampagne.dfb.de/static/kampagne/img/content/slideshows/wallpaper/vorstand-l.jpg?v=5.1.06" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <img src="https://kampagne.dfb.de/static/kampagne/img/content/slideshows/wallpaper/bell-l.jpg?v=5.1.06" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <img src="https://kampagne.dfb.de/static/kampagne/img/content/slideshows/wallpaper/spyro-vouvakis-l.jpg?v=5.1.06" />
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-123">
                    <img src="https://kampagne.dfb.de/static/kampagne/img/content/slideshows/wallpaper/andrea-grimm-l.jpg?v=5.1.06" />
                </div>
            </div>
        </div>
    </section>
    <!-- End Section-Three -->

{% endblock %}