{% extends 'layout.html.twig' %}


{% block title %}Neuigkeiten - Wacker Gladbeck 1920 e.V.{% endblock %}
{% block description %}Neuigkeiten über Wacker Gladbeck - Immer aktuell über den Verein, Mannschaften, Spiele und Ergebnisse, Veranstaltungen und vieles mehr informiert!{% endblock %}


{% block files %}
    <script type="text/javascript" src="https://www.fupa.net/fupa/widget.min.js"></script>
    <script src="{{ asset('assets/js/news.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/news.css') }}" />
{% endblock %}

{% block content %}

    <div id="page-header">
        <div id="page-header-overlay">
            <h1>Wacker Gladbeck 1920 e.V.</h1>
            <h2>Neuigkeiten über Wacker Gladbeck</h2>
        </div>
    </div>

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <span id="breadcrumb-icon"><i class="fas fa-home" aria-hidden="true"></i></span>
        <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="http://localhost:9376" itemprop="url">
                <span itemprop="title">Startseite</span>
            </a>
        </li>
        {% for i in urlPath %}
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9376/{{ i.path }}" itemprop="url">
                    <span itemprop="title">{{ i.name|capitalize }}</span>
                </a>
            </li>
        {% endfor %}
    </ol>
    <!-- End Breadcrumb -->

    <!-- Section-One -->
    <section id="section-one">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                <div class="section-area-headline">
                    <h3><i class="fas fa-bars"></i> Aktuelles</h3>
                </div>

                <div class="row">
                    {% for news in newsData %}
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="news-box">
                                <a href="{{ path('newsarticle', {'article': news.url_path}) }}" title="{{ news.news_title }}" class="news-image-box">
                                    <img src="{{ news.image }}" />
                                    <div class="news-box-overlay"></div>
                                    <div class="news-content">
                                        <div class="news-category">
                                            <div class="news-category-left">sdsdsd</div>
                                            <div class="news-category-right"></div>
                                            <div class="clear"></div>
                                        </div>
                                        <h3 class="news-title">{{ news.news_title }}</h3>
                                    </div>
                                </a>
                                <div class="news-content-box">
                                    <p>{{ news.news_content|striptags }}</p>
                                    <hr />
                                    <span>{{ news.news_date|date("d.m.Y") }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="...">
                            <ul class="pagination">
                                {% for i in 1..pagesNumber %}
                                    {% if i == activePage %}
                                        <li class="page-item active"><a class="page-link" href="{{ path('newspage', {'page': i}) }}">{{ i }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="{{ path('newspage', {'page': i}) }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="section-area-headline">
                    <h3><i class="fas fa-bars"></i> Tabelle</h3>
                </div>
                <div id="table-box">

                    <script type="text/javascript"
                            src="http://www.fussball.de/static/layout/fbde2/egm//js/widget2.js">
                    </script>
                    <div id="widget1"></div>
                    <script type="text/javascript">
                        new fussballdeWidgetAPI().showWidget('widget1', '024NTL73DK000000VS541L4KVS1KIH7T');
                    </script>
                </div>

                <div class="section-area-headline-margin">
                    <h3><i class="fas fa-bars"></i> Facebook</h3>
                </div>
                <div id="facebook-feed-box">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = 'https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.12&appId=627503054047415&autoLogAppEvents=1';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                    <div class="fb-page" data-href="https://www.facebook.com/Wacker-Gladbeck-1920-eV-375779892586904/" data-tabs="timeline, events, messages" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Wacker-Gladbeck-1920-eV-375779892586904/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Wacker-Gladbeck-1920-eV-375779892586904/">Wacker Gladbeck 1920 e.V</a></blockquote></div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Section-One -->

{% endblock %}