<!DOCTYPE html>
<html>
<head>
    <title>{{ newsArticle.news_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="{{ newsArticle.news_content|striptags|slice(0, 150) }}" />
    <meta name="keywords" content="Wacker Gladbeck, Wacker Gladbeck 1920 e.V., Wacker, Gladbeck, 1920, Eingetragener Verein, e.V., Verein, Fußballgemeinschaft, Amateurverein, Amateurfußball, Ascheplatz, Fußballverein, Fußball, Fussball, Jugendabteilung, Jugend, Kinder, Sport, Damenfußball, Seniorenabteilung, Vereinsheim, Wittringen, Schloss Wittringen, Wasserschloss Wittringen, Stadion Gladbeck, Gladbecker Stadion, Turnier, Jugendfußball, Fußball spielen, Fußballmannschaft, Nordrhein-Westfalen, Sportverein, Gemeinschaft, Probetraining" />
    <meta name="page-topic" content="Sport, Fußball, Fussball, Gladbeck, Jugend, Sportanlage, Fitness, Gemeinschaft, Verein" />
    <meta name="page-type" content="Fuballverein, Homepage, Sport, Vereinseite" />
    <meta name="audience" content="Alle"><meta http-equiv="content-language" content="de">
    <meta name="robots" content="index, follow">
    <meta name="copyright" content="Wacker Gladbeck 1920 e.V." />

    <link rel="shortcut icon" href="http://localhost:9376/assets/img/icons/favicon-16x16.png" type="image/png" />
    <link rel="icon" href="http://localhost:9376/assets/img/icons/favicon-16x16.png" type="image/png" />
    <link rel="alternate" hreflang="x-default" href="http://localhost:9911/news/{{ newsArticle.url_path }}" />
    <link rel="canonical" href="https://www.wacker-gladbeck.de" />
    <meta name="identifier-url" content="https://www.wacker-gladbeck.de" />

    <meta property="fb:app_id" content="479445678871045" />
    <meta property="og:title" content="Fußball bei Wacker Gladbeck 1920 e.V. - Fußball in Gladbeck" />
    <meta property="og:site_name" content="Wacker Gladbeck 1920 e.V." />
    <meta property="og:url" content="https://wacker-gladbeck.de" />
    <meta property="og:description" content="Herzlich Willkommen bei Wacker Gladbeck 1920 e.V. - Deinem Fußballverein im Süden von Gladbeck!" />
    <meta property="og:image" content="http://wacker-gladbeck.de/assets/img/logo/logo_platz_bg.png" />
    <meta property="og:image:secure_url" content="http://wacker-gladbeck.de/assets/img/logo/logo_platz_bg.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de_DE" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/icons/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/icons/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/icons/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/icons/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/icons/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/icons/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/icons/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/icons/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icons/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../assets/img/icons/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/icons/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/icons/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/icons/favicons/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/icons/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/icons/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- VENDOR FILES -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="{{ asset('assets/tools/sweetalert/sweetalert2.all.js') }}"></script>

    <!-- CUSTOM FILES -->
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <link href="{{ asset('assets/css/stylesheet.css') }}" rel="stylesheet" />
    <script src="{{ asset('assets/js/news-article.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/news-article.css') }}" />
</head>
<body>

<!-- Container -->
<div class="container-fluid">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light nav-list">
        <div id="nav-logo-box" class="nav-logo-box-small">
            <a class="navbar-brand" href="{{ path('index') }}" title="Wacker Gladbeck Startseite">
                <img src="{{ asset('assets/img/logo/logo_transparent.png') }}" id="logo" title="Wacker Gladbeck Logo" alt="Wacker Gladbeck Logo" />
            </a>
            <span>Wacker Gladbeck</span>
            <div class="clear"></div>
        </div>

        <button type="button" id="sidebar-btn">
            <i class="fas fa-bars"></i>
        </button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item first-nav-element">
                    <a class="nav-link" href="{{ path('news') }}">News</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('verein') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Verein <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('aboutus') }}">Über uns</a>
                                    <a class="dropdown-item" href="{{ path('vorstand') }}">Vorstand</a>
                                    <a class="dropdown-item" href="{{ path('trainer') }}">Trainer</a>
                                    <a class="dropdown-item" href="{{ path('geschichte') }}">Geschichte</a>
                                    <a class="dropdown-item" href="{{ path('portrait') }}">Portrait</a>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('vereinsheim') }}">Vereinsheim</a>
                                    <a class="dropdown-item" href="{{ path('sportplatz') }}">Sportplatz</a>
                                    <a class="dropdown-item" href="{{ path('anfahrt') }}">Anfahrt</a>
                                    <a class="dropdown-item" href="{{ path('termine') }}">Termine</a>
                                    <a class="dropdown-item" href="{{ path('mitgliedschaft') }}">Mitgliedschaft</a>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('teams') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mannschaften <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu multi-column columns-2" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 1}) }}">1. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 2}) }}">2. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 3}) }}">3. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 4}) }}">4. Mannschaft</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 5}) }}">Altherren</a>
                                    <a class="dropdown-item" href="{{ path('teampage', {'section': 'senioren', 'teamid': 6}) }}">Damen</a>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="multi-column-dropdown">
                                    <a class="dropdown-item" href="{{ path('jugend') }}">Jugendabteilung</a>
                                </ul>
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('trainingszeiten') }}">Trainingszeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('schiedsrichter') }}">Schiedsrichter</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('business') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Business
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('sponsoring') }}">Sponsoring</a>
                        <a class="dropdown-item" href="{{ path('sponsor_werden') }}">Sponsor werden</a>
                        <a class="dropdown-item" href="{{ path('sponsoren') }}">Unsere Sponsoren</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('medien') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medien
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('bildergalerie') }}">Bildergalerie</a>
                        <a class="dropdown-item" href="{{ path('wackertv') }}">WackerTV</a>
                        <a class="dropdown-item" href="{{ path('downloads') }}">Downloads</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ path('kontakt') }}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kontakt
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('kontakt') }}">Kontaktdaten</a>
                        <a class="dropdown-item" href="{{ path('impressum') }}">Impressum</a>
                        <a class="dropdown-item" href="{{ path('links') }}">Links</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar-small">
        <ul class="nav flex-column" id="sidebar-nav">
            <li class="nav-item" id="nav-item-profile">
                <a href="#menu1" class="collapsed nav-link nav-link-top nav-link-profile" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false">
                    <div id="user-profile-picture-box">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}<img src="{{ user.picture }}">{% endif %}
                        <span>{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ user.name }}{% endif %}</span>
                        <div class="clear"></div>
                    </div>
                </a>
                <div class="collapse" id="menu1">
                    <a href="#" class="dropdown-item" data-parent="#menu1">Subitem 2</a>
                    <a href="#" class="dropdown-item" data-parent="#menu1">Subitem 3</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-top active" href="#">
                    <i class="fas fa-envelope"></i> <span class="nav-link-text">Nachrichten</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- End Sidebar -->

    <!-- Content -->
    <div id="content" class="content-big">

        <div id="page-header">
            <div id="page-header-overlay">
                <h1>{{ newsArticle.news_title }}</h1>
                <h2>{{ newsArticle.news_date|date("d.m.Y") }}</h2>
            </div>
        </div>

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9911" itemprop="url">
                    <span itemprop="title">Startseite</span>
                </a>
            </li>
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9911/news" itemprop="url">
                    <span itemprop="title">News</span>
                </a>
            </li>
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="http://localhost:9911/news/{{ newsArticle.url_path }}" itemprop="url">
                    <span itemprop="title">{{ newsArticle.news_title }}</span>
                </a>
            </li>
        </ol>
        <!-- End Breadcrumb -->

        <!-- Section-One -->
        <section id="section-one">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div id="news-article-box">
                        <img src="{{ newsArticle.image }}" />
                        {% autoescape false %}
                            {{ newsArticle.news_content|raw }}
                        {% endautoescape %}
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div id="top-news-box">
                        <div class="section-area-headline">
                            <h3><i class="fas fa-bars"></i> Top News</h3>
                        </div>

                        {% for topNewss in topNews %}
                            <a href="{{ path('newsarticle', {'article': topNewss.url_path}) }}" title="{{ topNewss.news_title }}" class="top-news-article">
                                <img src="{{ topNewss.thumbnail }}" class="top-news-thumbnail" />
                                <div class="top-news-content">
                                    <div class="top-news-title">{{ topNewss.news_title }}</div>

                                    {#{% if topNewss.comments_count == 1 %}
                                        <div class="top-news-comments"><i class="fas fa-comment"></i> {{ topNewss.comments_count }} Kommentar</div>
                                    {% else %}
                                        <div class="top-news-comments"><i class="fas fa-comments"></i> {{ topNewss.comments_count }} Kommentare</div>
                                    {% endif %}#}

                                    <div class="top-news-date"><i class="far fa-clock"></i> {{ topNewss.news_date|date("d.m.Y") }}</div>
                                </div>
                                <div class="clear"></div>
                            </a>
                        {% endfor %}
                    </div>

                    <div id="wackertv-box">
                        <a href="{{ path('wackertv') }}">
                            <img src="{{ asset('assets/img/logo/wackertv_logo.png') }}" />
                        </a>
                    </div>

                    <!--<div id="comment-box">
                        <div class="section-area-headline">
                            <h3><i class="fas fa-bars"></i> Kommentare</h3>
                        </div>

                        {#{% for comment in comments %}
                            <div class="comment" id="comment-{{ comment.comment_id }}">
                                <div class="comment-content">{{ comment.comment_content }}</div>
                                <div class="comment-info">
                                    {{ comment.username }} | {{ comment.comment_time|date("d.m.Y H:i:s") }}
                                    {% if user.user_id == comment.user_id %}
                                        <button class="btn btn-xs btn-default delete-comment" data-newsid="{{ comment.news_id }}" data-commentid="{{ comment.comment_id }}"><i class="fas fa-times"></i></button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}#}

                        {#{% if user is defined %}
                            <div id="comment-error"></div>
                            <form id="user-comment-form" type="GET">
                                <label for="user-comment">Kommentiere diesen Beitrag:</label>
                                <textarea class="form-control" name="" id="user-comment"></textarea>
                                <button type="submit" class="btn btn-sm btn-dark" id="save-comment-btn">Speichern</button>
                            </form>
                        {% else %}
                            <p>Um einen Kommentar zu schreiben, logge Dich bitte zuerst ein!</p>
                        {% endif %}#}
                    </div>-->
                </div>
            </div>
        </section>
        <!-- End Section-One -->

        <!-- Footer -->
        <footer>
            <div id="footer-top">
                <div class="row text-left">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <ul class="top-level-list">
                            <li><a href="" title="Aktuelles">News</a></li>
                            <li><a href="" title="Geschichte">Trainingszeiten</a></li>
                            <li><a href="" title="Geschichte">Schiedsrichter</a></li>
                            <li><a href="" title="Geschichte">Sponsoren</a></li>
                            <li><div class="sharethis-inline-share-buttons"></div></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Verein</span>
                        <ul>
                            <li><a href="" title="Aktuelles">Über uns</a></li>
                            <li><a href="" title="Geschichte">Vorstand</a></li>
                            <li><a href="" title="Geschichte">Trainer</a></li>
                            <li><a href="" title="Geschichte">Geschichte</a></li>
                            <li><a href="" title="Geschichte">Vereinsheim</a></li>
                            <li><a href="" title="Geschichte">Sportplatz</a></li>
                            <li><a href="" title="Geschichte">Anfahrt</a></li>
                            <li><a href="" title="Geschichte">Termine</a></li>
                            <li><a href="" title="Geschichte">Mitgliedschaft</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Mannschaften</span>
                        <ul>
                            <li><a href="" title="Über uns">1. Mannschaft</a></li>
                            <li><a href="" title="Mitgliedschaft">2. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">3. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">4. Mannschaft</a></li>
                            <li><a href="" title="Geschichte">Altherren</a></li>
                            <li><a href="" title="Geschichte">Damen</a></li>
                            <li><a href="" title="Geschichte">Jugendabteilung</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <span>Medien</span>
                        <ul id="medien-nav-list">
                            <li><a href="" title="Sponsor werden">Bildergalerie</a></li>
                            <li><a href="" title="Unsere Partner">WackerTV</a></li>
                        </ul>

                        <span>Kontakt</span>
                        <ul>
                            <li><a href="" title="Impressum">Kontaktdaten</a></li>
                            <li><a href="" title="Kontakt">Impressum</a></li>
                            <li><a href="" title="Geschichte">Links</a></li>
                            <li><a href="" title="Geschichte">Gästebuch</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><span>Copyright &copy; {{ "now"|date("Y") }} - Wacker Gladbeck 1920 e.V.</span></div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span>Folge uns auf</span>
                        <a href="https://www.facebook.com/Wacker-Gladbeck-1920-eV-375779892586904/" title="Wacker Gladbeck auf Facebook" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" title="Wacker Gladbeck auf Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UC3vQzWZnETfMoj4uE5zFCzQ" title="Wacker Gladbeck auf YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
    <!-- End Content -->

</div>
<!-- End Container -->

</body>
</html>